<%= simple_form_for @blog do |f| %>
 <%= f.input :blog_title %>
 <%= f.input :blog_description %>
 <%= f.input :blog_main_img %>
 <%= f.input :blog_date %>
 <h3 class="blog_input_link">Enter Blog URL(ex /blog_posts/post_01 )</h3>
 <%= f.input :blog_link %>

 <%= f.button :submit %>
<% end %>



