<div id="wrapper">
  <div id="main">
    <div class="inner">
      <%= render 'shared/header' %>
      <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

      <div class="blog_wrapper">
       <div class="blog_left_main">

        <!-- for play youtube video-->
        <div class="overlay-video">
          <div class="videoWrapperExt">
            <div class="videoWrapper">
              <div class="video_close"></div>
                <iframe id="player" width="853" height="480" src="" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>        
         </div>

         <div class="show_header">
           <h1 class="show_main_title">10 Awesome Smart Home Gadgets You Need To See</h1>
            <ul class="blog_post_date">
            <li class="blog_icon"><img src="https://i.pinimg.com/564x/53/f0/aa/53f0aa1d10c1a6bbd381c6f17bd5ac15.jpg"></li>
            <li class="posted"><p>Oh,i gotta buy this</p></li>
            <li class="blog_icon"><img src="https://i.pinimg.com/564x/a6/e6/e8/a6e6e86d96fdbb7517993e0b7c43b1c4.jpg"></li>
            <li class="posted_date"><p>April.06.2018</p></li>
           </ul>
           <img src="https://3.bp.blogspot.com/-0Ov80MwVP0Q/WijjYA_NgdI/AAAAAAAACCM/OJpvy91JjoIa5AZirVuElHocK2lsxPYBwCLcBGAs/s1600/five%2B%25281%2529.png" alt="Awesome Smart Home Gadgets You Need To See">
           <p class="main_intro">Looking to make your home just a little smarter? While still in its infancy, the number of smart home products—devices that let you control your lighting, thermostat, or even your crock pot from your smartphone—is rapidly growing. You can pick and choose your favorite gadgets to assemble an affordable intelligent abode on your own terms, or opt for an entire smart home system that does all the work for you. Here are some of smart home systems and individual gadgets.</p>
         </div>
         <!-- <div class="show_header">
           <h1 class="show_main_title">Main_title</h1>
            <ul class="blog_post_date">
            <li class="blog_icon"><img src="https://i.pinimg.com/564x/53/f0/aa/53f0aa1d10c1a6bbd381c6f17bd5ac15.jpg"></li>
            <li class="posted"><p>Oh,i gotta buy this</p></li>
            <li class="blog_icon"><img src="https://i.pinimg.com/564x/a6/e6/e8/a6e6e86d96fdbb7517993e0b7c43b1c4.jpg"></li>
            <li class="posted_date"><p>April.06.2018</p></li>
           </ul>
           <img src="Main_Image" alt="ImageTitle">
           <p>Main_Intro</p>
         </div> -->

         <div class="show_body">
           <h2 class="show_sub_title"><a target="_blank" href="https://goo.gl/S5ypXk">1.The Barisieur: Designer Coffee & Tea Alarm Clock</a></h2>
           <p>A beautifully designed alarm clock in high-end materials, waking you with freshly brewed coffee or tea.</p>
           <a target="_blank" href="https://goo.gl/S5ypXk"><img src="https://3.bp.blogspot.com/-Tu6zgSYffIQ/Wg1jDtIAGFI/AAAAAAAABDk/myLGIuSI3-cXtkz5_oU326oHBquYYkfmACLcBGAs/s640/68caa5c9a9c1e8048acaaed0d2545225_original.jpg" alt="The Barisieur"></a>
           <h5>via Kickstarter.com</h5>
           <p class="show_p">The Barisieur is an automatic coffee or tea brewer that eases you into the day with the sound of bubbling water and the smell of freshly brewed coffee or loose leaf tea. It encourages a ritual in order to establish a routine before going to sleep, signalling to the body and mind that it is time to unwind and relax.</p>
           <ul class="blog_post_date">
             <li class="posted"><a target="_blank" href="https://goo.gl/S5ypXk">Learn More</a></li>
             <li class="posted">
               <div class="js-overlay-start start" data-url="https://www.youtube.com/embed/NEdhfdmoPnM?rel=0&amp;showinfo=0&amp;autoplay=1">
                <button class="blog_watch_button"><i class="fa fa-play"></i>Watch Video</button>
               </div>
            </li>
           </ul>
           <div class="blog_bottomline"></div>
          </div>

           <div class="show_body">
             <h2 class="show_sub_title"><a target="_blank" href="Site_Link">Sub_Title</a></h2>
             <p class="show_p">Sub_Intro_01</p>
             <a target="_blank" href="Site_Link"><img src="Image_URL" alt="ImageTitle"></a>
             <h5>Source</h5>
             <p class="show_p">Sub_Intro_02</p>

             <h3 class="show_review_title">Top positive review</h3>
             <p>(as much as over "HowMany_People" people found this helpful)</p>
             <p class="show_review_content">Review_contents &nbsp;<a target="_blank" href="Review_Link">By Reviwer</a></p>
             <h3 class="show_review_title">Top critical review</h3>
             <p>(as much as over "HowMany_People" people found this helpful)</p>
             <p class="show_review_content">Review_contents &nbsp;<a target="_blank" href="Review_Link">By Reviwer</a></p>

             <div class="blog_special_offer">
               <h3>Special offers and product promotions.</h3>
               <p class="show_special_offer"><a target="_blank" href="Special_Offer_Link">Special offers: Offers_Contents</p></a>
               <p class="show_special_offer">Promotion Code: Code_Here</p>
               <%= link_to "See More Promodion Codes", discount_codes_path %>
             </div>

             <ul class="blog_post_date">
               <li class="posted"><button><a target="_blank" href="Site_Link">Learn More</a></button></li>
               <li class="posted">
                 <div class="js-overlay-start start" data-url="YouTube_Link?rel=0&amp;showinfo=0&amp;autoplay=1">
                  <button><i class="fa fa-play"></i>Watch Video</button>
                 </div>
              </li>
             </ul>
             <div class="blog_bottomline"></div>
          </div>

       </div><!--/.blog_left_main-->

       <div class="blog_right_side">

        <div class="blog_show_promotion">
          <a href="#"><img src="https://images-na.ssl-images-amazon.com/images/G/01/kindle/merch/2018/TPR/MarchKnightTPR/VX-1649-TPR_ESH_Associates-300x250-1X.jpg"></a>
          <img src="https://images-na.ssl-images-amazon.com/images/G/01/kindle/merch/2018/TPR/MarchKnightTPR/VX-1649-TPR_ESH_Associates-300x250-1X.jpg">
          <a href="#"><p class="see_more">See More Promotions</p></a>
        </div>  

        <div class="blog_show_shoes">
          <h2>Shoes</h2>
          <% @random.each do |random| %>  
            <%= link_to (image_tag random.main_img), random, {:class =>"blog_side"} %>
            <p class="blog_show_shoe_title"><%= link_to random.title, random %></p>
          <% end %>
          <a href="#"><p class="see_more">See More Shoes</p></a></br>      
        </div>

        <h2>Gadgets</h2>  
        <% @ecommerces.each do |gadget| %>
         <a href="/ecommerces/detail/<%= gadget.id %>"><div class="blog_side_img"><img src="<%= gadget.image_main%>"></div></a>
        <% end %>
        <a href="#"><p class="see_more">See More Gadgets</p></a></br>      
         

        <div>
          <a href="/search/quicksearch"><img src="https://i.pinimg.com/564x/e8/a6/ce/e8a6ced6c8256ce3664eac7261b0eb21.jpg" alt="Find Deals">
        </div>

         <div>
          <a href="/search/quicksearch"><img src="https://i.pinimg.com/564x/e8/a6/ce/e8a6ced6c8256ce3664eac7261b0eb21.jpg" alt="Find Deals">
        </div>

         <div>
          <a href="/search/quicksearch"><img src="https://i.pinimg.com/564x/e8/a6/ce/e8a6ced6c8256ce3664eac7261b0eb21.jpg" alt="Find Deals">
        </div>

         <div>
          <a href="/search/quicksearch"><img src="https://i.pinimg.com/564x/e8/a6/ce/e8a6ced6c8256ce3664eac7261b0eb21.jpg" alt="Find Deals">
        </div>

     </div><!--/.blog_right_side-->
    </div><!--/.blog_wrapper-->


  
    </div><!--/.inner-->
  </div><!--/#main-->
</div><!--/#wrapper-->