<div id="wrapper">
  <div id="main">
    <div class="inner">
      <%= render 'shared/header' %><br>
      <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
      
      <div class="blog_banner_wrap">
        <div class="blog_banner_left">
         <a href="/search/quicksearch"><img src="<%=asset_path 'amazon_banner.png'%>" alt="Planning a shopping on amazon?" title="Planning a shopping on amazon?"></a>
        </div>
        <div class="right_banner">
          <a href="/discounts"><img src="<%=asset_path 'ebay_banner.png' %>" alt="the best shopping tip blog" title="the best shopping tip"></a>
        </div>
      </div>

      <div class="blogs_wrapper">    

       <div class="blog_left_main">
        
          <% @blogs.each do |blog| %>
            <div class="blog-card">
              <div class="photo photo1" style="background: url(<%= blog.blog_main_img %>) center no-repeat; background-size: cover;" title="<%= blog.blog_spare_02 %>"></div>
              <ul class="details">
                <li class="author"><a href="<%= blog.blog_link %>">Oh,i gotta buy this</a></li>
                <li class="date"><%= blog.blog_date %></li>
                <% if can? :update, blog %>
                  <li><%= link_to "Edit", edit_blog_path(blog) %></li>
                  <li><%= link_to "Delete", blog_path(blog), method: :delete, data: { confirm: "Are you sure" } %></li>
                <% end %>
              </ul>
              <div class="description">
                <h1 class="blog_home_post_h1"><%= blog.blog_title %></h1>
                <p class="summary"><%= blog.blog_description %></p>
                <a href="<%= blog.blog_link %>">Read More</a>
              </div>
            </div>
          <% end %>

          <div class="blog-card">
            <div class="photo photo1" style="background: url(https://icdn2.digitaltrends.com/image/amazon-prime-day-packages-3-720x720.jpg) center no-repeat; background-size: cover;" title="Amazon Prime"></div>
            <ul class="details">
              <li class="author"><a href="/blog_posts/post_05">Oh,i gotta buy this</a></li>
              <li class="date">Jul. 10. 2018</li>
            </ul>
            <div class="description">
              <h1 class="blog_home_post_h1">All About The Amazon prime</h1>
              <p class="summary">Amazon Prime is a paid subscription service($119 per year currently, plus a free 30-day trial or $12.99 per month) offered by Amazon that gives users access to free two-day delivery (one-day in some areas), streaming video and music, and other benefits for a monthly or yearly fee.</p>
              <a href="/blog_posts/post_05">Read More</a>
            </div>
          </div>

           <div class="blog-card">
            <div class="photo photo1" style="background: url(https://i.pinimg.com/564x/eb/19/50/eb19506d43bc49d673d7d14dcdf35513.jpg) center no-repeat; background-size: cover;" title="10 Awesome & Portable Coffee Makers"></div>
            <ul class="details">
              <li class="author"><a href="/blog_posts/post_04">Oh,i gotta buy this</a></li>
              <li class="date">Jun. 27. 2018</li>
            </ul>
            <div class="description">
              <h1 class="blog_home_post_h1">10 Awesome & Portable Coffee Makers</h1>
              <p class="summary">What if you could wake up each morning, DIY make your favorite coffee anywhere anytime, and could brew you the freshest cup of coffee possible? Now You can. With this awesome & portable coffee makers, you can make fresh coffee for yourself or your families with little effort. Perfect gift for a coffee lover for sure. </p>
              <a href="/blog_posts/post_04">Read More</a>
            </div>
          </div>

          <div class="blog-card">
            <div class="photo photo1" style="background: url(https://i.pinimg.com/564x/4c/14/ae/4c14ae6547540a6dc4d51d5061c4d731.jpg) center no-repeat; background-size: cover;" title="Comfortable Travel Pillow"></div>
            <ul class="details">
              <li class="author"><a href="/blog_posts/post_03">Oh,i gotta buy this</a></li>
              <li class="date">Jun. 11. 2018</li>
            </ul>
            <div class="description">
              <h1 class="blog_home_post_h1">10 Comfortable Travel Pillow you can deep sleep.</h1>
              <p class="summary">I`d like to share 10 Comfortable “Travel Pillow” that will make you have a sweet dream while you traveling today. Have you ever sat in an economy class seat, tossing and turning, deliriously trying to get to sleep? Knowing you need to be feeling rested when you arrive? Say goodbye to long restless airplane flights, train rides, car rides and bus rides. Now you can sleep as comfortably as you sleep in your own bed. It allows you to get deep sleep while traveling. And These are the first travel pillows that allow you to make sure you find the most comfortable position during your travels.</p>
              <a href="/blog_posts/post_03">Read More</a>
            </div>
          </div>
          <div class="blog-card">
            <div class="photo photo1" style="background: url(https://3.bp.blogspot.com/-0Ov80MwVP0Q/WijjYA_NgdI/AAAAAAAACCM/OJpvy91JjoIa5AZirVuElHocK2lsxPYBwCLcBGAs/s1600/five%2B%25281%2529.png) center no-repeat; background-size: cover;" title="Awesome Smart Home Gadgets"></div>
            <ul class="details">
              <li class="author"><a href="/blog_posts/post_02">Oh,i gotta buy this</a></li>
              <li class="date">May. 29. 2018</li>
            </ul>
            <div class="description">
              <h1 class="blog_home_post_h1">10 Awesome Smart Home Gadgets You Need To See</h1>
              <p class="summary">Looking to make your home just a little smarter? While still in its infancy, the number of smart home products—devices that let you control your lighting, thermostat, or even your crock pot from your smartphone—is rapidly growing. You can pick and choose your favorite gadgets to assemble an affordable intelligent abode on your own terms, or opt for an entire smart home system that does all the work for you. Here are some of smart home systems and individual gadgets.</p>
              <a href="/blog_posts/post_02">Read More</a>
            </div>
          </div>
          <div class="blog-card">
            <div class="photo photo1" style="background: url(https://i.pinimg.com/564x/d7/b5/33/d7b5337801205257c9737143afab4197.jpg) center no-repeat; background-size: cover;" title="Awesome &amp; Useful BackPack"></div>
            <ul class="details">
              <li class="author"><a href="/blog_posts/post_01">Oh,i gotta buy this</a></li>
              <li class="date">Apr. 20, 2018</li>
            </ul>
            <div class="description">
              <h1 class="blog_home_post_h1">5 Awesome &amp; Useful BackPack</h1>
              <p class="summary">Travel is a part of our daily life. We’ve lugged a lot of stuff, camera or something around with us, whether it’s just for the day, a weekend trip, or a weeklong vacation. And you may concern yourself with someone stealing your belongings, your phone running out of juice, or forgetting where you put certain must-have items within your bag.  If you’re the same way, you know how hard it is to find a practical bag to haul your gear when you’re on the go. This collection has found a way to solve that with these awesome & useful backpacks that will accompany you on your everyday adventures.</p>
              <a href="/blog_posts/post_01">Read More</a>
            </div>
          </div>

        </div><!--/.blog_left_main-->

       <div class="blog_right_side">

        <div class="blog_logo">
         <a href="/"><img src="<%=asset_path 'logo.jpg'%>" alt="ohigottabuythis.net" title="awesome gadgets and amazon shopping"></img></a>
         <% if user_signed_in? %>
           <ul class="blog_admin">  
              <li class="logout"><%= link_to "Log out, Are you sure?", destroy_user_session_path, method: :delete %></li></br>
            <% if can? :manage, @blog %>
               <li><%= link_to "Add New Blog", new_blog_path(@blog) %></li>
            <% end %>
           </ul>
          <% end %>
        </div>
     
        <div class="random_post_blog">
          <h2 class="gadget_title">Gadgets That Will Blow Your Mind</h2> 
            <% @ecommerces.each do |gadget| %>
             <a href="/ecommerces/detail/<%= gadget.id %>"><div class="blog_side_img"><img src="<%= gadget.image_main%>"></div></a>
            <% end %><br><br>
          <!-- <a href="/"><p class="see_more">See More Gadgets</p></a><br>       -->
        </div>

        <div class="twitter-feed">
         <a class="twitter-timeline" data-height="1000" href="https://twitter.com/OhIgottabuythis?ref_src=twsrc%5Etfw">Tweets by OhIgottabuythis</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

        <div class="twitter_bottom"></div>
        
        <div class="pinterest_widget">
         <a data-pin-do="embedUser" data-pin-lang="ko" data-pin-board-width="300" data-pin-scale-height="500" data-pin-scale-width="150" href="https://www.pinterest.com.au/ohigottabuythis/"></a>
        </div><br>
        
      </div><!--/.blog_right_side-->
     </div><!--/.blog_wrapper-->

            
    </div><!--/.inner-->
    <%= render 'shared/footer' %> 
  </div><!--/#main-->
</div><!--/#wrapper-->