<!-- Wrapper -->
<div id="wrapper">

	<!-- Main -->
		<div id="main">
			<div class="inner">
       <%= render 'shared/header' %></br></br>

        <div class="message_wrapper">
          <h1>Message From Customers</h1>
          <% @messages.reverse.each do |message| %>
           <div class="message_box">
             <table>
                <tr>
                  <th>Name/Id</th></th>
                  <th>Content</th>
                  <th>Email</th>
                  <th>Time</th>
                  <th>Delete</th>
                </tr>
                <tr>
                  <td><%= message.name %></td>
                  <td><%= message.content %></td>
                  <td><%= message.email %></td>
                  <td><%= time_ago_in_words(message.created_at) %> ago</td>
                  <td><a href="/message/destory/<%= message.id %>">[Delete]</a></td>
                </tr>
              </table>
           </div>
          <% end %></br>
          <a href="/" class="button">Back To Home</a>
        </div>
    </div>
   </div>
</div>