<section id="-js-id-promocode">     
  <h1 class="codes_main_title" id="discountCode">Discount Codes August, 2018</h1>
  <% if can? :create, @codes %>
   <li><%= link_to "Add New Discount Code", new_code_path %></li>
  <% end %>  
  
    <select id="discount_filter">
      <option value="all">All Departments</option>
      <option value="automotive">Automotive</option>
      <option value="baby">Baby</option>
      <option value="beauty">Beauty</option>
      <option value="books">Books</option>
      <option value="business">Business, Industrial & Scientific</option>
      <option value="cellphones&Accessories">Cell Phones & Accessories</option>
      <option value="clothing">Clothing & Accessories</option>
      <option value="computer">Computer</option>
      <option value="electronics">Electronics</option>
      <option value="fashion">Fashion</option>
      <option value="furniture">Furniture</option>
      <option value="grocery">Grocery</option>
      <option value="health">Health & Personal Care</option>
      <option value="home">Home</option>
      <option value="jewelry">Jewelry</option>
      <option value="kitchen">Kitchen & Housewares</option>
      <option value="miscellaneous">Miscellaneous</option>
      <option value="office">Office</option>
      <option value="pets">Pets</option>
      <option value="patio">Patio, Lawn & Garden</option>
      <option value="outdoor">Sports & Outdoors</option>
      <option value="tools">Tools & Home Improvement</option>
      <option value="toy">Toys & Games</option>
    </select>

    <div class="showall_code">
     <a target="_blank" href="/search/discountCode"><p>Show All <i class="fa fa-arrow-right"></i></p></a>
    </div>

    <section class="discount_items">

      <ul class="cards discount_list">

        <% @discount_codes.each do |code| %>
          <li class="cards__item_main" rel="<%= code.discount_spare_01 %>">
          <div class="card">
            <div class="card__image_code"><a href="<%= code.discount_link_01 %>"><img src="<%= code.discount_image %>" alt="<%= code.discount_title %>" title="<%= code.discount_title %>"></a></div>          
            <div class="masonry_sale_discount">
              <div class="masonry_sale_wrapper">
                <div class="masonry_sale_text">Discount Code</div>
                <div class="masonry_sale_howmuch"><%= code.discount_code %></div>
              </div>
            </div>
            <div class="card__content am_card_price">
              <div class="card__title"><%= code.discount_title %></div>
              <ul>
                <li>$<%= code.discount_spare_02 %></li> |
                <li><%= code.discount_sale %> OFF</li>
              </ul>          
              <p class="code_date">End Date: <%= code.discount_date %></p>
              <div class="discount_botton">
               <% if code.discount_link_01.present? %>
                <a href="<%= code.discount_link_01 %>"><p class="use_code">Use This Code</p></a>
               <% end %>
               <% if code.discount_link_02.present? %>
                <a href="<%= code.discount_link_02 %>"><p class="use_code">More Products</p></a>
               <% end %>
              </div>
              <% if can? :update, code %>
               <ul>
                 <li><%= link_to "Edit", edit_code_path(code) %></li>
                 <li><%= link_to "Delete", code_path(code), method: :delete, data: { confirm: "Are you sure?" } %></li>
               </ul>   
              <% end %>
            </div>
          </div>
        </li>
        <% end %>
        
        <div class="showall_code">
         <a target="_blank" href="/search/discountCode"><p>Show All <i class="fa fa-arrow-right"></i></p></a>
        </div>
        
      </ul>

    </section>

</section>