<h1 class="codes_main_title" id="discountCode">Discount Codes August, 2018</h1>
<% if can? :create, @codes %>
<li><%= link_to "Add New Discount Code", new_code_path %></li>
<% end %>  

<div class="ourpick_warp dis_container">
  <ul>
   <li><h1>The Best Deals We Pick</h1></li>
   <% if can? :create, @codes %>
    <li class="admin_page_bestdeal"><a href="/accessories/new"><h1>Add New Gadgets</h1></a></li>
   <% end %>
  </ul>

  <div class="dis_grid">
    <% @discount_codes.each do |code| %>
    <div class="dis_card">
      <div class="dis_card--image">
        <%= link_to (image_tag code.discount_image), code %>
        <!-- <a target="_blank" href="<%= code.discount_link_01 %>"><img src="<%= code.discount_image %>"  alt="<%= code.discount_title %>" title="<%= code.discount_title %>"></a> -->
      </div>
      <div class="dis_card--content">
        <p class="code_title"><%= link_to code.discount_title, code %></p>
        <p class="code_price"><span>$<%= code.discount_spare_02 %></span></p>
        
        <% if code.discount_spare_03.present? %>
         <div class="code_end_hidden"><%= code.discount_spare_03 %></div>
         <p class="code_ends">This code has expired.</p>
        <% else %>
         <p class="get_code">You can save <%= code.discount_sale %>% Off more</p>
        <% end %>

        
        <div class="code_btn">
         <a target="_blank" href="/codes/<%=code.id %>">Get Coupon Code</a> 
        </div>

        <% if can? :create, code %>
        <ul>
         <li><%= link_to "Edit", edit_code_path(code) %></li>
         <li> <%= link_to "Delete", code_path(code), method: :delete, data: { confirm: "Are you sure?" } %></li>
        </ul>
        <% end %>

      </div><!--/.dis_card--content-->        
    </div><!--/.dis_card-->
    <% end %>
   </div><!--/.dis_grid--><br/>
</div><!--/.dis_container-->

<div class="showall_code">
 <a target="_blank" href="/search/discountCode"><p>See All <i class="fa fa-arrow-right"></i></p></a>
</div>
