<h1 class="quicksearch_title" title="Amazon shopping">All About The Best Hotdeals On Amazon 2018</h1>

<div class="big_banner_wrap">
 <div class="left_banner_quicksearch">
  <a href="https://amzn.to/2LxNXqh"><img src="<%=asset_path 'amazon_prime.png'%>" alt="Amazon Prime" title="Amazon Prime Day"></a>
 </div>
 <div class="right_banner_quicksearch">
  <a href="https://amzn.to/2KoQ6YM"><img src="<%=asset_path 'coupon.png'%>" alt="amazon coupons" title="amazon coupons"></a>
 </div>
</div>

<div class="left_small_banner">
  <a href="https://amzn.to/2KGBqU5"><div class="left_left"><img src="<%=asset_path 'today.png'%>"></div></a>
  <a href="https://amzn.to/2u8DCK7"><div class="left_right"><img src="<%=asset_path 'under.png'%>"></div></a>
  </div>
  <div class="right_small_banner">
  <a href="https://amzn.to/2tODVKI"><div class="right_left"><img src="<%=asset_path 'subscribe.png'%>"></div></a>
  <a href="https://amzn.to/2MKSIgm"><div class="right_right"><img src="<%=asset_path 'amazon_fresh.png'%>"></div></a>
</div>
