<%= render '/shared/header_deals' %>

<div id="wrapper">
 <div id="main">
	 <div class="inner_quicksearch">
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <!-- render 'shared/header' -->
     <div class="blogs_wrapper">  
      <div class="blog_left_main_post">

        <div class="quicksearch_warpper">
         
         <!-- Header -->
         <%= render 'search/header' %>
        
         <!-- Real Time HotDeals Talbe --> 
         <%= render 'search/table_us' %>

         <!-- OurPick --> 
         <h3>Daily Deals</h3>
         <%= render 'search/hottest_us' %>
         <div class="showall_code">
          <a target="_blank" href="https://amzn.to/2MVbClc">
           <p>See All <i class="fa fa-arrow-right"></i></p>
          </a>
         </div>

         <!-- Prmotion Codes -->
         <%= render 'search/code' %>
       
        </div><br><br><!--<class="quicksearch_warpper">-->

      </div><!--/.blog_left_main_post-->
      <%= render 'search/sidebar' %>
     </div><!--/.blog_wrapper-->
            
  </div>
 </div>
  <!-- render 'shared/footer' -->
</div>

   