<div id="wrapper">
	<div id="main">
		<div class="inner_quicksearch">
        <%= render 'shared/header' %><br>
        <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
        <div class="quicksearch_warpper">

          <div class="quick_stiky_menu">
           <ul>
            <li><a href="#quickSearch">Quick Search</a></li>
            <li><a href="#promotion">Promotions</a></li>
            <li><a href="#discountCode">Discount Codes</a></li>
            <!-- <li><a href="#coupon">Coupons</a></li> -->
           </ul>
          </div>

         <h1 class="quicksearch_title" title="Amazon shopping">All About The Sale On Amazon 2018</h1>

         <div class="big_banner_wrap">
           <div class="left_banner_quicksearch">
            <a href="https://amzn.to/2L4WQKX"><img src="<%=asset_path 'prime_day.png'%>" alt="Amazon Prime Day" title="Amazon Prime Day"></a>
           </div>
           <div class="right_banner_quicksearch">
            <a href="https://amzn.to/2KoQ6YM"><img src="<%=asset_path 'coupon.png'%>" alt="amazon coupons" title="amazon coupons"></a>
           </div>
         </div>

         <div class="left_small_banner">
          <a href="https://amzn.to/2KGBqU5"><div class="left_left"><img src="<%=asset_path 'today.png'%>"></div></a>
          <a href="https://amzn.to/2u8DCK7"><div class="left_right"><img src="<%=asset_path 'under.png'%>"></div></a>
         </div>
         <div class="right_small_banner">
          <a href="https://amzn.to/2tODVKI"><div class="right_left"><img src="<%=asset_path 'subscribe.png'%>"></div></a>
          <a href="https://amzn.to/2MKSIgm"><div class="right_right"><img src="<%=asset_path 'amazon_fresh.png'%>"></div></a>
         </div>
         
         
          
          <h1 class="codes_main_title" id="quickSearch">Real Time Search</h1>
          <p>Amazon offers thousands of great deals, but, sifting through the endless pages can be a huge hassle. We have just made your life easier. We offer a quick way to find the best deals on Amazon Simply click on the percentage off next to the category you want to browse. You will be redirected to a new window containing your <a href="http://amzn.to/2G5rCxK">Amazon.com<a/>, <a href="http://amzn.to/2pwYBEN">Amazon.ca</a>, <a href="http://amzn.to/2GgHdxF">Amazon.co.uk</a> search results.</p>

          <!-- Search on Amazon -->
          <div> 
            <script type="text/javascript">
              amzn_assoc_placement = "adunit0";
              amzn_assoc_search_bar = "true";
              amzn_assoc_tracking_id = "3628-20";
              amzn_assoc_search_bar_position = "top";
              amzn_assoc_ad_mode = "search";
              amzn_assoc_ad_type = "smart";
              amzn_assoc_marketplace = "amazon";
              amzn_assoc_region = "US";
              amzn_assoc_title = "";
              amzn_assoc_default_search_phrase = "";
              amzn_assoc_default_category = "All";
              amzn_assoc_linkid = "2a7ed4aa888f9ca495b934b8407e9e4d";
              amzn_assoc_rows = "2";
            </script>
            <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
          </div>

          <div class="tabs">
            <input type="radio" name="tab" id="tab1" checked="checked">
            <label for="tab1">_Amazon.com</label>
            <input type="radio" name="tab" id="tab2">
            <label for="tab2">_Amazon.ca</label>
            <input type="radio" name="tab" id="tab3">
            <label for="tab3">_Amazon.co.uk</label>

            <div class="tab-content-wrapper">
              <div id="tab-content-1" class="tab-content">
               <%= render 'shared/quicksearch_us' %>
              </div>
              <div id="tab-content-2" class="tab-content">
                <%= render 'shared/quicksearch_ca' %>
              </div>
              <div id="tab-content-3" class="tab-content">
                <%= render 'shared/quicksearch_uk' %>
              </div>
            </div>
          </div>
<!-- Promotions & Deals -->
            <h1 class="promo_main_title" id="promotion">Promotions & Deals July, 2018</h1>
            <section class="card_grid">
              
              <div class="filter_menu">
                <div class="select-filter-group promo_select" id="selectDropdown">
                  <select class="filters-select">
                    <option value=".amazon_us">Amazon.com</option>
                    <!-- <option value=".amazon_ca">Amazon.ca</option>
                    <option value=".amazon_uk">amazon.co.uk</option> -->
                  </select>
                </div>
                  
                <div class="select-filter-group_01" id="selectDropdown">
                  <select class="filters-select">
                    <option value=".amazon_us">amazon.com</option>
                    <!-- <option value=".amazon_ca">amazon.ca</option>
                    <option value=".amazon_uk">amazon.co.uk</option> -->
                  </select>
                </div>

                <nav class="filter_nav">
                  <div class="button-group_promo" data-filter-group="categories">
                    <!-- <button class="is-checked_promo" data-filter="*">all categories</button> -->
                    <button class="is-checked_promo" data-filter=".amazon_us">amazon.com</button>
                   <!--  <button data-filter=".amazon_ca">amazon.ca</button>
                    <button data-filter=".amazon_uk">amazon.co.uk</button> -->
                  </div>
                </nav>   

              </div>
              
              <div class="card_container">
               <%= render 'shared/promo_amazon_us' %>  
              </div>

            </section><br><br>
<!-- Discount Codes -->         
            <h1 class="codes_main_title" id="discountCode">Discount Codes July, 2018</h1>
            <% if can? :create, @codes %>
             <%= link_to "Add New Discount Code", new_code_path %>
            <% end %>
            <div class="discount_shared_box">
              <p class="promocode_title">Amazon promotional codes are online coupons that can be used at checkout to save money on your Amazon purchase. Simply enter the alpha-numeric code on the checkout page at Amazon and the corresponding discount will be reflected in your total.</p>

               <div class="promo_content">
                <div>
                  <input type="checkbox" id="question1" name="q"  class="questions">
                  <div class="plus">+</div>
                  <label for="question1" class="question">
                   How do I use my Amazon promotion code?
                  </label>
                  <div class="answers">
                    <div class="how_to_use">
                      <p>1.Copy your desired promotional code from the below list of active offers OR
                           click "Use this Code" button.</p>
                      <p class="info_img"><img src="https://i.pinimg.com/564x/5b/cc/d3/5bccd338a30a25bdbb6b139ef2056aa2.jpg"><p>
                      <p>2.Add the items you wish to order into your shopping cart by clicking Add to Cart. Ensure coupon conditions are met, including the types of items and the total price of your selected products.</p>
                      <p class="info_img"><img src="https://i.pinimg.com/564x/5d/13/57/5d1357a4466ecdb98db05985b201a8f9.jpg"></p>
                      <p>3.Click the Proceed to checkout button to continue with your order.</p>
                      <p>4.Once you reach checkout, choose your shipping address and payment method.</p>
                      <p class="info_img"><img src="https://i.pinimg.com/564x/f7/28/60/f72860dbcb9fde2267baf40c4e524c60.jpg"></p>
                      <p>5.Enter the promotional code you wish to use and click Apply. The stated price reductions will then be applied to your checkout total.</p>
                      <p class="info_img"><img src="https://i.pinimg.com/564x/b2/d1/55/b2d1559106d9a6c8ca77b56a476076b8.jpg"></p>
                      <p>If you've encountered any of these issues, it means your code was used automatically.</p>
                      <p class="info_img"><img src="https://i.pinimg.com/564x/59/6e/5c/596e5c63e52a5e512bdb4c17e8dc854f.jpg"></p>
                      <p>You can check if your code was used or not on the Shipping & Payment page. OR</p>
                      <p class="info_img"><img src="https://i.pinimg.com/564x/64/cd/cd/64cdcdb7de6e75c8116acde03a5ee4dd.jpg"></p>
                      <p>You can check on the Place Orer page</p>
                      <p>6.Then click Place your order.</p>
                     </div>  
                  </div>
                </div>
                <div>
                  <input type="checkbox" id="question2" name="q" class="questions">
                  <div class="plus">+</div>
                  <label for="question2" class="question">
                   Why isn't my code working?
                  </label>
                  <div class="answers">
                   <ul>
                    <li>Check to make sure it hasn’t expired.</li>
                    <li>Is the item you’ve selected included in the promo code offer?</li>
                    <li>Is the promo available in your country?</li>
                    <li>Check the spelling of your code; codes oftentimes are case-sensitive.</li>
                    </ul>
                  </div>
                </div></br>
              <%= render 'shared/amazon_discount_codes' %>
              <a class="load-more" href="#0"><p class="discount_more">Show More<p></a>
     
            </div>
            
        </div><br><br><!--<class="quicksearch_warpper">-->

       
       
        
  </div>
 </div>
 <%= render 'shared/footer' %>
</div>

   