<!-- Wrapper -->
<div id="wrapper">
  <!-- Main -->
	<div id="main">

		<div class="inner_quicksearch">

			<!-- Header -->
        <%= render 'shared/header' %>
        <div class="quicksearch_warpper">

          <h1 class="quicksearch_title">Amazon Discount & </br>Deals Qucik Search</h1>

          <div class="topnav" id="myTopnav">
            <a href ="/hotdeals/promotion">promotions & Events</a>
            <a href="/hotdeals/coupons">Coupons</a>        
           <!--  <a href="/search/quicksearch">QuickSearch</a> -->
            <a href="/hotdeals/hotdeals_women">Hotdeals_Ladies</a>  
            <a href="/hotdeals/hotdeals_men">Hotdeals_Men</a>    
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
          </div>

          <p>Amazon offers thousands of great deals, but, sifting through the endless pages can be a huge hassle. We have just made your life easier. We offer a quick way to find the best deals on Amazon Simply click on the percentage off next to the category you want to browse. You will be redirected to a new window containing your <a target="_blank" href="https://www.amazon.com?&_encoding=UTF8&tag=3628-20&linkCode=ur2&linkId=3ed11d6766667e8e0cfeddc4be3a25b5&camp=1789&creative=9325">Amazon.com</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=3628-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /> / <a target="_blank" href="https://www.amazon.co.uk?&_encoding=UTF8&tag=gary3628-21&linkCode=ur2&linkId=6357065c7bf1cea74c99c39ea07601c1&camp=1634&creative=6738">Amazon.co.uk</a><img src="//ir-uk.amazon-adsystem.com/e/ir?t=gary3628-21&l=ur2&o=2" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /> / <a target="_blank" href="https://www.amazon.ca?&_encoding=UTF8&tag=ljh32-20&linkCode=ur2&linkId=98c25e2e0bcd9a744a0d26a9f1dc3607&camp=15121&creative=330641">Amazon.ca</a><img src="//ir-ca.amazon-adsystem.com/e/ir?t=ljh32-20&l=ur2&o=15" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /> search results.</p>

          <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
          
          <div class="tabs">
            <input type="radio" name="tab" id="tab1" checked="checked">
            <label for="tab1">USA</label>
            <input type="radio" name="tab" id="tab2">
            <label for="tab2">CANADA</label>
            <input type="radio" name="tab" id="tab3">
            <label for="tab3">UK</label>

            <div class="tab-content-wrapper">
              <div id="tab-content-1" class="tab-content">
               <%= render 'shared/usa_discount' %>
              </div>
              <div id="tab-content-2" class="tab-content">
                <%= render 'shared/canada_discount' %>
              </div>
              <div id="tab-content-3" class="tab-content">
                <%= render 'shared/uk_discount' %>
              </div>
            </div>
          </div>
      
          <script type="text/javascript">
            amzn_assoc_placement = "adunit0";
            amzn_assoc_search_bar = "true";
            amzn_assoc_tracking_id = "scarlet3628-20";
            amzn_assoc_search_bar_position = "top";
            amzn_assoc_ad_mode = "search";
            amzn_assoc_ad_type = "smart";
            amzn_assoc_marketplace = "amazon";
            amzn_assoc_region = "US";
            amzn_assoc_title = "Search Everything";
            amzn_assoc_default_search_phrase = "gadgets";
            amzn_assoc_default_category = "All";
            amzn_assoc_linkid = "2a7ed4aa888f9ca495b934b8407e9e4d";
            amzn_assoc_rows = "2";
          </script>
          <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
          
          <!-- <div class="search_footer">
                <h2>Thanks to all my visitors:D</h2>
                <p>★ Note ★</p>
                <p> All These products in this website belong to the website owner and the product owner.</p>
                <p>- "Oh,i gotta buy this" acknowledge some content in this process, the aim is to provide for the convenience to the user. By specifying the source, we respect other people`s rights, as well as to provide support for those who own the contents. Please let me know if your writing has been copied in a way that infringes on copyright infringement, and I will try to work hard to resolve this issue.</p>
                <p>- "Oh, i gotta buy this" only want to show the coolest gadgets and best inventions you can find and buy on the website. We`re not interested in spamming any boring or lame products at you. All you need to know is in our website, you are going to find a lot of coolest & awesome items that you are most definitely going to like and perhaps even get tempted to buy some of them, so hang on tight to your wallet. Enjoy!</p>
                <p>- Our website contains affiliate link which means that if you click on one of the product links and buy we’ll receive a small commission. This help supports us and allows us to continue to make good website like this. Thanks</p> 
                <ul class="actions">
                  <li><a href="/" class="button">Back To Home</a></li>
                  <li><%= link_to "Contact_us", contact_us_path, class: "button" %></li>
                </ul>
             </div> -->
          
        </div></br></br><!--<class="quicksearch_warpper">-->
          
        
  </div>
 </div>
 <%= render 'shared/sidebar' %>	
</div>

   
<script>
  function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
  }
</script>

<!-- <script>
function myFunction() {
    var x = document.getElementById('sidebar');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script> -->

            
            
            