<div id="wrapper">
	<div id="main">
		<div class="inner">
			<%= render 'shared/header' %><br>
			<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
      <div class="main_header_wrapper">
        <div class="left_banner">
          <a href="/search/quicksearch"><img src="<%=asset_path 'amazon_banner.png'%>"></a>
        </div>
        <div class="right_banner">
          <a href="/blogs"><img src="<%=asset_path 'blog_main.png' %>"></a>
        </div>
      </div>
		  <% if @ecommerces.count == 0 %>
		    <h1>There are no products <br />
		        currently in this category :(</h1>
		  <% else %>
		  	<div class="check_page">
          <header class="major">
              <h2><%= params[:category] %></h2>
          </header>
				  <!-- <h2> - <span>Here </span>are <span>What</span> are you looking for - </h2> -->
				</div>

				<!-- Section -->
					<section>
  
						<div class="posts">
					 
						 <% @ecommerces.reverse.each do |ecommerce| %>  
							<article>
								<a href="/ecommerces/detail/<%= ecommerce.id %>" class="image"><img src="<%= ecommerce.image_main %>" alt="" /></a>
								<p class="sources"><%= ecommerce.sources %></p>
								<h3><%= ecommerce.title %></h3>
								<p><%= ecommerce.intro %></p>
								
								<% total = 0 %>
								<% discount  = 0 %>
                <div class="price">
                  <div class="price_h3">
                   <h3 class="price_after"><%= number_to_currency ecommerce.price_after, unit: "$", seperator: "", delimiter: ""  %></h3>
                  </div>
                </div>
								<div class="price">
  								<div class="price_h3">
  								 <h3 class="price_before_category"><%= number_to_currency ecommerce.price_before, unit: "$", seperator: "", delimiter: "" %></h3>
  							  </div>
  							</div>
  							
                <% total += ecommerce.price_before - ecommerce.price_after %>
                <% discount += total.to_f / ecommerce.price_before * 100  %>
                <% if ecommerce.price_before? %>
                 <h3 class="yousave"><%= number_to_currency total, unit: "$", seperator: ",", delimiter: "" %>(<%= discount.round(0) %>%) Savings</h3>
                <% end %>
          
              
								<ul class="actions">
									<li><a href="<%= ecommerce.site_link %>" target="_blank", class="button">Buy Now</a></li>
									<li><a href="/ecommerces/detail/<%= ecommerce.id %>" class="button">View Detail</a></li>
									<% if user_signed_in? and current_user.admin == true %> 
  									<li><a href="/ecommerces/edit/<%= ecommerce.id %>">Edit</a></li>
  									<li><a href="/ecommerces/destroy/<%= ecommerce.id %>">Delete</a></li>
									<% end %>
								</ul>
								<!--<div class="amazon_logo">-->
						  <!--	 <img src="https://s3.amazonaws.com/BURC_Pages/downloads/a-smile_color_btn.png">-->
					   <!--   </div>-->
								
							</article>
						 <% end %>
				  	</div>
					</section>
				<% end %>
		</div><!-- End class="inner" -->
	</div><!-- End id="main" -->
	<%= render 'shared/sidebar_gadgets' %>	
</div><!-- End id="wrapper" -->
