<div id="wrapper">
		<div id="main">
			<div class="inner">

				<!-- Header -->
					<%= render 'shared/header' %>
				  <% if flash[:message] %>	
					   <div class="flash_message">
		          <h2 class="flash_message_h2">"<%= @details.title %>"  <%=flash[:message] %></h2>
		          <button><%= link_to "View Your WishList", wishlist_show_path, class: "flash_message_button" %></button>
		         </div>
	        <% end %>
					<div class="check_page">
					  <h2> Detail For <span><%= @details.title %></span></h2>
					</div>
				<!-- Banner -->
					<section id="banner">
            <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
						<div class="content">
							
							<header>
								<h1><%= @details.title %></h1>
							</header> 
							
							<h2 class="detail_intription">What`s this?</h2>
							<p><%= @details.intro %></p>
							<h2 class="detail_intription">Overview</h2>
							<p class="details_p"><%= @details.description %></p>
							
	            <% total = 0 %>
              <% discount = 0 %>
              <div class="price">
                <div class="price_h3">
                 <h3 class="banner_price_before"><%= number_to_currency @details.price_before, unit: "$", seperator: "", delimiter: ""  %></h3>
                </div>
                <div class="price_p">
                  <p>Original Price</p>
                </div>
              </div>
              <div class="price">
                <div class="price_h3">
						     <h3 class="banner_price"><%= number_to_currency @details.price_after, unit: "$", seperator: "", delimiter: ""  %></h3>
						    </div>
						    <div class="price_p2">
						      <p>Offer Price</p>
						    </div>
						 	</div>
						 	<% total += @details.price_before - @details.price_after %>
						 	<% discount += total.to_f / @details.price_before * 100  %>
  						<% if @details.price_before? %>
  							<h3 class="yousave"><%= number_to_currency total, unit: "$", seperator: "", delimiter: ""  %>(<%=discount.round(0) %>%) Savings</h3>
  					  <% end %>
			
							<ul class="actions">
								<li><a href="<%= @details.site_link %>" class="button big" target="_blank">Buy Now</a></li>
								<li><%= link_to '', add_wishlist_path(@details), class: "fa fa-cart-arrow-down cart-size", method: :post %></li>
								<!-- <li><a href="/wishlists/show" class="button big">Check WishList</a></li> -->
							</ul>

              <h2>Available Country</h2>
							<ul class="actions">
								<li><a href="<%= @details.site_link %>" target="_blank"><img src="https://i.pinimg.com/564x/52/79/ff/5279ff45deede033323f5af4d8a9a722.jpg" width="80" height="50"></a></li>
								<% if @details.site_link_uk.present? %>
								 <li><a href="<%= @details.site_link_uk %>" target="_blank"><img src="https://i.pinimg.com/564x/13/b9/23/13b9230dff6ecd482d238f31454680f8.jpg" width="80" height="50"></a></li>
								<% end %>
								<% if @details.site_link_ca.present? %>
								 <li><a href="<%= @details.site_link_ca %>" target="_blank"><img src="https://i.pinimg.com/564x/a9/29/3a/a9293a66c611c5c897c52411632799b9.jpg" width="80" height="50"></a></li>
								<% end %>
								<% if @details.site_link_jp.present? %>
								 <li><a href="<%= @details.site_link_jp %>" class="button_sitelink" target="_blank">JAPAN<img src="https://i.pinimg.com/236x/c1/4c/74/c14c7494e445daa8dd19b42db616083a.jpg" width="80" height="50"></a></li>
							  <% end %>
							</ul></br></br></br>


						</div>
						<span class="image object">
							<img src="<%= @details.image_main %>" alt="" /></br>
							<div class="amazon-banner">
								<iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=12&l=ur1&category=kindle&banner=1Y73E3KVWCWRGDBQ5ER2&f=ifr&linkID=d0f690bec12d182a3752ff2e983e490a&t=scarlet3628-20&tracking_id=scarlet3628-20" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
					    </div>
						</span>
					</section></br>
					<div class="detail_border"></div></br>

	<!--Section -->
				 <div class="detail_body">
						<section>
							<header class="major">
								<h2>Photo & Video</h2>
							</header>
							
						<div class="video_container">
							<h1 class="related_text"> Related Videos</h1>
							<div class="video-wrapper_left">
								  <% if @details.youtube_link_01.present? %>
	                  <iframe src="<%= @details.youtube_link_01 %>" frameborder="0" allowfullscreen></iframe>
	                <% else %>                 
	                  <p>There is no "Related Videos" :(</p>
	                <% end %>
							</div>
							<div class="video-wrapper_right">
								<iframe src="<%= @details.youtube_link_02 %>" frameborder="0" allowfullscreen></iframe>
							</div>
						</div><br/><br/>
							
							<h1 class="related_text"> Related Photos</h1>
							<div class="features">
								<article>
	                <img src="<%= @details.image_01 %>">
								</article>
								<article>
	                <img src="<%= @details.image_02 %>">
								</article>
								<article>
	                <img src="<%= @details.image_03 %>">
								</article>
								<article>
	                <img src="<%= @details.image_04 %>">
								</article>
							</div>
						</section>
						
						<h1 class="related_text"> Descriptions</h1>
						<ul>
							<% if @details.description_01.present? %>
							 <li><%= @details.description_01 %></li>
						  <% end %>
							<% if @details.description_02.present? %>
							 <li><%= @details.description_02 %></li>
						  <% end %>
						  <% if @details.description_03.present? %>
							 <li><%= @details.description_03 %></li>
						  <% end %>
						  <% if @details.description_04.present? %>
							 <li><%= @details.description_04 %></li>
						  <% end %>
						  <% if @details.description_05.present? %>
							 <li><%= @details.description_05 %></li>
						  <% end %>
						</ul>
						
						<div class="detail_border_down"></div></br>
						
						<div class="related_prodcut">
					  	<script type="text/javascript">
								amzn_assoc_placement = "adunit0";
								amzn_assoc_tracking_id = "3628-20";
								amzn_assoc_ad_mode = "search";
								amzn_assoc_ad_type = "smart";
								amzn_assoc_marketplace = "amazon";
								amzn_assoc_region = "US";
								amzn_assoc_default_search_phrase = "<%= @details.title %>";
								amzn_assoc_default_category = "All";
								amzn_assoc_linkid = "8e4056cd7c49b6d726c657f30e19d527";
								amzn_assoc_search_bar = "true";
								amzn_assoc_search_bar_position = "top";
								amzn_assoc_title = "Shop Related Products";
							</script>
							<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
						</div>


						<div class="detail_footer">
              <h2>Thanks to all my visitor :D</h2>
              <p>★ Note ★</p>
              <p> All These products in this website belong to the website owner and the product owner.</p>
              <p>- "Oh,i gotta buy this" acknowledge some content in this process, the aim is to provide for the convenience to the user. By specifying the source, we respect other people`s rights, as well as to provide support for those who own the contents. Please let me know if your writing has been copied in a way that infringes on copyright infringement, and I will try to work hard to resolve this issue.</p>
              <p>- "Oh, i gotta buy this" only want to show the coolest gadgets and best inventions you can find and buy on the website. We`re not interested in spamming any boring or lame products at you. All you need to know is in our website, you are going to find a lot of coolest & awesome items that you are most definitely going to like and perhaps even get tempted to buy some of them, so hang on tight to your wallet. Enjoy!</p>
              <p>- Our website contains affiliate link which means that if you click on one of the product links and buy we’ll receive a small commission. This help supports us and allows us to continue to make good website like this. Thanks</p> 
              <ul class="actions">
								<li><%= link_to "Contact_us", contact_us_path, class: "button" %></li>
								<li><a href="/" class="button">Back To Home</a></li>
						  </ul>
			      </div>
				  </div><!-- detail_body -->
				  </br>
				  </br>
		      
			</div>
		</div>
  <%= render 'shared/sidebar' %>	
</div><!-- id="wrapper" -->

<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=4ae3b5c3-9d2e-40ae-988a-422eecdac6ed"></script>

