<div class="upload_wrapper">
  <h1>Edit Product</h1>
  <div class="upload_section">
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <%= form_tag "/ecommerces/update/", method: "post" do %>
    <input type="hidden" name="id" value="<%= @adjust.id %>">

     <div class="add_nav_wrapper">
      <ul class="add_nav">
        <li><a href="#sectionImage">Image</a></li>
        <li><a href="#sectionSource">Source</a></li>
        <li><a href="#sectionProduct_url">Product URL</a></li>
        <li><a href="#sectionYoutube_url">Youtube URL</a></li>
        <li><a href="#sectionPrice">Price</a></li>
        <li><a href="#sectionIntor">Intro & Description</a></li>
        <li><a href="#sectionPostive">Postive Rivew</a></li>
        <li><a href="#sectionCritical">Critical Rivew</a></li>
        <li><a href="#sectionSeemore">See more review</a></li>
        <li><a href="#sectionYseorNot">Input "YES" where applicable</a></li>
        <li><a href="#sectionSpecial">Special offers and product promotions</a></li>
      </ul>
     </div>

     <div class="upload_partition">
      <h2>Input product title</h2>
      <div class="form">
       <label>Product Title</label>
       <input type="text" class="input-form" name="new_title" placeholder="Product Title" value="<%= @adjust.title %>">
      </div>
     </div>
     
     <section id="sectionImage">
      <div class="upload_partition">
        <h2>Paste address of image(Don`t use "Google URL Shoter")</h2>
        <div class="form">
          <label>Image_main</label>
          <input type="text" class="input-form" name="new_image_main" placeholder="Main Image url" value="<%= @adjust.image_main %>">
        </div>
        <div class="form">
          <label>Image_01</label>
          <input type="text" class="input-form" name="new_image_01" placeholder="Image_01 url" value="<%= @adjust.image_01 %>">
        </div>
        <div class="form">
          <label>Image_02</label>
          <input type="text" class="input-form" name="new_image_02" placeholder="Image_02 url" value="<%= @adjust.image_02 %>">
        </div>
        <div class="form">
          <label>Image_03</label>
          <input type="text" class="input-form" name="new_image_03" placeholder="Image_03 url" value="<%= @adjust.image_03 %>">
        </div>
        <div class="form">
          <label>Image_04</label>
          <input type="text" class="input-form" name="new_image_04" placeholder="Image_04 url" value="<%= @adjust.image_04 %>">
        </div>
        <div class="form">
          <label>Image_05</label>
          <input type="text" class="input-form" name="new_image_05" placeholder="Image_05 url" value="<%= @adjust.image_05 %>">
        </div>
        <div class="form">
          <label>Image_06</label>
          <input type="text" class="input-form" name="new_image_06" placeholder="Image_06 url" value="<%= @adjust.image_06 %>">
        </div>
      </div>
     </section>

     <section id="sectionSource"> 
      <div class="upload_partition">
       <h2>Input where did you get this source of product</h2>
       <div class="form">
       <label>Sources (ex: via_Amazon.com)</label>
       <input type="text" class="input-form" name="new_sources" placeholder="Source Site" value="<%= @adjust.sources %>">
       </div>
      </div>
     </section>

     <section id="sectionProduct_url">
      <div class="upload_partition">
        <h2>Input product URL</h2>
        <li class="upload_li">Site Link_UK, Site Link_CANADA, Site Link_JAPAN are only for Amazon.</li>
        <div class="form">
          <label>Site Link</label>
          <input type="text" class="input-form" name="new_site_link" placeholder="Amazon Product Link url" value="<%= @adjust.site_link %>">
        </div>
        <div class="form">
          <label>Site Link_UK</label>
          <input type="text" class="input-form" name="new_site_link_uk" placeholder="Amazon Product Link url" value="<%= @adjust.site_link_uk %>">
        </div>
        <div class="form">
          <label>Site Link_CANADA</label>
          <input type="text" class="input-form" name="new_site_link_ca" placeholder="Amazon Product Link url" value="<%= @adjust.site_link_ca %>">
        </div>
        <div class="form">
          <label>Site Link_JAPAN</label>
          <input type="text" class="input-form" name="new_site_link_jp" placeholder="Amazon Product Link url" value="<%= @adjust.site_link_jp %>">
        </div>
      </div>
     </section>
     
    <section id="sectionYoutube_url">
     <div class="upload_partition">
      <h2>Paste Youtube address for related video</h2>
      <li class="upload_li">How to find adress: Click "Share" -> Click "Source Code" -> Copy (* only copy this part("https://www.youtube.com/embed/***********")</li>
      <div class="form">
        <label>Youtube_01</label>
        <input type="text" class="input-form" name="new_youtube_link_01" placeholder="Youtube_01 url" value="<%= @adjust.youtube_link_01 %>">
      </div>
      <div class="form">
        <label>Youtube_02</label>
        <input type="text" class="input-form" name="new_youtube_link_02" placeholder="Youtube_02 url" value="<%= @adjust.youtube_link_02 %>">
      </div>
     </div>
    </section>
    
    <section id="sectionPrice">
     <div class="upload_partition">
      <h2>Input Before Pirce & After Price</h2>
      <li class="upload_li">**Don`t skip this section. (If you don`t input anything in here, you would get an error.)</li>
      <li class="upload_li">Please input price(number) in here like this ( ex. 15.00 ), if you have to input price ZERO you shoud input like this (ex. 0.0)</li>
      <div class="form">
        <label>Price_before</label>
        <input type="text" class="input-form" name="new_price_before" placeholder="How much was it?" value="<%= @adjust.price_before %>">
      </div>
      <div class="form">
        <label>Price_after</label>
        <input type="text" class="input-form" name="new_price_after" placeholder="How much is it?" value="<%= @adjust.price_after %>">
      </div>
     </div>
    </section>
    
    <section id="sectionIntor">
     <div class="upload_partition">
      <h2>Input intro</h2>
      <div class="form">
        <label>Intro</label>
        <textarea type="text" class="input-form" name="new_intro" rows="3" placeholder="Intro"><%= @adjust.intro %></textarea>
      </div>
     </div>

     <div class="upload_partition">
      <h2>Input Descriptions</h2>
      <div class="form">
        <label>Description</label>
        <textarea type="text" class="input-form" name="new_description" rows="5" placeholder="Description"><%= @adjust.description %></textarea>
      </div>
      <div class="form">
        <label>Description_01</label>
        <textarea type="text" class="input-form" name="new_description_01" rows="5" placeholder="Description_01"><%= @adjust.description_01 %></textarea>
      </div>
      <div class="form">
        <label>Description_02</label>
        <textarea type="text" class="input-form" name="new_description_02" rows="5" placeholder="Description_02"><%= @adjust.description_02 %></textarea>
      </div>
      <div class="form">
        <label>Description_03</label>
        <textarea type="text" class="input-form" name="new_description_03" rows="5" placeholder="Description_03"><%= @adjust.description_03 %></textarea>
      </div>
      <div class="form">
        <label>Description_04</label>
        <textarea type="text" class="input-form" name="new_description_04" rows="5" placeholder="Description_04"><%= @adjust.description_04 %></textarea>
      </div>
      <div class="form">
        <label>Description_05</label>
        <textarea type="text" class="input-form" name="new_description_05" rows="5" placeholder="Description_05"><%= @adjust.description_05 %></textarea>
      </div>
     </div>
    </section>
 
    <section id="sectionPostive">
     <div class="upload_partition">
       <h2>Input Postive Rivew</h2>    
       <div class="form">
          <label>Postive How_Mnay People</label>
          <input type="text" class="input-form" name="new_postive_howmany" placeholder="Postive How Many People?" value="<%= @adjust.postive_howmany %>">
        </div>
        <div class="form">
          <label>Postive Review</label>
          <textarea type="text" class="input-form" name="new_postive_review" rows="5" placeholder="Postive Review"><%= @adjust.postive_review %></textarea>
        </div>
        <div class="form">
          <label>Postive Review_by</label>
          <input type="text" class="input-form" name="new_postive_review_by" placeholder="Postive Review_by" value="<%= @adjust.postive_review_link %>">
        </div>
        <div class="form">
          <label>Postive Review_link</label>
          <input type="text" class="input-form" name="new_postive_review_link" placeholder="Postive Review_link"  value="<%= @adjust.postive_review_by %>">
        </div>
      </div>
     </section>
      
     <section id="sectionCritical">
      <div class="upload_partition">
         <h2>Input Critical Rivew</h2>
        <div class="form">
          <label>Critical How_Mnay People</label>
          <input type="text" class="input-form" name="new_critical_howmany" placeholder="Critical How Many People?" value="<%= @adjust.critical_howmany %>">
        </div>
        <div class="form">
          <label>Critical Review</label>
          <textarea type="text" class="input-form" name="new_critical_review" rows="5" placeholder="Critical Review"><%= @adjust.critical_review %></textarea>
        </div>
        <div class="form">
          <label>Critical Review_by</label>
          <input type="text" class="input-form" name="new_critical_review_by" placeholder="Critical Review_by" value="<%= @adjust.critical_review_by %>">
        </div>
        <div class="form">
          <label>Critical Review_link</label>
          <input type="text" class="input-form" name="new_critical_review_link" placeholder="Critical Review_link" value="<%= @adjust.critical_review_link %>">
        </div>
      </div>
     </section>
     
     <section id="sectionSeemore">
       <div class="upload_partition">
        <h2>Paste link of full review</h2>
        <div class="form">
          <label>See more reviews link</label>
          <input type="text" class="input-form" name="new_see_more_review" placeholder="See More_Review_Link" value="<%= @adjust.see_more_review %>">
        </div>
       </div>
     </section>

     <section id="sectionYseorNot">
      <div class="upload_partition">
        <h2>Input "YES" where applicable.</h2>
        <li class="upload_li">Prime is only for Amazom</li>
        <div class="form">
          <label>Is this Amazon Prime?</label>
          <input type="text" class="input-form" name="new_amazon_prime" placeholder="Is this amazon prime? (if it is an amazon prime product, you could just input 'YES')" value="<%= @adjust.amazon_prime %>">
        </div>
        <div class="form">
          <label>Is this Free Shipping?</label>
          <input type="text" class="input-form" name="new_free_shipping" placeholder="Is this free shipping? (if it is a free shipping prodcut, you could just input 'YES')" value="<%= @adjust.free_shipping %>">
        </div>
      </div>
     </section>
     
     <section id="sectionSpecial">
      <div class="upload_partition">
       <h2>Special offers and product promotions</h2>
       <li class="upload_li">Amazon Visa Card Sale is only for Amazom</li>
       <div class="form">
        <label>Amazon Visa Card Sale</label>
        <input type="text" class="input-form" name="new_amazon_visa_card" placeholder="Amazon Visa Card Sale Content" value="<%= @adjust.amazon_visa_card %>">
       </div>
       <div class="form">
        <label>Amazon Visa Card Sale Link</label>
        <input type="text" class="input-form" name="new_amazon_visa_card_link" placeholder="Amazon Visa Card Sale Link" value="<%= @adjust.amazon_visa_card_link %>">
       </div>
       <div class="form">
        <label>Buy Used and Save</label>
        <input type="text" class="input-form" name="new_buy_used" placeholder="Buy Used and Save Content" value="<%= @adjust.buy_used %>">
       </div>
       <div class="form">
        <label>Buy Used and Save Link</label>
        <input type="text" class="input-form" name="new_buy_used_link" placeholder="Buy Used and Save Link" value="<%= @adjust.buy_used_link %>">
       </div>
       <div class="form">
        <label>Coupon</label>
        <input type="text" class="input-form" name="new_coupon" placeholder="Coupon Content" value="<%= @adjust.coupon %>">
       </div>
<!--        <div class="form">
        <label>Coupon Link</label>
        <input type="text" class="input-form" name="new_coupon_link" placeholder="Coupon Link" value="<%= @adjust.coupon_link %>">
       </div> -->
       <div class="form">
        <label>Discount Code</label>
        <input type="text" class="input-form" name="new_discount_code" placeholder="Discount Code Content" value="<%= @adjust.discount_code %>">
       </div>
<!--        <div class="form">
        <label>Discount Code Link</label>
        <input type="text" class="input-form" name="new_discount_code_link" placeholder="Discount Code Link" value="<%= @adjust.discount_code_link %>">
       </div> -->
      </div>
     </section>

      <button class="button" type="submit">Update</button>
      <i class="fa fa-chevron-left" aria-hidden="true"></i> <%= link_to "Back to Home", gadgets_path %>
    <% end %>
  </div>
</div>