<div id="wrapper">
  <div id="main">
    <div class="inner_hotdeals">
    <%= render 'shared/header' %>
      <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

      <h2 class="hotdeals_h2">Hi, Everyone :D</h2>
      <p>We have just made your life easier. We offer a quick way to find the best deals.</p>

      <p>Oh,igottabuythis is a participant in the Amazon Services LLC Associates Program & the Amazon EU Associates Programme, an affiliate advertising program designed to provide a means for us to earn fees by linking to <a href="http://amzn.to/2G5rCxK">Amazon.com,<a/> <a href="http://amzn.to/2pwYBEN">Amazon.ca,</a> 
      <a href="http://amzn.to/2GgHdxF">Amazon.co.uk</a> and affiliated sites.</p>
    
      <section>
        
        <div class="gadgets_header">
          <h2>Awesome Gadgets That Will Blow Your Mind.</h2>
          <p>This is a collection that features all kinds of unique items that really cannot be classified in a single category. All you need to know is in this page, you are going to find a lot of cool & awesome items that you are most definitely going to like and perhaps even get tempted to buy some of them, so hang on tight to your wallet.:D</p>
        </div>
        <div class="gadgets_underline"></div>
        
        <div class="posts">
         
         <% @ecommerces.each do |ecommerce| %>  
          <article>
            
            <a href="/ecommerces/detail/<%= ecommerce.id %>" class="image"><img src="<%= ecommerce.image_main %>" alt="<%= ecommerce.title %>"/></a>
            <p class="sources"><%= ecommerce.sources %></p>
            <h3><%= ecommerce.title %></h3>
            <p><%= ecommerce.intro %></p>
            
            <% total = 0 %>
            <% discount  = 0 %>
            <div class="price">
              <div class="price_h3">
               <h3 class="price_before"><%= number_to_currency ecommerce.price_before, unit: "$", seperator: "", delimiter: "" %></h3>
              </div>
            </div>&emsp;
            <div class="price">
              <div class="price_h3">
               <h3 class="price_after"><%= number_to_currency ecommerce.price_after, unit: "$", seperator: "", delimiter: ""  %></h3>
              </div>
            </div>
            
            <% total += ecommerce.price_before - ecommerce.price_after %>
            <% discount += total.to_f / ecommerce.price_before * 100  %>
            <% if ecommerce.price_before? %>
             <h3 class="yousave"><%= number_to_currency total, unit: "$", seperator: ",", delimiter: "" %>(<%= discount.round(0) %>%) Savings</h3>
            <% end %>
            
          
            <ul class="actions">
              <li><a href="<%= ecommerce.site_link %>" target="_blank" class="button">Buy Now</a></li>
              <li><a href="/ecommerces/detail/<%= ecommerce.id %>" class="button">View Detail</a></li>
              <% if user_signed_in? and current_user.admin == true %> 
                <li><a href="/ecommerces/edit/<%= ecommerce.id %>">Edit</a></li>
                <li><a href="/ecommerces/destroy/<%= ecommerce.id %>">Delete</a></li>
              <% end %>
            </ul>
            
          </article>
         <% end %>
        </div><!--/.post-->
        <%= paginate @ecommerces %><!-- For Product Page -->
      </section>
        
    </div>
  </div>
  <%= render 'shared/sidebar' %>  
</div>