<div id="wrapper">
  <div id="main">
    <div class="inner_hotdeals">
      <header id="header">
       <a href="/" class="logo main_header" title="ohigottabuythis"><strong>Oh,</strong> I Gotta Buy This </a>
      </header></br>
      <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

      <div class="main_header_wrapper">
        <div class="left_banner">
          <a href="/search/quicksearch"><img src="<%=asset_path 'amazon_banner.png'%>"></a>
        </div>
        <div class="right_banner">
          <a href="/blogs"><img src="<%=asset_path 'blog_main.png' %>"></a>
        </div>
      </div>
      
      <section>
        
        <div class="gadgets_header">
          <h2>Awesome Gadgets That Will Blow Your Mind.</h2>
          <p>This is a collection that features all kinds of unique items that really cannot be classified in a single category. All you need to know is in this page, you are going to find a lot of cool & awesome items that you are most definitely going to like and perhaps even get tempted to buy some of them, so hang on tight to your wallet.:D</p>
        </div>
        <div class="gadgets_underline"></div>
        
        <div class="posts">
         
         <% @ecommerces.each do |ecommerce| %>  
          <article>
            
            <a href="/ecommerces/detail/<%= ecommerce.id %>" class="image"><img src="<%= ecommerce.image_main %>" alt="<%= ecommerce.title %>"/></a>
            <p class="sources"><%= ecommerce.sources %></p>
            <h3 class="gadgets_title"><%= ecommerce.title %></h3>
            <p><%= ecommerce.intro %></p>
            
            <% total = 0 %>
            <% discount  = 0 %>
            <div class="price">
              <div class="price_h3">
               <h3 class="price_after"><%= number_to_currency ecommerce.price_after, unit: "$", seperator: "", delimiter: ""  %></h3>
              </div>
            </div>&emsp;
            <div class="price">
              <div class="price_h3">
               <h3 class="price_before"><%= number_to_currency ecommerce.price_before, unit: "$", seperator: "", delimiter: "" %></h3>
              </div>
            </div>

            <% total += ecommerce.price_before - ecommerce.price_after %>
            <% discount += total.to_f / ecommerce.price_before * 100  %>
            <% if ecommerce.price_before? %>
             <h3 class="yousave_gadgets"><%= number_to_currency total, unit: "$", seperator: ",", delimiter: "" %>(<%= discount.round(0) %>%) Savings</h3>
            <% end %>
            
          
            <ul class="actions">
              <li><a href="<%= ecommerce.site_link %>" target="_blank" class="button">Buy Now</a></li>
              <li><a href="/ecommerces/detail/<%= ecommerce.id %>" class="button">View Detail</a></li>
            </ul>
            
          </article>
         <% end %>
        </div><!--/.post-->
        <%= paginate @ecommerces %><!-- For Product Page -->
      </section>
        
    </div>
    <%= render 'shared/footer' %> 
  </div>
  <%= render 'shared/sidebar_gadgets' %>  
</div>