<div id="wrapper">
  <div id="main">
    <div class="inner">
      <%= render 'shared/header' %>
      <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
      
      <div class="flex main">
        <div class="flex-container">
          <a href="/search/quicksearch"><img src="https://i.pinimg.com/564x/e8/a6/ce/e8a6ced6c8256ce3664eac7261b0eb21.jpg" class="flex-container-images" alt="Find Deals">
        </div>
        <div class="flex-container">
          <a href="/blogs/blogs_home"><img src="https://i.pinimg.com/564x/55/8c/37/558c378809d166b7cdc87ebd4e39610d.jpg" class="flex-container-images" alt="Awesome Blogs">
        </div>
        <div class="flex-container">
          <a href="/hotdeals/savings_percentage_70"><img src="https://i.pinimg.com/564x/5c/24/0e/5c240e075214c717a119f75f11722529.jpg" class="flex-container-images" alt="Save your money">         
        </div>
        <div class="flex-container">
          <a href="/ecommerces/gadgets"><img src="https://i.pinimg.com/564x/d4/56/e8/d456e85b0a8c8e4ffdf3103e473256dd.jpg" class="flex-container-images" alt="Awesome Gadgets">
        </div>
      </div>

      <!-- <div class="description">
        <h1>Share Everything With You.</h1>
      </div>
  
      <div class="main_wrapper">
        <div class="settings">
          <div class="square square--purple">
            <h2>Purple square</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excellent, great pickup!!</p>
          </div>
          <div class="square square--blue">
            <h2>Blue square</h2>
            <p>Quick catchup?</p>
          </div> 
        </div>
        <div class="comparison">
          <div class="square square--red">
            <h2>Tomato anyone?</h2>
            <p>Tomato is the best, period.</p>
          </div>
        </div>
      </div> -->

        <ul class="description">
          <li class="description_li"><h2 class="des_font_size">Shut up and take my money!!</h2><h3>Awesome gadgets that will blow your mind.</h3></li>
          <li class="description_li"><%= link_to "See more gadgets...", gadgets_path %></li>
        </ul>
        <div class="description_underline"></div>
      
      <ul class="cards">
        <% @ecommerces.each do |gadgets| %>
        <li class="cards__item">
          <!-- <a href="/ecommerces/detail/<%= gadgets.id %>"> -->
          <div class="card">
            <div class="card__image"><a href="/ecommerces/detail/<%= gadgets.id %>"><img src="<%= gadgets.image_main %>"></a></div>
            <div class="card__content">
              <div class="card__title"><%= gadgets.title %></div>
              <p class="gadgets_intro"><%= gadgets.intro %></p>
              <h3 class="gadgets_price_after">$<%= gadgets.price_after %></h3>
              <!-- <p><a href="/ecommerces/gadgets">Show more...</a></p> -->
            </div>
          </div>
          <!-- </a> -->
        </li>
        <% end %>
      </ul>

      <ul class="description">
        <li class="description_li"><h2 class="des_font_size">Everyday Savings!!</h2><h3>Save as much as 70% on select items</h3></li>
        <li class="description_li"><p><a href="/hotdeals/savings_percentage_70">See more super discount...<p></li>
      </ul>
      <div class="description_underline"></div>

       <!-- <div class="expanded row" data-equalizer data-equalize-on="medium" id="test-eq">
        <div class="large-18" data-equalizer-watch>
          <div class="grids">
            <% @shoes.each do |shoe| %>
              <div class="grid-item <%= shoe.option_01 %> <%= shoe.option_02 %> <%= shoe.option_03 %> <%= shoe.option_04 %>">
                <%= link_to (image_tag shoe.main_img), shoe, {:class =>"main_img"} %>
                <p class="shop_product_title"><%= link_to shoe.title, shoe %></p>
                <p class="shop_brand"><%= shoe.brand %></p>
                <ul class="shop_price_wrapper">
                  <li><p class="shop_original_price">$<%= shoe.offer_price %></p></li>
                  <li><p class="shop_sale_price">$<%= shoe.before_price %></p></li>
                  <li><p class="shop_sale_percentage"><%= shoe.sale %>% off</p></li>
                </ul>
                <a target="_blank" href="<%= shoe.link %>"><p class="shop_link" >Check it Out</p></a>
              </div>
            <% end %>               
          </div>
        </div>
      </div> -->

     <div class="shopsense-widget" style="text-align:center" data-mobile-optimize="true" data-options="%7B%22widgetId%22%3A%225ac3871de7055a64fbc43eb7%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A5%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A1135%7D"> <h2 class="collective">Women`s Shoes Up to 70% Off</h2> 
      <script> !function(doc,s,id){ var e, p, cb; if(!doc.getElementById(id)) { e = doc.createElement(s); e.id = id; cb = new Date().getTime().toString(); p = '//shopsensewidget.shopstyle.com/widget-script.js?cb=1522762654598?cb=' + cb; e.src = p; doc.body.appendChild(e); } if(typeof window.ss_shopsense === 'object'){ if(doc.readyState === 'complete'){ window.ss_shopsense.init(); } } }(document, 'script', 'shopsensewidget-script'); </script> <iframe src="//shopsensewidget.shopstyle.com/#/?options=%7B%22widgetId%22%3A%225ac3871de7055a64fbc43eb7%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A5%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A1135%7D"
      height="275px"
      width="1135px"
      frameborder="0"
      seamless style="border: 0;">
     </iframe> 
    </div>

     <div class="shopsense-widget" style="text-align:center" data-mobile-optimize="true" data-options="%7B%22widgetId%22%3A%225ac385282391f3eb5cd0f9a6%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A8%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A1780%7D"> <h2>Men`s Shoes Up to 70% Off</h2>
      <script> !function(doc,s,id){ var e, p, cb; if(!doc.getElementById(id)) { e = doc.createElement(s); e.id = id; cb = new Date().getTime().toString(); p = '//shopsensewidget.shopstyle.com/widget-script.js?cb=1522762654598?cb=' + cb; e.src = p; doc.body.appendChild(e); } if(typeof window.ss_shopsense === 'object'){ if(doc.readyState === 'complete'){ window.ss_shopsense.init(); } } }(document, 'script', 'shopsensewidget-script'); </script> <iframe src="//shopsensewidget.shopstyle.com/#/?options=%7B%22widgetId%22%3A%225ac385282391f3eb5cd0f9a6%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A8%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A1780%7D"
     height="275px"
     width="1780px"
     frameborder="0"
     seamless style="border: 0;">
      </iframe>
      </div>

        
<!--     <div class="description">
      <h1>Title</h1>
    </div -->

<!--     <div class="photo_section">
      <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg01.jpg">
        <figure>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg01.jpg" alt="">
        </figure>
      </a>
      <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg02.jpg">
        <figure>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg02.jpg" alt="">
        </figure>
      </a>
      <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg03.jpg">
        <figure>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg03.jpg" alt="">
        </figure>
      </a>
      <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg04.jpg">
        <figure>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg04.jpg" alt="">
        </figure>
      </a>
      <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg05.jpg">
        <figure>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg05.jpg" alt="">
        </figure>
      </a>
      <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg06.jpg">
        <figure>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg06.jpg" alt="">
        </figure>
      </a>
      <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg07.jpg">
        <figure>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg07.jpg" alt="">
        </figure>
      </a>
      <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg08.jpg">
        <figure>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg08.jpg" alt="">
        </figure>
      </a>
    </div> -->


        
   </div>
  </div>
</div>