<div id="wrapper">
  <div id="main">
    <div class="inner">
      <%= render 'shared/header' %>
      <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
        

      <!-- <div class="flex main">
        <div class="flex-container">
          <a href="/search/quicksearch"><img src="https://i.pinimg.com/564x/dd/12/e5/dd12e5539f4b1455a554c256c6be4eae.jpg" class="flex-container-images" alt="Find Deals">
          <p class="flex-container-heading">Quick Way To Find The Best Deals</p></a>
        </div>
        <div class="flex-container">
          <a href="blogs/blogs_home"><img src="https://i.pinimg.com/564x/22/a1/fc/22a1fcb216d5e4292d8b3388ba5e4a99.jpg" class="flex-container-images" alt="Awesome Blogs">
          <p  class="flex-container-heading">Blogs</p></a>
        </div>
        <div class="flex-container">
          <a href="#"><img src="https://i.pinimg.com/564x/25/99/84/2599841f7d0ff185f851f811c727d8ed.jpg" class="flex-container-images" alt="Save your money">
          <p class="flex-container-heading">Saving Your Money</p></a>
        </div>
        <div class="flex-container">
          <a href="/ecommerces/gadgets"><img src="https://i.pinimg.com/564x/ff/6a/ca/ff6aca78182d5ff9c00eb9efeb04e71c.jpg" class="flex-container-images" alt="Awesome Gadgets">
          <p class="flex-container-heading">Awesome Gadgets</p></a>
        </div>
      </div> -->
        
      <!-- <div class="description">
        <h1>Share Everything With You.</h1>
      </div>
  
      <div class="main_wrapper">
        <div class="settings">
          <div class="square square--purple">
            <h2>Purple square</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excellent, great pickup!!</p>
          </div>
          <div class="square square--blue">
            <h2>Blue square</h2>
            <p>Quick catchup?</p>
          </div> 
        </div>
        <div class="comparison">
          <div class="square square--red">
            <h2>Tomato anyone?</h2>
            <p>Tomato is the best, period.</p>
          </div>
        </div>
      </div> -->

      <div class="description">
        <h1>Awesome Gadgets That Will Blow Your Mind.</h1>
      </div>
      
      <ul class="cards">
        <% @ecommerces.each do |gadgets| %>
        <li class="cards__item">
          <!-- <a href="/ecommerces/detail/<%= gadgets.id %>"> -->
          <div class="card">
            <div class="card__image"><a href="/ecommerces/detail/<%= gadgets.id %>"><img src="<%= gadgets.image_main %>"></a></div>
            <div class="card__content">
              <div class="card__title"><%= gadgets.title %></div>
              <p class="gadgets_intro"><%= gadgets.intro %></p>
              <h3 class="gadgets_price_after">$<%= gadgets.price_after %></h3>
              <!-- <p class="card__text"><%= gadgets.intro %></p> -->
              <p><a href="/ecommerces/gadgets">Show more...</a></p>
            </div>
          </div>
          <!-- </a> -->
        </li>
        <% end %>
      </ul>

      <div class="description">
        <h1>Don`t Miss Today`s Best Deals</h1>
      </div>

      
     <div class="shopsense-widget" style="text-align:center" data-mobile-optimize="true" data-options="%7B%22widgetId%22%3A%225ac3871de7055a64fbc43eb7%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A5%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A1135%7D"> <h2>Women`s Shoes Up to 70% Off</h2> 
      <script> !function(doc,s,id){ var e, p, cb; if(!doc.getElementById(id)) { e = doc.createElement(s); e.id = id; cb = new Date().getTime().toString(); p = '//shopsensewidget.shopstyle.com/widget-script.js?cb=1522762654598?cb=' + cb; e.src = p; doc.body.appendChild(e); } if(typeof window.ss_shopsense === 'object'){ if(doc.readyState === 'complete'){ window.ss_shopsense.init(); } } }(document, 'script', 'shopsensewidget-script'); </script> <iframe src="//shopsensewidget.shopstyle.com/#/?options=%7B%22widgetId%22%3A%225ac3871de7055a64fbc43eb7%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A5%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A1135%7D"
      height="275px"
      width="1135px"
      frameborder="0"
      seamless style="border: 0;">
     </iframe> 
    </div>

     <div class="shopsense-widget" style="text-align:center" data-mobile-optimize="true" data-options="%7B%22widgetId%22%3A%225ac385282391f3eb5cd0f9a6%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A8%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A1780%7D"> <h2>Men`s Shoes Up to 70% Off</h2>
      <script> !function(doc,s,id){ var e, p, cb; if(!doc.getElementById(id)) { e = doc.createElement(s); e.id = id; cb = new Date().getTime().toString(); p = '//shopsensewidget.shopstyle.com/widget-script.js?cb=1522762654598?cb=' + cb; e.src = p; doc.body.appendChild(e); } if(typeof window.ss_shopsense === 'object'){ if(doc.readyState === 'complete'){ window.ss_shopsense.init(); } } }(document, 'script', 'shopsensewidget-script'); </script> <iframe src="//shopsensewidget.shopstyle.com/#/?options=%7B%22widgetId%22%3A%225ac385282391f3eb5cd0f9a6%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A8%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A1780%7D"
     height="275px"
     width="1780px"
     frameborder="0"
     seamless style="border: 0;">
      </iframe>
      </div>

        
    <!-- <div class="description">
      <h1>Title</h1>
    </div>

    <div class="photo_section">
      <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg01.jpg">
        <figure>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg01.jpg" alt="">
        </figure>
      </a>
      <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg02.jpg">
        <figure>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg02.jpg" alt="">
        </figure>
      </a>
      <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg03.jpg">
        <figure>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg03.jpg" alt="">
        </figure>
      </a>
      <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg04.jpg">
        <figure>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg04.jpg" alt="">
        </figure>
      </a>
      <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg05.jpg">
        <figure>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg05.jpg" alt="">
        </figure>
      </a>
      <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg06.jpg">
        <figure>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg06.jpg" alt="">
        </figure>
      </a>
      <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg07.jpg">
        <figure>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg07.jpg" alt="">
        </figure>
      </a>
      <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg08.jpg">
        <figure>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg08.jpg" alt="">
        </figure>
      </a>
    </div>
 -->

        
   </div>
  </div>
  <%= render 'shared/sidebar_01' %>  
</div>