<!-- Wrapper -->
<div id="wrapper">

	<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
          <%= render 'shared/header' %>
					<div class="check_page">
					  <h2> - <span>T</span>oday's <span>R</span>ecommendations - </h2>
					</div>
				<!-- Banner -->
					<section id="banner">
						<div class="content">
							<header>
								<h1><%= @banner.title %></h1>
							</header>
							<p class="banner_intro"><%= @banner.intro %></p>
							
							<div class="container_video">
               <div class="video-wrapper_sample">
               	<% if @banner.youtube_link_01.present? %>
                 <iframe src="<%= @banner.youtube_link_01 %>" frameborder="0" allowfullscreen></iframe>
                <% else %>
                 <div class="index-image_01">
                  <img src="<%= @banner.image_01 %>"
                 </div>
                <% end %>
               </div>
               <p class="banner_description"><%= @banner.description %></p>
              </div>
              
              <% total = 0 %>
              <% discount = 0 %>
              <div class="price">
                <div class="price_h3">
                 <h3 class="banner_price_before"><%= number_to_currency @banner.price_before, unit: "$", seperator: "", delimiter: ""  %></h3>
                </div>
                <div class="price_p">
                  <p>Original Price</p>
                </div>
              </div>
              <div class="price">
                <div class="price_h3">
						     <h3 class="banner_price"><%= number_to_currency @banner.price_after, unit: "$", seperator: "", delimiter: ""  %></h3>
						    </div>
						    <div class="price_p2">
						      <p>Current Price</p>
						    </div>
						 	</div>
						 	<% total += @banner.price_before - @banner.price_after %>
						 	<% discount += total.to_f / @banner.price_before * 100  %>
  						<% if @banner.price_before? %>
  							<h3 class="yousave"><%= number_to_currency total, unit: "$", seperator: "", delimiter: ""  %>(<%= discount.round(0) %>%) Savings</h3>
  					  <% end %>

							<ul class="actions">
								<li><a href="<%= @banner.site_link %>" class="button big" target="_blank">Buy Now</a></li>
								<li><a href="/ecommerces/detail/<%= @banner.id %>" class="button big">View Detail</a></li>
							</ul>
						</div>
						<span class="image object">
							<img src="<%= @banner.image_main %>" alt="" /><br/ >
							<div class="amazon-banner">
							 <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=12&l=ur1&category=electronics&f=ifr&linkID=fa8dcf8c5614a73be816bc80d5fc0cac&t=scarlet3628-20&tracking_id=scarlet3628-20" width="500" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
						  </div>
						</span>
					</section>

				<!-- Section -->
					<section>
						<header class="major">
							<h2>- All Products -</h2>
						</header>
						
						<div class="posts">
						 
						 <% @ecommerces.reverse.each do |ecommerce| %>  
							<article>
								
								<a href="/ecommerces/detail/<%= ecommerce.id %>" class="image"><img src="<%= ecommerce.image_main %>" alt="" /></a>
								<p class="sources"><%= ecommerce.sources %></p>
                <h3><%= ecommerce.title %></h3>
								<p><%= ecommerce.intro %></p>
								
								<% total = 0 %>
								<% discount  = 0 %>
								<div class="price">
  								<div class="price_h3">
  								 <h3 class="price_before"><%= number_to_currency ecommerce.price_before, unit: "$", seperator: "", delimiter: "" %></h3>
  							  </div>
  				        <div class="price_p">
						       <p>Original Price</p>
						      </div>
  							</div>
  							<div class="price">
  							  <div class="price_h3">
  							   <h3 class="price_after"><%= number_to_currency ecommerce.price_after, unit: "$", seperator: "", delimiter: ""  %></h3>
  						    </div>
  						    <div class="price_p2">
						       <p>Current Price</p>
						      </div>
  							</div>
							  
                <% total += ecommerce.price_before - ecommerce.price_after %>
                <% discount += total.to_f / ecommerce.price_before * 100  %>
                <% if ecommerce.price_before? %>
                 <h3 class="yousave"><%= number_to_currency total, unit: "$", seperator: ",", delimiter: "" %>(<%= discount.round(0) %>%) Savings</h3>
                <% end %>
                
              
								<ul class="actions">
									<li><a href="<%= ecommerce.site_link %>" target="_blank", class="button">Buy Now</a></li>
									<li><a href="/ecommerces/detail/<%= ecommerce.id %>" class="button">View Detail</a></li>
									<% if user_signed_in? and current_user.admin == true %> 
  									<li><a href="/ecommerces/edit/<%= ecommerce.id %>">Edit</a></li>
  									<li><a href="/ecommerces/destroy/<%= ecommerce.id %>">Delete</a></li>
									<% end %>
								</ul>
								
							</article>
						 <% end %>
						</div>
					</section>
					
			</div><!-- End class="inner" -->
		</div><!-- End id="main" -->
	<%= render 'shared/sidebar' %>	
</div><!-- End id="wrapper" -->

<script>
function myFunction() {
    var x = document.getElementById('sidebar');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script>
