<!-- Wrapper -->
<div id="wrapper">

	<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
					<header id="header">
					  <a href="/" class="logo"><strong>Oh,</strong>   I Gotta Buy This</a>
						<ul class="icons">
						  <li><button class="call_sidebar" onclick="myFunction()">Menu</button></li>
						  <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>						
							<li><a href="#" class="icon fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
							<li><a href="#" class="icon fa-medium"><span class="label">Medium</span></a></li>
						</ul>
					</header>
					<div class="check_page">
					  <h2> - <span>T</span>oday's <span>R</span>ecommendations - </h2>
					</div>
				<!-- Banner -->
					<section id="banner">
						<div class="content">
							<header>
								<h1><%= @banner.title %></h1>
							</header>
							<p class="banner_intro"><%= @banner.intro %></p>
							
							<div class="container_video">
               <div class="video-wrapper_sample">
                 <iframe src="<%= @banner.youtube_link_01 %>" frameborder="0" allowfullscreen></iframe>
               </div>
               <p class="banner_description"><%= @banner.description %></p>
              </div>
              
              
           
              <% total = 0 %>
              <% discount = 0 %>
              <div class="price">
                <div class="price_h3">
                 <h3 class="banner_price_before"><%= number_to_currency @banner.price_before, unit: "$", seperator: "", delimiter: ""  %></h3>
                </div>
                <div class="price_p">
                  <p>Original Price</p>
                </div>
              </div>
              <div class="price">
                <div class="price_h3">
						     <h3 class="banner_price"><%= number_to_currency @banner.price_after, unit: "$", seperator: "", delimiter: ""  %></h3>
						    </div>
						    <div class="price_p2">
						      <p>Current Price</p>
						    </div>
						 	</div>
						 	<% total += @banner.price_before - @banner.price_after %>
						 	<% discount += total.to_f / @banner.price_before * 100  %>
  						<% if @banner.price_before? %>
  							<h3 class="yousave"><%= number_to_currency total, unit: "$", seperator: "", delimiter: ""  %>(<%= discount.round(0) %>%) Savings</h3>
  					  <% end %>

    
              
							<ul class="actions">
								<li><a href="<%= @banner.site_link %>" class="button big" target="_blank">Buy Now</a></li>
								<li><a href="/ecommerces/detail/<%= @banner.id %>" class="button big">View Detail</a></li>
							</ul>
						</div>
						<span class="image object">
							<img src="<%= @banner.image_main %>" alt="" /><br/ >
						</span>
					</section>

				<!-- Section -->
					<section>
						<header class="major">
							<h2>- All Products -</h2>
						</header>
						
						<div class="posts">
						 
						 <% @ecommerces.reverse.each do |ecommerce| %>  
							<article>
								
								<a href="/ecommerces/detail/<%= ecommerce.id %>" class="image"><img src="<%= ecommerce.image_main %>" alt="" /></a>
								<h3><%= ecommerce.title %></h3>
								<p><%= ecommerce.intro %></p>
								
								<% total = 0 %>
								<% discount  = 0 %>
								<div class="price">
  								<div class="price_h3">
  								 <h3 class="price_before"><%= number_to_currency ecommerce.price_before, unit: "$", seperator: "", delimiter: "" %></h3>
  							  </div>
  				        <div class="price_p">
						       <p>Original Price</p>
						      </div>
  							  </div>
  							<div class="price">
  							  <div class="price_h3">
  							   <h3 class="price_after"><%= number_to_currency ecommerce.price_after, unit: "$", seperator: "", delimiter: ""  %></h3>
  						    </div>
  						    <div class="price_p2">
						       <p>Current Price</p>
						      </div>
  							</div>
							  
                <% total += ecommerce.price_before - ecommerce.price_after %>
                <% discount += total.to_f / ecommerce.price_before * 100  %>
                <% if ecommerce.price_before? %>
                 <h3 class="yousave"><%= number_to_currency total, unit: "$", seperator: ",", delimiter: "" %>(<%= discount.round(0) %>%) Savings</h3>
                <% end %>
                
              
								<ul class="actions">
									<li><a href="<%= ecommerce.site_link %>" target="_blank", class="button">Buy Now</a></li>
									<li><a href="/ecommerces/detail/<%= ecommerce.id %>" class="button">View Detail</a></li>
									<% if user_signed_in? and current_user.admin == true %> 
  									<li><a href="/ecommerces/edit/<%= ecommerce.id %>">Edit</a></li>
  									<li><a href="/ecommerces/destroy/<%= ecommerce.id %>">Delete</a></li>
									<% end %>
								</ul>
								<!--<div class="amazon_logo">-->
						  <!--	 <img src="https://s3.amazonaws.com/BURC_Pages/downloads/a-smile_color_btn.png">-->
					   <!--   </div>-->
								
							</article>
						 <% end %>
						</div>
					</section>
					
			</div><!-- End class="inner" -->
		</div><!-- End id="main" -->
		
	  <!-- Sidebar -->
		<div id="sidebar">
			<div class="inner">

          <section id="search" class="alt">
            <%= form_tag(search_ecommerce_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", class: "search_search" %>
            <% end %>
          </section>

				<!-- Menu -->
					<nav id="menu">
						<header class="major">
							<h2>Menu</h2>
						</header>
						<ul class="icons">
						  <% if user_signed_in? %>
						    <li><span class="hello">Hello,</span><br /> <%= current_user.name %></li><br /><br />
						  <% else %>
						  	<li class="login"><%= link_to "Log in", new_user_session_path %></li>
					      <li class="signup"><%= link_to "Sign up", new_user_registration_path %></li><br /><br />
						  <% end %>
					  </ul>
						<ul>
							<li>
								<span class="opener">Account&Wish List</span>
								<ul>
									<li><%= link_to "Edit Account", edit_user_registration_path %></li>
									<li><%= link_to "Wish List", wishlist_show_path %></li>
									<li><a href="ecommerces/message">Contect Us</a></li> 
									<% if user_signed_in? %>
									 <li class="logout"><%= link_to "Log out, Are you sure?", destroy_user_session_path,  method: :delete %></li>
									<% end %>
								</ul>
							</li>
							<li>
  							<span class="opener">Shop by Price</span>
  							<ul>
  								<% Category.all.each do |category| %>
  									<li><%= link_to category.name, category_price_path(category: category.name) %></li>
  								<% end %>
  							</ul>
					  	</li>
					  		<li>
  							<span class="opener">Shop by Category</span>
  							<ul>
  								<% Pcategory.all.each do |pcategory| %>
  									<li><%= link_to pcategory.name, pcategory_product_path(pcategory: pcategory.name) %></li>
  								<% end %>
  							</ul>
					  	</li>
					  	
					  	<li>
  							<span class="opener">Today`s Hotdeal</span>
  							<ul>
  							  <li><a href="hotdeals/deal_01">Amazon Devices & Kindle Store</a></li>
  							  <li><a href="hotdeals/deal_02">Electronics</a></li>
  							  <li><a href="hotdeals/deal_03">Cell Phones & Computer</a></li>
  							</ul>
					  	</li>
					  	
							<li><a href="#">Newset</a></li>
							<li><a href="#">Popular</a></li>
							<li><a href="#">Amazon Popular</a></li>
							<li>
  							<span class="opener">More Category</span>
  							<ul>
  								<li><a target="_blank" href="https://www.amazon.com/stream/80edd9ee-ae64-4dfe-8db8-eb3d745f2094/ref=as_li_ss_tl?asCursor=WyIxLjgiLCJ0czEiLCIxNTA1Mjk5MjAwMDAwIiwiIiwiUzAwMTU6MDpudWxsIiwiUzAwMTU6MjoxIiwiUzAwMTU6MDotMSIsIiIsIiIsIjAiLCJzdWIyIiwiMTUwNTMwOTI3ODcyOSIsImhmMS1zYXZlcyIsIjE1MDUzMDEzMDAwMDAiLCJ2MSIsIjE1MDUzMDY1NDQ1MTIiLCJ2MSIsIjE1MDEwMTYzNDk2NTgiLCIiLCIwIl0%3D&amp;asCacheIndex=0&amp;asYOffset=-370.8000183105469&amp;linkCode=sl2&amp;tag=prophack-20&amp;linkId=d76dde8442fa84584d046b4f248b0d9a&_encoding=UTF8&tag=scarlet3628-20&linkCode=ur2&linkId=fd6607690384668b605f1f9b40153100&camp=1789&creative=9325">INTERESTING FINDS UPDATED DAILY</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=scarlet3628-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
  							</ul>
					  	</li>
							<% if user_signed_in? and current_user.admin == true %> 
  							<li><a href="/ecommerces/upload">Upload</a></li>
  							<li><a href="/rails/db">Management</a></li>
							<% end %>
						</ul>
					</nav>
					
				<!-- Start Facebook -->	
					<div class="fb-page" data-href="https://www.facebook.com/Ohigottabuythis/" data-tabs="timeline" data-height="70" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
					  <blockquote cite="https://www.facebook.com/Ohigottabuythis/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Ohigottabuythis/">Oh, I Gotta Buy This</a></blockquote>
					</div>

				<!-- Section -->
					<section>
						<header class="major">
							<h2>HOW ABOUT THIS??</h2>
						</header>
						<div class="mini-posts">
							
							<article>
								<a href="/ecommerces/detail/<%= @sidebanner_01.id %>" class="image"><img src="<%= @sidebanner_01.image_main %>" alt="" /></a>
								<h3><%= @sidebanner_01.title %></h3>
								<p><%= @sidebanner_01.intro %></p>
					 
								<% total = 0 %>
								<% discount  = 0 %>
								<h3 class="price_before"><%= number_to_currency @sidebanner_01.price_before, unit: "$", seperator: "", delimiter: ""  %></h3>
								<h3><%= number_to_currency @sidebanner_01.price_after, unit: "$", seperator: "", delimiter: ""  %></h3>
                <% total += @sidebanner_01.price_before - @sidebanner_01.price_after %>
                <% discount += total.to_f / @sidebanner_01.price_before * 100  %>
                <% if @sidebanner_01.price_before? %>
                 <h3 class="yousave"><%= number_to_currency total, unit: "$", seperator: "", delimiter: ""  %>(<%= discount.round(0) %>%) Savings</h3>
                <% end %>
								
								<a href="/ecommerces/detail/<%= @sidebanner_01.id %>" class="button">View Detail</a>
							</article>
							
							<article>
								<a href="/ecommerces/detail/<%= @sidebanner_02.id %>" class="image"><img src="<%= @sidebanner_02.image_main %>" alt="" /></a>
								<h3><%= @sidebanner_02.title %></h3>
								<p><%= @sidebanner_02.intro %></p>
								
								<% total = 0 %>
								<% discount  = 0 %>
								<h3 class="price_before"><%= number_to_currency @sidebanner_02.price_before, unit: "$", seperator: "", delimiter: ""  %></h3>
								<h3><%= number_to_currency @sidebanner_02.price_after, unit: "$", seperator: "", delimiter: ""  %></h3>
                <% total += @sidebanner_02.price_before - @sidebanner_02.price_after %>
                <% discount += total.to_f / @sidebanner_02.price_before * 100  %>
                <% if @sidebanner_02.price_before? %>
                 <h3 class="yousave"><%= number_to_currency total, unit: "$", seperator: "", delimiter: ""  %>(<%= discount.round(0) %>%) Savings</h3>
                <% end %>
								
								<a href="/ecommerces/detail/<%= @sidebanner_02.id %>" class="button">View Detail</a>
							</article>
							
							<article>
								<a href="/ecommerces/detail/<%= @sidebanner_03.id %>" class="image"><img src="<%= @sidebanner_03.image_main %>" alt="" /></a>
								<h3><%= @sidebanner_03.title %></h3>
								<p><%= @sidebanner_03.intro %></p>
								
								<% total = 0 %>
								<% discount  = 0 %>
								<h3 class="price_before"><%= number_to_currency @sidebanner_03.price_before, unit: "$", seperator: "", delimiter: ""  %></h3>
								<h3><%= number_to_currency @sidebanner_03.price_after, unit: "$", seperator: "", delimiter: ""  %></h3>
                <% total += @sidebanner_03.price_before - @sidebanner_03.price_after %>
                <% discount += total.to_f / @sidebanner_03.price_before * 100  %>
                <% if @sidebanner_03.price_before? %>
                 <h3 class="yousave"><%= number_to_currency total, unit: "$", seperator: "", delimiter: ""  %>(<%= discount.round(0) %>%) Savings</h3>
                <% end %>
								
								<a href="/ecommerces/detail/<%= @sidebanner_03.id %>" class="button">View Detail</a>
							</article>
							
							<article>
								<a href="/ecommerces/detail/<%= @sidebanner_04.id %>" class="image"><img src="<%= @sidebanner_04.image_main %>" alt="" /></a>
								<h3><%= @sidebanner_04.title %></h3>
								<p><%= @sidebanner_04.intro %></p>
								
								<% total = 0 %>
								<% discount  = 0 %>
								<h3 class="price_before"><%= number_to_currency @sidebanner_04.price_before, unit: "$", seperator: "", delimiter: ""  %></h3>
								<h3><%= number_to_currency @sidebanner_04.price_after, unit: "$", seperator: "", delimiter: ""  %></h3>
                <% total += @sidebanner_04.price_before - @sidebanner_04.price_after %>
                <% discount += total.to_f / @sidebanner_04.price_before * 100  %>
                <% if @sidebanner_04.price_before? %>
                 <h3 class="yousave"><%= number_to_currency total, unit: "$", seperator: "", delimiter: ""  %>(<%= discount.round(0) %>%) Savings</h3>
                <% end %>
							
								<a href="/ecommerces/detail/<%= @sidebanner_04.id %>" class="button">View Detail</a>
							</article>
							
							<article>
								<a href="/ecommerces/detail/<%= @sidebanner_05.id %>" class="image"><img src="<%= @sidebanner_05.image_main %>" alt="" /></a>
								<h3><%= @sidebanner_05.title %></h3>
								<p><%= @sidebanner_05.intro %></p>
								
								<% total = 0 %>
								<% discount  = 0 %>
								<h3 class="price_before"><%= number_to_currency @sidebanner_05.price_before, unit: "$", seperator: "", delimiter: ""  %></h3>
								<h3><%= number_to_currency @sidebanner_05.price_after, unit: "$", seperator: "", delimiter: ""  %></h3>
                <% total += @sidebanner_05.price_before - @sidebanner_05.price_after %>
                <% discount += total.to_f / @sidebanner_05.price_before * 100  %>
                <% if @sidebanner_05.price_before? %>
                 <h3 class="yousave"><%= number_to_currency total, unit: "$", seperator: "", delimiter: ""  %>(<%= discount.round(0) %>%) Savings</h3>
                <% end %>
								
								<a href="/ecommerces/detail/<%= @sidebanner_05.id %>" class="button">View Detail</a>
							</article>
							
							<article>
								<a href="/ecommerces/detail/<%= @sidebanner_06.id %>" class="image"><img src="<%= @sidebanner_06.image_main %>" alt="" /></a>
								<h3><%= @sidebanner_06.title %></h3>
								<p><%= @sidebanner_06.intro %></p>
								
								<% total = 0 %>
								<% discount  = 0 %>
								<h3 class="price_before"><%= number_to_currency @sidebanner_06.price_before, unit: "$", seperator: "", delimiter: ""  %></h3>
								<h3><%= number_to_currency @sidebanner_06.price_after, unit: "$", seperator: "", delimiter: ""  %></h3>
                <% total += @sidebanner_06.price_before - @sidebanner_06.price_after %>
                <% discount += total.to_f / @sidebanner_06.price_before * 100  %>
                <% if @sidebanner_06.price_before? %>
                 <h3 class="yousave"><%= number_to_currency total, unit: "$", seperator: "", delimiter: ""  %>(<%= discount.round(0) %>%) Savings</h3>
                <% end %>
								
								<a href="/ecommerces/detail/<%= @sidebanner_06.id %>" class="button">View Detail</a>
							</article>
									
				<!-- Footer -->
				<!--	<footer id="footer">-->
				<!--		<p class="copyright">&copy; Oh,I Gotta Buy This. All rights reserved.</p>-->
				<!--	</footer>-->
					


			</div><!-- class="inner" -->
		</div><!-- id="sidebar" -->

</div><!-- End id="wrapper" -->

<script>
function myFunction() {
    var x = document.getElementById('sidebar');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script>
