<!-- Wrapper -->
<div id="wrapper">

	<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
          <%= render 'shared/header' %>
					<div class="check_page">
					  <h2> - <span>T</span>oday's <span>R</span>ecommendations - </h2>
					</div>
				<!-- Banner -->
						<section id="banner">
							
							<div class="content">
	              <div class="blog_left">
									<a href="blogs/blog_02"><h2>10 Awesome &amp; Useful <span class="title_highlight">&quot;BackPack&quot;</span> That Will Blow Your Mind</h2></a>
									<div class="blog_samll_01">
								  	<a href="blogs/blog_02"><img src="https://4.bp.blogspot.com/-bPSZL-jqfPg/WfVwbnA25sI/AAAAAAAAAiM/3lK9Cr5_oSUwZDUfx5FbBDFQ5R9Fb-tEQCLcBGAs/s1600/Airpaq1.jpg"></a>
									</div>
									<p class="blog_intro">Travel is a part of our daily life. We’ve lugged a lot of stuff, camera or something around with us, whether it’s just for the day, a weekend trip, or a weeklong vacation. And you may concern yourself with someone stealing your belongings, your phone running out of juice, or forgetting where you put certain must-have items within your bag.  If you’re the same way, you know how hard it is to find a practical bag to haul your gear when you’re on the go. This collection has found a way to solve that with these awesome & useful backpacks that will accompany you on your everyday adventures.</p>
		
		
		              <h2>Five Awesome & Useful Gadgets That Will Blow Your (Mind Must have Items)_#18</h2>
									<div class="container_video">
		               <div class="video-wrapper_sample">
		                 <iframe src="https://www.youtube.com/embed/j-JGoA4u_s8" frameborder="0" allowfullscreen></iframe>
		               </div>
		               <p class="blog_intro">This is a collection that features all kinds of random items that really cannot be classified in a single category. All you need to know is in this video, you are going to find a lot of cool & awesome items that you are most definitely going to like and perhaps even get tempted to buy some of them, so hang on tight to your wallet. Enjoy!</p>
		              </div>
		            </div>
	              
								<ul class="actions">
									<li><a href="https://www.youtube.com/channel/UCPtAAP5zlHCRYdCDqGR_jeA" class="button big" target="_blank">Watch More Videos</a></li>
								</ul>
							</div>
						
							<div class="blog_image object">
								<a href="/blogs/blog_01"><h2>10 Awesome <span class="title_highlight">Smart Home Gadgets</span> You Need To See :D</h2></a>
								<a href="/blogs/blog_01"><img src="https://3.bp.blogspot.com/-0Ov80MwVP0Q/WijjYA_NgdI/AAAAAAAACCM/OJpvy91JjoIa5AZirVuElHocK2lsxPYBwCLcBGAs/s1600/five%2B%25281%2529.png" alt="" /><br/ ></a>
								<p class="blog_intro">Looking to make your home just a little smarter? While still in its infancy, the number of smart home products—devices that let you control your lighting, thermostat, or even your crock pot from your smartphone—is rapidly growing. You can pick and choose your favorite gadgets to assemble an affordable intelligent abode on your own terms, or opt for an entire smart home system that does all the work for you. Here are some of smart home systems and individual gadgets.</p>
								<ul class="actions">
									<li><a href="https://ohigottabuythis.blogspot.com/" class="button big" target="_blank">Read More Magazine</a></li>
								</ul>
								<div class="amazon-banner">
								 <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=12&l=ur1&category=kindle&banner=1Y73E3KVWCWRGDBQ5ER2&f=ifr&linkID=d0f690bec12d182a3752ff2e983e490a&t=scarlet3628-20&tracking_id=scarlet3628-20" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
						    </div>
							</div>
						
					</section>

				<!-- Section -->
					<section>
						<header class="major">
							<h2>- All products That We Recommend Strongly - </h2>
						</header>
						
						<div class="posts">
						 
						 <% @ecommerces.reverse.each do |ecommerce| %>  
							<article>
								
								<a href="/ecommerces/detail/<%= ecommerce.id %>" class="image"><img src="<%= ecommerce.image_main %>" alt="" /></a>
								<p class="sources"><%= ecommerce.sources %></p>
                <h3><%= ecommerce.title %></h3>
								<p><%= ecommerce.intro %></p>
								
								<% total = 0 %>
								<% discount  = 0 %>
								<div class="price">
  								<div class="price_h3">
  								 <h3 class="price_before"><%= number_to_currency ecommerce.price_before, unit: "$", seperator: "", delimiter: "" %></h3>
  							  </div>
  				        <div class="price_p">
						       <p>Original Price</p>
						      </div>
  							</div>
  							<div class="price">
  							  <div class="price_h3">
  							   <h3 class="price_after"><%= number_to_currency ecommerce.price_after, unit: "$", seperator: "", delimiter: ""  %></h3>
  						    </div>
  						    <div class="price_p2">
						       <p>Current Price</p>
						      </div>
  							</div>
							  
                <% total += ecommerce.price_before - ecommerce.price_after %>
                <% discount += total.to_f / ecommerce.price_before * 100  %>
                <% if ecommerce.price_before? %>
                 <h3 class="yousave"><%= number_to_currency total, unit: "$", seperator: ",", delimiter: "" %>(<%= discount.round(0) %>%) Savings</h3>
                <% end %>
                
              
								<ul class="actions">
									<li><a href="<%= ecommerce.site_link %>" target="_blank", class="button">Buy Now</a></li>
									<li><a href="/ecommerces/detail/<%= ecommerce.id %>" class="button">View Detail</a></li>
									<% if user_signed_in? and current_user.admin == true %> 
  									<li><a href="/ecommerces/edit/<%= ecommerce.id %>">Edit</a></li>
  									<li><a href="/ecommerces/destroy/<%= ecommerce.id %>">Delete</a></li>
									<% end %>
								</ul>
								
							</article>
						 <% end %>
						</div>
					</section>
					
			</div><!-- End class="inner" -->
		</div><!-- End id="main" -->
	<%= render 'shared/sidebar' %>	
</div><!-- End id="wrapper" -->

<script>
function myFunction() {
    var x = document.getElementById('sidebar');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script>
