<!-- Wrapper -->
<div id="wrapper">

	<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
					<header id="header">
					  <a href="/" class="logo"><strong>Oh,</strong>   I Gotta Buy This</a>
						<ul class="icons">
						  <li><button class="call_sidebar" onclick="myFunction()">Menu</button></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-medium"><span class="label">Medium</span></a></li>
						</ul>
					</header>
					<div class="check_page">
					  <h2> - <span>T</span>oday's <span>R</span>ecommendations - </h2>
					</div>
				<!-- Banner -->
					<section id="banner">
						<div class="content">
							<header>
								<h1><%= @banner.title %></h1>
								<p><%= @banner.intro %></p>
								<p><%= @banner.description %></p>
							</header>
							
							<div class="container_video">
               <div class="video-wrapper_sample">
                 <iframe src="<%= @banner.youtube_link_01 %>" frameborder="0" allowfullscreen></iframe>
               </div>
              </div>
              <h3 class="banner_price_before"><%= @banner.price_before %></h3>
							<h3 class="banner_price">Price : $<%= @banner.price_after %></h3>
							<ul class="actions">
								<li><a href="<%= @banner.site_link %>" class="button big" target="_blank">Buy Now</a></li>
								<li><a href="/ecommerces/detail/<%= @banner.id %>" class="button big">View Detail</a></li>
							</ul>
						</div>
						<span class="image object">
							<img src="<%= @banner.image_main %>" alt="" />
						</span>
					</section>

				<!-- Section -->
					<section>
						<header class="major">
							<h2>- All Products -</h2>
						</header>
						<div class="posts">
						 <% @ecommerces.reverse.each do |ecommerce| %>  
							<article>
								<a href="/ecommerces/detail/<%= ecommerce.id %>" class="image"><img src="<%= ecommerce.image_main %>" alt="" /></a>
								<h3><%= ecommerce.title %></h3>
								<p><%= ecommerce.intro %></p>
								<h3 class="price_before"><%= ecommerce.price_before %></h3>
								<h3>Price: $<%= ecommerce.price_after %></h3>
								<ul class="actions">
									<li><a href="<%= ecommerce.site_link %>" target="_blank", class="button">Buy Now</a></li>
									<li><a href="/ecommerces/detail/<%= ecommerce.id %>" class="button">View Detail</a></li>
									<% if user_signed_in? and current_user.admin == true %> 
									<li><a href="/ecommerces/edit/<%= ecommerce.id %>">Edit</a></li>
									<li><a href="/ecommerces/destroy/<%= ecommerce.id %>">Delete</a></li>
									<% end %>
								</ul>
							</article>
						 <% end %>
						</div>
					</section>
					
			</div><!-- End class="inner" -->
		</div><!-- End id="main" -->
		
	  <!-- Sidebar -->
		<div id="sidebar">
			<div class="inner">

          <section id="search" class="alt">
            <%= form_tag(search_ecommerce_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", class: "search_search" %>
            <% end %>
          </section>

				<!-- Menu -->
					<nav id="menu">
						<header class="major">
							<h2>Menu</h2>
						</header>
						<ul class="icons">
						  <% if user_signed_in? %>
						    <li><span class="hello">Hello,</span><br /> <%= current_user.name %></li><br />
						  <% else %>
						  	<li class="login"><%= link_to "Log in", new_user_session_path %></li>
					      <li class="signup"><%= link_to "Sign up", new_user_registration_path %></li>
						  <% end %>
					  </ul>
						<ul>
							<li>
								<span class="opener">Account&Wish List</span>
								<ul>
									<li><%= link_to "Edit Account", edit_user_registration_path %></li>
									<li><%= link_to "Wish List", wishlist_show_path %></li>
									<% if user_signed_in? %>
									 <li class="logout"><%= link_to "Log out, Are you sure?", destroy_user_session_path,  method: :delete %></li>
									<% end %>
								</ul>
							</li>
							<li>
  							<span class="opener">Price Range</span>
  							<ul>
  								<% Category.all.each do |category| %>
  									<li><%= link_to category.name, root_path(category: category.name) %></li>
  								<% end %>
  							</ul>
					  	</li>
							<li><a href="#">Newset</a></li>
							<li><a href="#">Popular</a></li>
							<li><a href="#">Amazon Popular</a></li>
							<% if user_signed_in? and current_user.admin == true %> 
  							<li><a href="/ecommerces/upload">Upload</a></li>
  							<li><a href="/rails/db">Management</a></li>
							<% end %>
						</ul>
					</nav>

				<!-- Section -->
					<section>
						<header class="major">
							<h2>HOW ABOUT THIS??</h2>
						</header>
						<div class="mini-posts">
							<article>
								<a href="/ecommerces/detail/<%= @sidebanner_01.id %>" class="image"><img src="<%= @sidebanner_01.image_main %>" alt="" /></a>
								<h3><%= @sidebanner_01.title %></h3>
								<p><%= @sidebanner_01.intro %></p>
								<h3 class="price_before"><%= @sidebanner_01.price_before %></h3>
								<h3>Price: $<%= @sidebanner_01.price_after %></h3>
								<a href="/ecommerces/detail/<%= @sidebanner_01.id %>" class="button">View Detail</a>
							</article>
							<article>
								<a href="/ecommerces/detail/<%= @sidebanner_02.id %>" class="image"><img src="<%= @sidebanner_02.image_main %>" alt="" /></a>
								<h3><%= @sidebanner_02.title %></h3>
								<p><%= @sidebanner_02.intro %></p>
								<h3 class="price_before"><%= @sidebanner_02.price_before %></h3>
								<h3>Price: $<%= @sidebanner_02.price_after %></h3>
								<a href="/ecommerces/detail/<%= @sidebanner_02.id %>" class="button">View Detail</a>
							</article>
							<article>
								<a href="/ecommerces/detail/<%= @sidebanner_03.id %>" class="image"><img src="<%= @sidebanner_03.image_main %>" alt="" /></a>
								<h3><%= @sidebanner_03.title %></h3>
								<p><%= @sidebanner_03.intro %></p>
								<h3 class="price_before"><%= @sidebanner_03.price_before %></h3>
								<h3>Price: $<%= @sidebanner_03.price_after %></h3>
								<a href="/ecommerces/detail/<%= @sidebanner_03.id %>" class="button">View Detail</a>
							</article>
						</div>
					</section>

				<!-- Section -->
					<section>
					  <header class="major">
							<h2>About Us(have to change)</h2>
						</header>
						<p>Oh,Igottabuythis is a free online magazine run by a bunch of geeks who partake in way too much online window shopping.
               Our philosophy is simple: we only want to display the coolest stuff you can find and buy on the web. We are not interested in 
               spamming any boring or lame products at you – when you visit Oh,Igottabuythis you’ll only see interesting, innovative, and often times very odd products.
               Many items listed on this site do return a small commission for product referral, however this is not the sole motivation for featuring an item. 
               Our staff regularly lists products that we receive absolutely no compensation for.
               We do not carry any of the products listed on the site, nor do we directly sell anything.
            </p>
						<header class="major">
							<h2>Get in touch(have to change)</h2>
						</header>
						<p>Please remember that we are not an actual webstore. 
						   We do not sell anything ourselves, and we do not ship anything ourselves. We cannot assist you with your purchase orders, 
						   and we do not know if a product can be shipped internationally.
					  </p>
					  
				<!--Sending Email  -->
					  <div class="form">
              <input type="text" class="input-form" name="new_title" placeholder="Your Name">
            </div>
            <div class="form">
              <input type="text" class="input-form" name="new_title" placeholder="Your Email">
            </div>
            <div class="form">
              <textarea type="text" class="input-form" name="new_description_05" rows="5" placeholder="Your Message"></textarea>
            </div><br />
            <button class="button" type="submit"> Send Email</button>
						<ul class="contact">
							<li class="fa-envelope-o"><a href="#">ohigottabuythis@gmail.com</a></li>
						</ul>
				<!--Sending Email  -->
				
				<!--Facebook Like & Share Button-->
				<!--		<div class="fb-like" data-href="https://affiliate-5-andrew3628.c9users.io" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div><br /><br />-->
				<!--	  <div class="fb-page" data-href="https://www.facebook.com/facebook" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div>-->
				<!--Facebook Like & Share Button-->	
					</section>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Oh,I Gotta Buy This. All rights reserved.</p>
					</footer>

			</div><!-- class="inner" -->
		</div><!-- id="sidebar" -->

</div><!-- End id="wrapper" -->

<script>
function myFunction() {
    var x = document.getElementById('sidebar');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script>
