<% if @search.present? %>
  <!-- Wrapper -->
  <div id="wrapper">
  
  	<!-- Main -->
  		<div id="main">
  			<div class="inner">
  
  				<!-- Header -->
  					<%= render 'shared/header' %>
  
  				<!-- Section -->
  					<section>
  						<header class="major">
  							<h2>Are these the ones you're looking for??</h2>
  						</header>
  						<div class="posts">
  						 <% @search.each do |search| %>  
  							<article>
								
									<a href="/ecommerces/detail/<%= search.id %>" class="image"><img src="<%= search.image_main %>" alt="" /></a>
									<p class="sources"><%= search.sources %></p>
									<h3><%= search.title %></h3>
									<p><%= search.intro %></p>
									
									<% total = 0 %>
									<% discount  = 0 %>
									<div class="price">
	  								<div class="price_h3">
	  								 <h3 class="price_before"><%= number_to_currency search.price_before, unit: "$", seperator: "", delimiter: "" %></h3>
	  							  </div>
	  				        <div class="price_p">
							       <p>Original Price</p>
							      </div>
	  							</div>
	  							<div class="price">
	  							  <div class="price_h3">
	  							   <h3 class="price_after"><%= number_to_currency search.price_after, unit: "$", seperator: "", delimiter: ""  %></h3>
	  						    </div>
	  						    <div class="price_p2">
							       <p>Offer Price</p>
							      </div>
	  							</div>
								  
	                <% total += search.price_before - search.price_after %>
	                <% discount += total.to_f / search.price_before * 100  %>
	                <% if search.price_before? %>
	                 <h3 class="yousave"><%= number_to_currency total, unit: "$", seperator: ",", delimiter: "" %>(<%= discount.round(0) %>%) Savings</h3>
	                <% end %>
	                
	              
									<ul class="actions">
										<li><a href="<%= search.site_link %>" target="_blank", class="button">Buy Now</a></li>
										<li><a href="/ecommerces/detail/<%= search.id %>" class="button">View Detail</a></li>
										<% if user_signed_in? and current_user.admin == true %> 
	  									<li><a href="/ecommerces/edit/<%= search.id %>">Edit</a></li>
	  									<li><a href="/ecommerces/destroy/<%= search.id %>">Delete</a></li>
										<% end %>
									</ul>
									
								</article>
  						 <% end %>
  						</div>
  					</section>
	       </div><!-- End class="inner" -->
	 	</div><!-- End id="main" -->
	<%= render 'shared/sidebar' %>	
</div><!-- End id="wrapper" -->

<% else %>
  <!-- Wrapper -->
  <div id="wrapper">
  
  	<!-- Main -->
  		<div id="main">
  			<div class="inner">
  
					<%= render 'shared/header' %><br /><br />
					
  					<h2>There are no products containing the term(s)  "<%= params[:search] %>."</h2>
  			</div>
  		</div>
    	</div> <!-- End class="inner" -->
		</div> <!-- End id="main" -->
	<%= render 'shared/sidebar' %>	
</div><!-- End id="wrapper" -->
<% end %>
