
  <!-- Wrapper -->
  <div id="wrapper">
  
  	<!-- Main -->
  		<div id="main">
  			<div class="inner">
  
  				<!-- Header -->
  					<header id="header">
  						<a href="/" class="logo"><strong>Oh,</strong>   I Gotta Buy This</a>
  						<ul class="icons">
  						  <li><button class="call_sidebar" onclick="myFunction()">Menu</button></li>
  							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
  							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
  							<li><a href="#" class="icon fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
  							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
  							<li><a href="#" class="icon fa-medium"><span class="label">Medium</span></a></li>
  						</ul>
  					</header>
  
  				<!-- Section -->
  					<section>
  						<header class="major">
  							<h2>Is this what are you looking for??</h2>
  						</header>
  						<div class="posts">
  						 <% @search.each do |search| %>  
  							<article>
  								<a href="#" class="image"><img src="<%= search.image_main %>" alt="" /></a>
  								<h3><%= search.title %></h3>
  								<p><%= search.intro %></p>
  								<h3 class="price_before"><%= search.price_before %></h3>
								  <h3>Price: $<%= search.price_after %></h3>
  								<ul class="actions">
  									<li><a href="<%= search.site_link %>" target="_blank", class="button">Buy Now</a></li>
  									<li><a href="/ecommerces/detail/<%= search.id %>" class="button">View Detail</a></li>
  								</ul>
  							</article>
  						 <% end %>
  						</div>
  					</section>
  			</div>
  		</div>
  
  	<!-- Sidebar -->
  		<div id="sidebar">
  			<div class="inner">
  
  				<!-- Search -->
            <section id="search" class="alt">
              <%= form_tag(search_ecommerce_path, :method => "get", id: "search-form") do %>
              <%= text_field_tag :search, params[:search] %>
              <%= submit_tag "Search" %>
              <% end %>
            </section>
  
  						<!-- Menu -->
					<nav id="menu">
						<header class="major">
							<h2>Menu</h2>
						</header>
						<ul class="icons">
						  <% if user_signed_in? %>
						    <li><span class="hello">Hello,</span><br /> <%= current_user.name %></li><br />
						  <% else %>
						  	<li class="login"><%= link_to "Log in", new_user_session_path %></li>
					      <li class="signup"><%= link_to "Sign up", new_user_registration_path %></li>
						  <% end %>
					  </ul>
						<ul>
							<li>
								<span class="opener">Account&Wish List</span>
								<ul>
									<li><%= link_to "Edit Account", edit_user_registration_path %></li>
									<li><%= link_to "Wish List", wishlist_show_path %></li>
									<% if user_signed_in? %>
									 <li class="logout"><%= link_to "Log out, Are you sure?", destroy_user_session_path,  method: :delete %></li>
									<% end %>
									<li><a href="#">submenu 2</a></li>
								</ul>
							</li>
							<li>
  							<span class="opener">Price Range</span>
  							<ul>
  								<% Category.all.each do |category| %>
  									<li><%= link_to category.name, root_path(category: category.name) %></li>
  								<% end %>
  							</ul>
					  	</li>
							<li><a href="#">Newset</a></li>
							<li><a href="#">Popular</a></li>
							<li><a href="#">Amazon Popular</a></li>
							<% if user_signed_in? and current_user.admin == true %> 
  							<li><a href="/ecommerces/upload">Upload</a></li>
  							<li><a href="/rails/db">Management</a></li>
							<% end %>
						</ul>
					</nav>
  
  				<!-- Section -->
  					<section>
  						<header class="major">
  							<h2>How about this??</h2>
  						</header>
  						<div class="mini-posts">
  							<article>
  								<a href="/ecommerces/detail/<%= @searchbanner_01.id %>" class="image"><img src="<%= @searchbanner_01.image_main %>" alt="" /></a>
  								<h3><%= @searchbanner_01.title %></h3>
  								<p><%= @searchbanner_01.intro %></p>
  								<h3 class="price_before"><%= @searchbanner_01.price_before %></h3>
  								<h3>Price : $<%= @searchbanner_01.price_after %></h3>
  								<a href="/ecommerces/detail/<%= @searchbanner_01.id %>" class="button">View Detail</a>
  							</article>
  							<article>
  								<a href="/ecommerces/detail/<%= @searchbanner_02.id %>" class="image"><img src="<%= @searchbanner_02.image_main %>" alt="" /></a>
  								<h3><%= @searchbanner_02.title %></h3>
  								<p><%= @searchbanner_02.intro %></p>
  								<h3 class="price_before"><%= @searchbanner_02.price_before %></h3>
  								<h3>Price: $<%= @searchbanner_02.price_after %></h3>
  								<a href="/ecommerces/detail/<%= @searchbanner_02.id %>" class="button">View Detail</a>
  							</article>
  							<article>
  								<a href="/ecommerces/detail/<%= @searchbanner_03.id %>" class="image"><img src="<%= @searchbanner_03.image_main %>" alt="" /></a>
  								<h3><%= @searchbanner_03.title %></h3>
  								<p><%= @searchbanner_03.intro %></p>
  								<h3 class="price_before"><%= @searchbanner_03.price_before %></h3>
  								<h3>Price: $<%= @searchbanner_03.price_after %></h3>
  								<a href="/ecommerces/detail/<%= @searchbanner_03.id %>>" class="button">View Detail</a>
  							</article>
  						</div>
  						<!--<ul class="actions">-->
  						<!--	<li><a href="#" class="button">More</a></li>-->
  						<!--</ul>-->
  					</section>
  
  				<!-- Section -->
  					<section>
  						<header class="major">
  							<h2>Get in touch</h2>
  						</header>
  						<p>Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
  						<ul class="contact">
  							<li class="fa-envelope-o"><a href="#">information@untitled.tld</a></li>
  							<li class="fa-phone">(000) 000-0000</li>
  							<li class="fa-home">1234 Somewhere Road #8254<br />
  							Nashville, TN 00000-0000</li>
  						</ul>
  					</section>
  
  				<!-- Footer -->
  					<footer id="footer">
  						<p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
  					</footer>
  
  			</div>
  		</div>
  
  </div>

<% else %>
  <!-- Wrapper -->
  <div id="wrapper">
  
  	<!-- Main -->
  		<div id="main">
  			<div class="inner">
  
  				<!-- Header -->
  					<header id="header">
  						<a href="/" class="logo"><strong>Oh,</strong>   I Gotta Buy This</a>
  						<ul class="icons">
  						  <li><button class="call_sidebar" onclick="myFunction()">Menu</button></li>
  							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
  							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
  							<li><a href="#" class="icon fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
  							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
  							<li><a href="#" class="icon fa-medium"><span class="label">Medium</span></a></li>
  						</ul>
  					</header><br /><br />
  					<h2>There are no products containing the term(s) "<%= params[:search] %>."</h2>
  			</div>
  		</div>
  
  	<!-- Sidebar -->
  		<div id="sidebar">
  			<div class="inner">
  
  				<!-- Search -->
            <section id="search" class="alt">
              <%= form_tag(search_ecommerce_path, :method => "get", id: "search-form") do %>
              <%= text_field_tag :search, params[:search] %>
              <%= submit_tag "Search" %>
              <% end %>
            </section>
  
  				<!-- Menu -->
  					<nav id="menu">
  						<header class="major">
  							<h2>Menu</h2>
  						</header>
  						<ul class="icons">
  						  <% if user_signed_in? %>
  						    <li><span class="hello">Hello,</span><br /> <%= current_user.name %></li><br />
  						    <li class="logout"><%= link_to "Log out", destroy_user_session_path,  method: :delete %></li>  
  						  <% else %>
  						  	<li class="login"><%= link_to "Log in", new_user_session_path %></li>
  					      <li class="signup"><%= link_to "Sign up", new_user_registration_path %></li>
  						  <% end %>
  					  </ul>
  						<ul>
  							<li>
  							  <% if user_signed_in? %>
  								<span class="opener"><%= current_user.name %>`s Account</span>
  								<% end %>
  								<ul>
  									<li><%= link_to "Edit Account", edit_user_registration_path %></li>
  									<li><%= link_to "Wish List", wishlist_show_path %></li>
  									<li><a href="#">submenu 1</a></li>
  									<li><a href="#">submenu 2</a></li>
  								</ul>
  							</li>
  							<li><a href="/">Home</a></li>
  							<li><a href="#">menu1</a></li>
  							<li><a href="#">menu2</a></li>
  							<li><a href="#">menu3</a></li>
  							<li><a href="#">menu4</a></li>
  							<li>
  								<span class="opener">Another Submenu</span>
  								<ul>
  									<li><a href="#">submenu 1</a></li>
  									<li><a href="#">submenu 2</a></li>
  									<li><a href="#">submenu 3</a></li>
  									<li><a href="#">submenu 4</a></li>
  								</ul>
  							</li>
  							<% if user_signed_in? and current_user.admin == true %> 
    							<li><a href="/ecommerces/upload">Upload</a></li>
    							<li><a href="/rails/db">Management</a></li>
  							<% end %>
  						</ul>
  					</nav>
  
  				<!-- Section -->
  					<section>
  						<header class="major">
  							<h2>How about this??</h2>
  						</header>
  						<div class="mini-posts">
  							<article>
  								<a href="/ecommerces/detail/<%= @searchbanner_01.id %>" class="image"><img src="<%= @searchbanner_01.image_main %>" alt="" /></a>
  								<h3><%= @searchbanner_01.title %></h3>
  								<p><%= @searchbanner_01.intro %></p>
  								<h3 class="price_before"><%= @searchbanner_01.price_before %></h3>
  								<h3>Price : $<%= @searchbanner_01.price_after %></h3>
  								<a href="/ecommerces/detail/<%= @searchbanner_01.id %>" class="button">View Detail</a>
  							</article>
  							<article>
  								<a href="/ecommerces/detail/<%= @searchbanner_02.id %>" class="image"><img src="<%= @searchbanner_02.image_main %>" alt="" /></a>
  								<h3><%= @searchbanner_02.title %></h3>
  								<p><%= @searchbanner_02.intro %></p>
  								<h3 class="price_before"><%= @searchbanner_02.price_before %></h3>
  								<h3>Price: $<%= @searchbanner_02.price_after %></h3>
  								<a href="/ecommerces/detail/<%= @searchbanner_02.id %>" class="button">View Detail</a>
  							</article>
  							<article>
  								<a href="/ecommerces/detail/<%= @searchbanner_03.id %>" class="image"><img src="<%= @searchbanner_03.image_main %>" alt="" /></a>
  								<h3><%= @searchbanner_03.title %></h3>
  								<p><%= @searchbanner_03.intro %></p>
  								<h3 class="price_before"><%= @searchbanner_03.price_before %></h3>
  								<h3>Price: $<%= @searchbanner_03.price_after %></h3>
  								<a href="/ecommerces/detail/<%= @searchbanner_03.id %>>" class="button">View Detail</a>
  							</article>
  						</div>
  						<!--<ul class="actions">-->
  						<!--	<li><a href="#" class="button">More</a></li>-->
  						<!--</ul>-->
  					</section>
  
  				<!-- Section -->
  					<section>
  						<header class="major">
  							<h2>Get in touch</h2>
  						</header>
  						<p>Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
  						<ul class="contact">
  							<li class="fa-envelope-o"><a href="#">information@untitled.tld</a></li>
  							<li class="fa-phone">(000) 000-0000</li>
  							<li class="fa-home">1234 Somewhere Road #8254<br />
  							Nashville, TN 00000-0000</li>
  						</ul>
  					</section>
  
  				<!-- Footer -->
  					<footer id="footer">
  						<p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
  					</footer>
  
  			</div>
  		</div>
  
  </div>
