<div class="upload_wrapper">
  <h1>Upload New Product</h1>
  <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
  <i class="fa fa-chevron-left" aria-hidden="true"></i> <%= link_to "Back to Home", root_path %><br/><br/>
  <div class="upload_section">
    <%= form_tag "/ecommerces/create", method: "POST" do %>
      <label>Select a Category</label><br/>
      <%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select a Category") %><br />
      <label>Select Product</label></br >
      <%= select_tag(:pcategory_id, options_for_select(@pcategories), :prompt => "Select Product") %>
      <div class="form"></br>
        <label>Product Title</label>
        <input type="text" class="input-form" name="new_title" placeholder="Product Title">
      </div>
      <div class="form">
        <label>Image_main</label>
        <input type="text" class="input-form" name="new_image_main" placeholder="Main Image url">
      </div>
      <div class="form">
        <label>Image_01</label>
        <input type="text" class="input-form" name="new_image_01" placeholder="Image_01 url">
      </div>
      <div class="form">
        <label>Image_02</label>
        <input type="text" class="input-form" name="new_image_02" placeholder="Image_02 url">
      </div>
      <div class="form">
        <label>Image_03</label>
        <input type="text" class="input-form" name="new_image_03" placeholder="Image_03 url">
      </div>
      <div class="form">
        <label>Image_04</label>
        <input type="text" class="input-form" name="new_image_04" placeholder="Image_04 url">
      </div>
      <div class="form">
        <label>Image_05</label>
        <input type="text" class="input-form" name="new_image_05" placeholder="Image_05 url">
      </div>
      <div class="form">
        <label>Image_06</label>
        <input type="text" class="input-form" name="new_image_06" placeholder="Image_06 url">
      </div>
      <div class="form">
        <label>Sources</label>
        <input type="text" class="input-form" name="new_sources" placeholder="Source Site">
      </div>
      <div class="form">
        <label>Site Link_USA</label>
        <input type="text" class="input-form" name="new_site_link" placeholder="Amazon Product Link url">
        <a href="https://affiliate-program.amazon.com/home/productlinks/search?ac-ms-src=ac-nav" target="_black">Get Link</a>
      </div>
      <div class="form">
        <label>Site Link_UK</label>
        <input type="text" class="input-form" name="new_site_link_uk" placeholder="Amazon Product Link url">
        <a href="https://affiliate-program.amazon.com/home/productlinks/search?ac-ms-src=ac-nav" target="_black">Get Link</a>
      </div>
      <div class="form">
        <label>Site Link_CANADA</label>
        <input type="text" class="input-form" name="new_site_link_ca" placeholder="Amazon Product Link url">
        <a href="https://affiliate-program.amazon.com/home/productlinks/search?ac-ms-src=ac-nav" target="_black">Get Link</a>
      </div>
      <div class="form">
        <label>Site Link_JAPAN</label>
        <input type="text" class="input-form" name="new_site_link_jp" placeholder="Amazon Product Link url">
        <a href="https://affiliate-program.amazon.com/home/productlinks/search?ac-ms-src=ac-nav" target="_black">Get Link</a>
      </div>
      <div class="form">
        <label>Youtube_01</label>
        <input type="text" class="input-form" name="new_youtube_link_01" placeholder="Youtube_01 url">
      </div>
      <div class="form">
        <label>Youtube_02</label>
        <input type="text" class="input-form" name="new_youtube_link_02" placeholder="Youtube_02 url">
        <a href="https://www.youtube.com" target="_black">Get Link</a>
      </div>
      <div class="form">
        <label>Price_before</label>
        <input type="text" class="input-form" name="new_price_before" placeholder="How much was it?">
      </div>
      <div class="form">
        <label>Price_after</label>
        <input type="text" class="input-form" name="new_price_after" placeholder="How much is it?">
      </div>
      <div class="form">
        <label>Intro</label>
        <textarea type="text" class="input-form" name="new_intro" rows="3" placeholder="Intro"></textarea>
      </div>
      <div class="form">
        <label>Description</label>
        <textarea type="text" class="input-form" name="new_description" rows="5" placeholder="Description"></textarea>
      </div>
      <div class="form">
        <label>Description_01</label>
        <textarea type="text" class="input-form" name="new_description_01" rows="5" placeholder="Description_01"></textarea>
      </div>
      <div class="form">
        <label>Description_02</label>
        <textarea type="text" class="input-form" name="new_description_02" rows="5" placeholder="Description_02"></textarea>
      </div>
      <div class="form">
        <label>Description_03</label>
        <textarea type="text" class="input-form" name="new_description_03" rows="5" placeholder="Description_03"></textarea>
      </div>
      <div class="form">
        <label>Description_04</label>
        <textarea type="text" class="input-form" name="new_description_04" rows="5" placeholder="Description_04"></textarea>
      </div>
      <div class="form">
        <label>Description_05</label>
        <textarea type="text" class="input-form" name="new_description_05" rows="5" placeholder="Description_05"></textarea>
      </div>


      <div class="form"></br>
        <label>Postive How_Mnay People</label>
        <input type="text" class="input-form" name="new_postive_howmany" placeholder="Postive How Many People?">
      </div>
      <div class="form">
        <label>Postive Review</label>
        <textarea type="text" class="input-form" name="new_postive_review" rows="5" placeholder="Postive Review"></textarea>
      </div>
      <div class="form"></br>
        <label>Postive Review_by</label>
        <input type="text" class="input-form" name="new_postive_review_by" placeholder="Postive Review_by">
      </div>
      <div class="form"></br>
        <label>Postive Review_link</label>
        <input type="text" class="input-form" name="new_postive_review_link" placeholder="Postive Review_link">
      </div>

      <div class="form"></br>
        <label>Critical How_Mnay People</label>
        <input type="text" class="input-form" name="new_critical_howmany" placeholder="Critical How Many People?">
      </div>
      <div class="form">
        <label>Critical Review</label>
        <textarea type="text" class="input-form" name="new_critical_review" rows="5" placeholder="Critical Review"></textarea>
      </div>
      <div class="form"></br>
        <label>Critical Review_by</label>
        <input type="text" class="input-form" name="new_critical_review_by" placeholder="Critical Review_by">
      </div>
      <div class="form"></br>
        <label>Critical Review_link</label>
        <input type="text" class="input-form" name="new_critical_review_link" placeholder="Critical Review_link">
      </div>


      <button class="button" type="submit">Upload</button>
      <i class="fa fa-chevron-left" aria-hidden="true"></i> <%= link_to "Back to Home", root_path %>
    <% end %>
  </div>
</div>