
  <!-- <h3 class="discount_category">Category</h3> -->
  <select id="discount_filter">
    <option value="all">All Departments</option>
    <option value="automotive">Automotive</option>
    <option value="baby">Baby</option>
    <option value="beauty">Beauty</option>
    <option value="books">Books</option>
    <option value="business">Business, Industrial & Scientific</option>
    <option value="cellphones">Cell Phones & Accessories</option>
    <option value="clothing">Clothing & Accessories</option>
    <option value="electronics">Electronics</option>
    <option value="fashion">Fashion</option>
    <option value="furniture">Furniture</option>
    <option value="grocery">Grocery</option>
    <option value="computer">Computer</option>
    <option value="health">Health & Personal Care</option>
    <option value="home">Home</option>
    <option value="jewelry">Jewelry</option>
    <option value="kitchen">Kitchen & Housewares</option>
    <option value="miscellaneous">Miscellaneous</option>
    <option value="office">Office</option>
    <option value="pets">Pets</option>
    <option value="patio">Patio, Lawn & Garden</option>
    <option value="outdoor">Sports & Outdoors</option>
    <option value="tools">Tools & Home Improvement</option>
    <option value="toy">Toys & Games</option>
  </select>


<section class="discount_items">

  <ul class="cards discount_list">

    <% @discount_codes.each do |code| %>
      <li class="cards__item" rel="<%= code.discount_spare_01 %>">
      <div class="card">
        <div class="card__image_code"><a href="<%= code.discount_link_01 %>"><img src="<%= code.discount_image %>" alt="<%= code.discount_title %>" title="<%= code.discount_title %>"></a></div>          
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch"><%= code.discount_sale %></div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title"><%= code.discount_title %></div>
          <p class="discount_codes"><%= code.discount_code %></p>
          <p class="code_date">End Date: <%= code.discount_date %></p>
          <div class="discount_botton">
           <a href="<%= code.discount_link_01 %>"><p class="use_code">Use This Code</p></a>
           <% if code.discount_link_02.present? %>
            <a href="<%= code.discount_link_02 %>"><p class="use_code">More Products</p></a>
           <% end %>
          </div>
          <% if can? :update, code %>
           <%= link_to "Edit", edit_code_path(code) %>
           <%= link_to "Delete", code_path(code), method: :delete, data: { confirm: "Are you sure?" } %>
          <% end %>
        </div>
      </div>
    </li>
    <% end %>

    <!-- <li class="cards__item" rel="Category">
      <div class="card">
        <div class="card__image_code"><a href="Products_Link"><img src="Image_link" alt="Image_title" title="Prodcuts_title"></a></div>          
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">Howmany</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Prodcuts_title</div>
          <p class="discount_codes">Promo_code</p>
          <p class="code_date">End Date: when_until</p>
          <div class="discount_botton">
            <a href="Products_Link"><p class="use_code">Use This Code</p></a>
            <a href="More_Products_Link"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li> -->

    <li class="cards__item" rel="electronics">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2NjWkap"><img src="https://images-na.ssl-images-amazon.com/images/I/71yO9ePel8L._SX522_.jpg" alt="Paww WaveSound 3 Bluetooth Headphones" title="Paww WaveSound 3 Bluetooth Headphones"></a></div>          
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">30%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Paww WaveSound 3 Bluetooth Headphones</div>
          <p class="discount_codes">306HZ9BL</p>
          <p class="code_date">End Date: Aug 01, 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2NjWkap"><p class="use_code">Use This Code</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="outdoor">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2KsVZnS"><img src="https://images-na.ssl-images-amazon.com/images/I/51uRIo2OOJL._SX679_.jpg" alt="sanwo Activity Fitness Tracker Watch" title="sanwo Activity Fitness Tracker Watch"></a></div>          
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">60%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">sanwo Activity Fitness Tracker Watch</div>
          <p class="discount_codes">60E74WIO</p>
          <p class="code_date">End Date: Aug 01, 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2KsVZnS"><p class="use_code">Use This Code</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="outdoor">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2KGHZmp"><img src="https://images-na.ssl-images-amazon.com/images/I/61Skrxkxl0L._SX522_.jpg" alt="watch" title="watch"></a></div>          
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">40%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">CosyZanx for Fitbit Versa Bands Elegant Stainless Steel Wristbands for Women </div>
          <p class="discount_codes">40857SSQ</p>
          <p class="code_date">End Date: Jul 31, 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2KGHZmp"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2z5YGXa"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="electronics">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2KIzKJZ"><img src="https://images-na.ssl-images-amazon.com/images/I/818KI0YQHlL._SX679_.jpg" alt="Samtronic Wooden Bluetooth Alarm Clock Radio Speaker" title="Samtronic Wooden Bluetooth Alarm Clock Radio Speaker"></a></div>          
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">60%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Samtronic Wooden Bluetooth Alarm Clock Radio Speaker</div>
          <p class="discount_codes">606BAQ21</p>
          <p class="code_date">End Date: Jul 31, 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2KIzKJZ"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2KCieaa"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="cellphones">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2lOIOyT"><img src="https://images-na.ssl-images-amazon.com/images/I/71BLU7giAGL._SX522_.jpg" alt="Headphones Case" title="Headphones Case"></a></div>          
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">65%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Headphones Case, Iksnail Portable Storage Bag, Travel Hard Carrying Pouch </div>
          <p class="discount_codes">657H4H8E</p>
          <p class="code_date">End Date: Jul 31, 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2lOIOyT"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2u1k3D7"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="beauty">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2z6qv1H"><img src="https://images-na.ssl-images-amazon.com/images/I/61LqOm%2B5EpL._SX522_.jpg" alt="Roller Massager" title="Roller Massager"></a></div>          
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">50%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Rose Quartz Roller Massager</div>
          <p class="discount_codes">50Q87JTX</p>
          <p class="code_date">End Date: Jul 31, 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2z6qv1H"><p class="use_code">Use This Code</p></a>            
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="electronics">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2u2iBAv"><img src="https://images-na.ssl-images-amazon.com/images/I/61bPOLZXbNL._SX679_.jpg" alt="SAMTRONIC Sound Bar, Bluetooth Soundbar Audio TV Speakers" title="Sound bar"></a></div>          
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">15%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">SAMTRONIC Sound Bar, Bluetooth Soundbar Audio TV Speakers</div>
          <p class="discount_codes">15DLMHUY</p>
          <p class="code_date">End Date: Jul 31, 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2u2iBAv"><p class="use_code">Use This Code</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="clothing">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2lRIBuY"><img src="https://images-na.ssl-images-amazon.com/images/I/719XwuMpSWL._UX522_.jpg" alt="Women's clothing" title="Women's clothing"></a></div>          
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">61%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">MOOSUNGEEK Women's Floral Print Tunic Shirts Pleated Flowy Blouse Tops</div>
          <p class="discount_codes">614BVV5H</p>
          <p class="code_date">End Date: Jul 15, 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2lRIBuY"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2NpaBTc"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="jewelry">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2Nmhdlh"><img src="https://images-na.ssl-images-amazon.com/images/I/61L9ZEFGUSL._UY575_.jpg" alt="Bracelet" title="Bracelet"></a></div>          
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">15%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">GNOCE Women's Charm Bracelet Arrow Bracelet Clasp Bracelets </div>
          <p class="discount_codes">159EXG3K</p>
          <p class="code_date">End Date: Aug 01, 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2Nmhdlh"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2Nlk4L9"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="outdoor">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2NkfRr2"><img src="https://images-na.ssl-images-amazon.com/images/I/81rotXugnLL._SX679_.jpg" alt="Dtown Insulated Hydration Pack" title="Outdors backpack"></a></div>          
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">15%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Dtown Insulated Hydration Pack Suits Kids Women Men</div>
          <p class="discount_codes">15HPV8GM</p>
          <p class="code_date">End Date: Jul 31, 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2NkfRr2"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2tO3gEe"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="cellphones">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2NmPFMG"><img src="https://images-na.ssl-images-amazon.com/images/I/71aLMKcu30L._SX679_.jpg" alt="USB Type C Cable, USB C Cable 3 Pack " title="USB Type C Cable, USB C Cable 3 Pack "></a></div>          
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">30%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">USB Type C Cable, USB C Cable 3 Pack </div>
          <p class="discount_codes">30DHH4UP</p>
          <p class="code_date">End Date: Aug 01, 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2NmPFMG"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2ML8Oqp"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="beauty">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2NmOi0u"><img src="https://images-na.ssl-images-amazon.com/images/I/71b6-GJkvDL._SX522_.jpg" alt="Makeup Brushes Sets" title="Makeup Brushes Sets"></a></div>          
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">50%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Makeup Brushes Sets Foundation Brush Professional Premium Synthetic Kabuki Brushes </div>
          <p class="discount_codes">50GL5YKL</p>
          <p class="code_date">End Date: Jul 26, 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2NmOi0u"><p class="use_code">Use This Code</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="home">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2Nmt8zy"><img src="https://images-na.ssl-images-amazon.com/images/I/811lr3rG-NL._SX522_.jpg" alt="Corner Cushion" title="Corner Cushion"></a></div>          
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">40%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Vacker EXTRA THICKER Child and Corner Cushion</div>
          <p class="discount_codes">40T4GOODS</p>
          <p class="code_date">End Date: Aug 01, 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2Nmt8zy"><p class="use_code">Use This Code</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="home">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2tOo26Q"><img src="https://images-na.ssl-images-amazon.com/images/I/61eG1dMjpCL._SX679_.jpg" alt="Picture Frame" title="Picture Frame"></a></div>          
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">30%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Giftgarden 8x10 Picture Frame Multi Photo Frames Set</div>
          <p class="discount_codes">30E8PLCP</p>
          <p class="code_date">End Date: Aug 01, 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2tOo26Q"><p class="use_code">Use This Code</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="home">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2NjWG0J"><img src="https://images-na.ssl-images-amazon.com/images/I/71eqEzs1BJL._SX679_.jpg" alt="Seersucker Duvet Cover" title="Seersucker Duvet Cover"></a></div>          
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">50%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Seersucker Duvet Cover, 3 Pieces Light Simple Sweet Style Gary White</div>
          <p class="discount_codes">50BO7C7V</p>
          <p class="code_date">End Date: Jul 04, 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2NjWG0J"><p class="use_code">Use This Code</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="tools">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2IOb6T6"><img src="https://images-na.ssl-images-amazon.com/images/I/61BDqxBgc8L._SX679_.jpg" alt="WIFI Smart Plug" title="WIFI Smart Plug"></a></div>          
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">38%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">WIFI Smart Plug Work with Amazon Alexa, Google Home, IFTTT, BASDUN Mini Wireless Outlet Switch Remote Control </div>
          <p class="discount_codes">38Q9BAGR</p>
          <p class="code_date">End Date: Jul 31, 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2IOb6T6"><p class="use_code">Use This Code</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="jewelry">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2Nmp9TC"><img src="https://images-na.ssl-images-amazon.com/images/I/61jIL3zV3GL._UY500_.jpg" alt="Valentine Gift" title="Valentine Gift"></a></div>          
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">20%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">ASHMITA Cute Kiss Elephant Couple Keychain for Women Charm Romantic Valentine Gift</div>
          <p class="discount_codes">20TWFMYL</p>
          <p class="code_date">End Date: Jul 31, 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2Nmp9TC"><p class="use_code">Use This Code</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="kitchen">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2JCUkHP"><img src="https://images-na.ssl-images-amazon.com/images/I/91M1WfJDUsL._SL1500_.jpg" alt="Collapsible Dish Draining Rack With Mat Included" title="Collapsible Dish Draining Rack With Mat Included"></a></div>          
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">50%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Collapsible Dish Draining Rack With Mat Included</div>
          <p class="discount_codes">50JN2MZJ</p>
          <p class="code_date">End Date: Jul 8 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2JCUkHP"><p class="use_code">Use This Code</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="fashion">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2JGoUQL"><img src="https://images-na.ssl-images-amazon.com/images/I/61tMk1HHLCL._UX679_.jpg" alt="BOSTANTEN Water Resistant Backpack Purse Laptop Travel Backpacks School Nylon Bag for Women" title="BOSTANTEN Water Resistant Backpack Purse Laptop Travel Backpacks School Nylon Bag for Women"></a></div>          
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">20%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">BOSTANTEN Water Resistant Backpack Purse Laptop Travel Backpacks School Nylon Bag for Women</div>
          <p class="discount_codes">20DGW9FP</p>
          <p class="code_date">End Date: Jul 8 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2JGoUQL"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2JJp2Cl"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="fashion">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2JFoM42"><img src="https://images-na.ssl-images-amazon.com/images/I/61DIAeQDx3L._UY535_.jpg" alt="BOSTANTEN RFID Blocking Leather Wallet Multi Credit Card Holder Wallets For Women" title="BOSTANTEN RFID Blocking Leather Wallet Multi Credit Card Holder Wallets For Women"></a></div>          
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">20%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">BOSTANTEN RFID Blocking Leather Wallet Multi Credit Card Holder Wallets For Women</div>
          <p class="discount_codes">2085T5CD</p>
          <p class="code_date">End Date:  Jul 8 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2JFoM42"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2t0QD7X"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="home">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2MhnVs2"><img src="https://images-na.ssl-images-amazon.com/images/I/61iWTgTguvL._SL1005_.jpg" alt="Vyaime Aromatherapy Essential Oil Diffuser" title="Vyaime Aromatherapy Essential Oil Diffuser, Lotus Flower Diffuser Ceramic Decor Humidifier for Office, USB Auto Shut-off Home Air Purifier - White"></a></div>          
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">49%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Vyaime Aromatherapy Essential Oil Diffuser, Lotus Flower Diffuser Ceramic Decor Humidifier for Office, USB Auto Shut-off Home Air Purifier - White</div>
          <p class="discount_codes">49TWLDXM</p>
          <p class="code_date">End Date: Jul 7 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2MhnVs2"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2JDwFqS"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="electronics">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2MlJBDh"><img src="https://images-na.ssl-images-amazon.com/images/I/71V61cVCq6L._SL1500_.jpg" alt="USB Alarm Clock Radio" title="USB Alarm Clock Radio, Digital FM Radio Alarm Clock with USB for bedroom Charging Port and FM Radios, Dual Alarm,LED Display with Dimmer, Sleep Timer, Snooze for Bedroom"></a></div>          
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">10%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">ProdUSB Alarm Clock Radio, Digital FM Radio Alarm Clock with USB for bedroom Charging Port and FM Radios, Dual Alarm,LED Display with Dimmer, Sleep Timer, Snooze for Bedroomcuts_title</div>
          <p class="discount_codes">108J1QVS</p>
          <p class="code_date">End Date: Jul 8 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2MlJBDh"><p class="use_code">Use This Code</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="computer">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2MjMB36"><img src="https://images-na.ssl-images-amazon.com/images/I/81RhiwpuSjL._SL1500_.jpg" alt="Macbook Pro 13 Case 2018 2017 2016 iBenzer Hexpact 2.0 Dual Layer Design Full-body Rugged Protective Cover" title="Macbook Pro 13 Case 2018 2017 2016 iBenzer Hexpact 2.0 Dual Layer Design Full-body Rugged Protective Cover"></a></div> 
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">20%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Macbook Pro 13 Case 2018 2017 2016 iBenzer Hexpact 2.0 Dual Layer Design Full-body Rugged Protective Cover</div>
          <p class="discount_codes">20DIJKIK</p>
          <p class="code_date">End Date: Jul 8 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2MjMB36"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2MiOmgU"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="home">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2IA0dJf"><img src="https://images-na.ssl-images-amazon.com/images/I/91zKLNPtWkL._SL1500_.jpg" alt="Cal King"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">10%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Cal King 3 Piece Fall Damask Turquoise Reversible Bedspread Quilt Set</div>
          <p class="discount_codes">10TACHE10</p>
          <p class="code_date">End Date: Aug 31 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2IA0dJf"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2ICipy4"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="grocery">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2IEbh49"><img src="https://images-na.ssl-images-amazon.com/images/I/71gQVYkVlcL._SX522_.jpg" alt="GURU Organic Energy Drink"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">15%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">GURU Organic Energy Drink</div>
          <p class="discount_codes">15BUCKET</p>
          <p class="code_date">End Date: Aug 31 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2IEbh49"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2Lh8vDA"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="pet">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2IGacfk"><img src="https://images-na.ssl-images-amazon.com/images/I/91fgGCJ4BML._SL1500_.jpg" alt="Pet 'n Shape Bacon-D Strips with Turkey and Real Bacon - Made in the USA"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">$4.00</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Pet 'n Shape Bacon-D Strips with Turkey and Real Bacon - Made in the USA</div>
          <p class="discount_codes">4BACON</p>
          <p class="code_date">End Date: Aug 30 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2IGacfk"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2rBKiQg"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="miscellaneous">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2KSXw38"><img src="https://images-na.ssl-images-amazon.com/images/I/712PGBDw-vL._SL1200_.jpg" alt="Ukulele Solid Mahogany"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">$3.00</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Ukulele Solid Mahogany 23 Inch Concert Uke With Free Online Course 8 Packs Beginner Starter Kit</div>
          <p class="discount_codes">3ASCKI1S8W6</p>
          <p class="code_date">End Date: Aug 27 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2KSXw38"><p class="use_code">Use This Code</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="grocery">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2G9FxC2"><img src="https://images-na.ssl-images-amazon.com/images/I/51-9bHVFp4L.jpg" alt="Trimino"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">20%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Trimino Protein Infused Water, 3-Flavor Variety Pack</div>
          <p class="discount_codes">20TRIMENOW</p>
          <p class="code_date">End Date: Aug 24 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2G9FxC2"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2I9rOkq"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="outdoor">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2I8yY8p"><img src="https://images-na.ssl-images-amazon.com/images/I/716iZixheKL._SL1080_.jpg" alt="Elimishield HUNT CORE Body Foam"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">50%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Elimishield HUNT CORE Body Foam ~ Scent-Eliminating Sanitizer For Hunters </div>
          <p class="discount_codes">50OFFCORE</p>
          <p class="code_date">End Date: Aug 1 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2I8yY8p"><p class="use_code">Use This Code</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="health">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2rD7tsC"><img src="https://images-na.ssl-images-amazon.com/images/I/71YhuwGpuML._SX522_.jpg" alt="PowerBar Plant Protein Bar"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">$4.00</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">PowerBar Plant Protein Bar, Dark Chocolate Salted Caramel Cashew</div>
          <p class="discount_codes">4TRYPOWERBAR</p>
          <p class="code_date">End Date: Aug 8 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2rD7tsC"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2G7It27"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="health">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2G9eDtO"><img src="https://images-na.ssl-images-amazon.com/images/I/81CAjZb6zJL._SX522_.jpg" alt="Premier Protein Clear Drink"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">$4.00</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Premier Protein Clear Drink, Raspberry, 16.9 fl oz Bottle</div>
          <p class="discount_codes">4TRYPREMIER</p>
          <p class="code_date">End Date: Aug 8 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2G9eDtO"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2Khze1E"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="health">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2IcgFiG"><img src="https://images-na.ssl-images-amazon.com/images/I/71MWlWjdh%2BL._SX522_.jpg" alt="EAS Myoplex Hydrate Real Food Hydration Powder for Endurance Athletes"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">20%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">EAS Myoplex Hydrate Real Food Hydration Powder for Endurance Athletes, Ocean Side Lemon Lime</div>
          <p class="discount_codes">20TRICLUBEAS</p>
          <p class="code_date">End Date: Jul 18 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2IcgFiG"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2KXcHYX"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="grocery">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2rCJcUn"><img src="https://images-na.ssl-images-amazon.com/images/I/81YoYPtbJ7L._SX522_.jpg" alt="GoodnessKNOWS Cranberry"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">25%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">GoodnessKNOWS Cranberry, Almond & Dark Chocolate Gluten Free Snack Square Bars </div>
          <p class="discount_codes">25GKSNACK</p>
          <p class="code_date">End Date: Jan 1 , 2019</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2rCJcUn"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2IaisVC"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

  </ul>

</section>