
  <!-- <h3 class="discount_category">Category</h3> -->
  <select id="discount_filter">
    <option value="all">All Departments</option>
    <option value="automotive">Automotive</option>
    <option value="baby">Baby</option>
    <option value="beauty">Beauty</option>
    <option value="books">Books</option>
    <option value="business">Business, Industrial & Scientific</option>
    <option value="cellphones&Accessories">Cell Phones & Accessories</option>
    <option value="clothing">Clothing & Accessories</option>
    <option value="computer">Computer</option>
    <option value="electronics">Electronics</option>
    <option value="fashion">Fashion</option>
    <option value="furniture">Furniture</option>
    <option value="grocery">Grocery</option>
    <option value="health">Health & Personal Care</option>
    <option value="home">Home</option>
    <option value="jewelry">Jewelry</option>
    <option value="kitchen">Kitchen & Housewares</option>
    <option value="miscellaneous">Miscellaneous</option>
    <option value="office">Office</option>
    <option value="pets">Pets</option>
    <option value="patio">Patio, Lawn & Garden</option>
    <option value="outdoor">Sports & Outdoors</option>
    <option value="tools">Tools & Home Improvement</option>
    <option value="toy">Toys & Games</option>
  </select>


<section class="discount_items">

  <ul class="cards discount_list">

    <% @discount_codes.each do |code| %>
      <li class="cards__item" rel="<%= code.discount_spare_01 %>">
      <div class="card">
        <div class="card__image_code"><a href="<%= code.discount_link_01 %>"><img src="<%= code.discount_image %>" alt="<%= code.discount_title %>" title="<%= code.discount_title %>"></a></div>          
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_text">Discount Code</div>
            <div class="masonry_sale_howmuch"><%= code.discount_code %></div>
          </div>
        </div>
        <div class="card__content am_card_price">
          <div class="card__title"><%= code.discount_title %></div>
          <ul>
            <li>$<%= code.discount_spare_02 %></li> |
            <li><%= code.discount_sale %> OFF</li>
          </ul>          
          <p class="code_date">End Date: <%= code.discount_date %></p>
          <div class="discount_botton">
           <% if code.discount_link_01.present? %>
            <a href="<%= code.discount_link_01 %>"><p class="use_code">Use This Code</p></a>
           <% end %>
           <% if code.discount_link_02.present? %>
            <a href="<%= code.discount_link_02 %>"><p class="use_code">More Products</p></a>
           <% end %>
          </div>
          <% if can? :update, code %>
           <ul>
             <li><%= link_to "Edit", edit_code_path(code) %></li>
             <li><%= link_to "Delete", code_path(code), method: :delete, data: { confirm: "Are you sure?" } %></li>
           </ul>   
          <% end %>
        </div>
      </div>
    </li>
    <% end %>

    <!-- <li class="cards__item" rel="Category">
      <div class="card">
        <div class="card__image_code"><a href="Products_Link"><img src="Image_link" alt="Image_title" title="Prodcuts_title"></a></div>          
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">Howmany</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Prodcuts_title</div>
          <p class="discount_codes">Promo_code</p>
          <p class="code_date">End Date: when_until</p>
          <div class="discount_botton">
            <a href="Products_Link"><p class="use_code">Use This Code</p></a>
            <a href="More_Products_Link"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li> -->
<!-- 
    <li class="cards__item" rel="home">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2IA0dJf"><img src="https://images-na.ssl-images-amazon.com/images/I/91zKLNPtWkL._SL1500_.jpg" alt="Cal King"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_text">Discount</div>
            <div class="masonry_sale_howmuch">10TACHE10</div>
          </div>
        </div>
        <div class="card__content am_card_price">
          <div class="card__title">Cal King 3 Piece Fall Damask Turquoise Reversible Bedspread Quilt Set</div>
          <ul>
            <li>$100.00</li> |
            <li>50% OFF</li>
          </ul>
          <p class="code_date">End Date: Aug 31 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2IA0dJf"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2ICipy4"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="grocery">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2IEbh49"><img src="https://images-na.ssl-images-amazon.com/images/I/71gQVYkVlcL._SX522_.jpg" alt="GURU Organic Energy Drink"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">15%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">GURU Organic Energy Drink</div>
          <p class="discount_codes">15BUCKET</p>
          <p class="code_date">End Date: Aug 31 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2IEbh49"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2Lh8vDA"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="pet">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2IGacfk"><img src="https://images-na.ssl-images-amazon.com/images/I/91fgGCJ4BML._SL1500_.jpg" alt="Pet 'n Shape Bacon-D Strips with Turkey and Real Bacon - Made in the USA"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">$4.00</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Pet 'n Shape Bacon-D Strips with Turkey and Real Bacon - Made in the USA</div>
          <p class="discount_codes">4BACON</p>
          <p class="code_date">End Date: Aug 30 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2IGacfk"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2rBKiQg"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="miscellaneous">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2KSXw38"><img src="https://images-na.ssl-images-amazon.com/images/I/712PGBDw-vL._SL1200_.jpg" alt="Ukulele Solid Mahogany"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">$3.00</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Ukulele Solid Mahogany 23 Inch Concert Uke With Free Online Course 8 Packs Beginner Starter Kit</div>
          <p class="discount_codes">3ASCKI1S8W6</p>
          <p class="code_date">End Date: Aug 27 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2KSXw38"><p class="use_code">Use This Code</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="grocery">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2G9FxC2"><img src="https://images-na.ssl-images-amazon.com/images/I/51-9bHVFp4L.jpg" alt="Trimino"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">20%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Trimino Protein Infused Water, 3-Flavor Variety Pack</div>
          <p class="discount_codes">20TRIMENOW</p>
          <p class="code_date">End Date: Aug 24 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2G9FxC2"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2I9rOkq"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="grocery">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2rCJcUn"><img src="https://images-na.ssl-images-amazon.com/images/I/81YoYPtbJ7L._SX522_.jpg" alt="GoodnessKNOWS Cranberry"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">25%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">GoodnessKNOWS Cranberry, Almond & Dark Chocolate Gluten Free Snack Square Bars </div>
          <p class="discount_codes">25GKSNACK</p>
          <p class="code_date">End Date: Jan 1 , 2019</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2rCJcUn"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2IaisVC"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li> -->

  </ul>

</section>