<header id="header">
  <a href="/" class="logo main_header" title="ohigottabuythis"><strong>Oh,</strong> I Gotta Buy This </a>
<!--   <ul class="icons">	   
	  <li><a href="https://www.facebook.com/Ohigottabuythis" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
		<li><a href="https://twitter.com/OhIgottabuythis" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
		<li><a href="https://www.instagram.com/oh_igottabuythis" target="_blank" class="icon fa-instagram"><span class="label">Instagram</span></a></li>						
		<li><a href="https://www.pinterest.com/ohigottabuythis/" target="_blank" class="icon fa fa-pinterest-p"><span class="label">Pinterest</span></a></li>
		<li><a href="https://www.youtube.com/channel/UCPtAAP5zlHCRYdCDqGR_jeA" target="_blank" class="icon fa fa-youtube-play"><span class="label">Youtube</span></a></li>
  </ul> -->
</header>

<div class="container">
  <div class="navbar">
    <a href="#" class="navbar-menu"><i class="fa fa-bars open" aria-hidden="true"></i></a>
      <ul class="navbar-links">
        <li class="navbar-links-link"><%= link_to "Home", root_path %></li>
        <li class="navbar-links-link"><%= link_to "HotDeal Quick Search", quicksearch_path %></li>
        <li class="navbar-links-link"><%= link_to "Promotions", promotion_path %></li>
        <li class="navbar-links-link"><%= link_to "Coupons", coupons_path %></li>
        <li class="navbar-links-link"><%= link_to "Discount Codes", discount_codes_path %></li>
        <li class="navbar-links-link"><%= link_to "Shopping", gadgets_path %></li>
        <li class="navbar-links-link"><%= link_to "Blog", blogs_home_path %></li>

      </ul>
  </div>
</div>

<div class="navbar-collapsed">
  <a href="#" class="navbar-collapsed-close"><i class="fa fa-times close" aria-hidden="true"></i></a>
  <div class="container">
    <ul class="navbar-collapsed-links">
      <li class="navbar-collapsed-links-link"><%= link_to "Home", root_path %></li>
      <li class="navbar-collapsed-links-link"><%= link_to "HotDeal Quick Search", quicksearch_path %></li>
      <li class="navbar-collapsed-links-link"><%= link_to "Promotions", promotion_path %></li>
      <li class="navbar-collapsed-links-link"><%= link_to "Coupons", coupons_path %></li>
      <li class="navbar-collapsed-links-link"><%= link_to "Discount Codes", discount_codes_path %></li>
      <li class="navbar-collapsed-links-link"><%= link_to "Shopping", gadgets_path %></li>
      <li class="navbar-collapsed-links-link"><%= link_to "Blog", blogs_home_path %></li>
    </ul>
  </div>
</div>


