<div id="sidebar">
	<div class="inner">

      <section id="search" class="alt">
        <%= form_tag(search_ecommerce_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search] %>
        
        <% end %>
      </section>

		<!-- Menu -->
			<nav id="menu">
				<header class="major">
					<h2>Menu</h2>
				</header>
				<ul class="icons">
				  <% if user_signed_in? %>
				    <li><span class="hello">Hello,</span><br /> <%= current_user.name %></li><br /><br />
				  <% else %>
				  	<li class="login"><%= link_to "Log in", new_user_session_path %></li>
			      <li class="signup"><%= link_to "Sign up", new_user_registration_path %></li><br /><br />
				  <% end %>
			  </ul>
				<ul>
					<li>
						<span class="opener">Account & Lists</span>
						<ul>
							<li><%= link_to "Setting", edit_user_registration_path %></li>
							<li><%= link_to "Wish List", wishlist_show_path %></li>
              <li><a href="message/contact_us">Contact Us</a></li>
							<% if user_signed_in? %>
							 <li class="logout"><%= link_to "Log out, Are you sure?", destroy_user_session_path, method: :delete %></li>
							<% end %>
						</ul>
					</li>
			  	<li>
						<span class="opener">Shop by Category</span>
						<ul>
							<% Pcategory.all.each do |pcategory| %>
								<li><%= link_to pcategory.name, pcategory_product_path(pcategory: pcategory.name) %></li>
							<% end %>
						</ul>
			  	</li>
			  	<li>
						<span class="opener">Shop by Price</span>
						<ul>
							<% Category.all.each do |category| %>
								<li><%= link_to category.name, category_price_path(category: category.name) %></li>
							<% end %>
						</ul>
			  	</li>

					
				  <!--<li>-->
				<!--		<span class="opener">More Category</span>-->
				<!--		<ul>-->
				<!--			<li><a target="_blank" href="https://www.amazon.com/stream/80edd9ee-ae64-4dfe-8db8-eb3d745f2094/ref=as_li_ss_tl?asCursor=WyIxLjgiLCJ0czEiLCIxNTA1Mjk5MjAwMDAwIiwiIiwiUzAwMTU6MDpudWxsIiwiUzAwMTU6MjoxIiwiUzAwMTU6MDotMSIsIiIsIiIsIjAiLCJzdWIyIiwiMTUwNTMwOTI3ODcyOSIsImhmMS1zYXZlcyIsIjE1MDUzMDEzMDAwMDAiLCJ2MSIsIjE1MDUzMDY1NDQ1MTIiLCJ2MSIsIjE1MDEwMTYzNDk2NTgiLCIiLCIwIl0%3D&amp;asCacheIndex=0&amp;asYOffset=-370.8000183105469&amp;linkCode=sl2&amp;tag=prophack-20&amp;linkId=d76dde8442fa84584d046b4f248b0d9a&_encoding=UTF8&tag=scarlet3628-20&linkCode=ur2&linkId=fd6607690384668b605f1f9b40153100&camp=1789&creative=9325">INTERESTING FINDS UPDATED DAILY</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=scarlet3628-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>-->
				<!--		</ul>-->
			  <!--	</li>-->
			  	
					<% if user_signed_in? and current_user.admin == true %> 
						<li><a href="/ecommerces/upload">Upload</a></li>
						<li><a href="/rails/db">Management</a></li>
						<li><a href="/message/message_board">Message Board</a></li>
					<% end %>
				</ul>
			</nav>
			
		<!-- Start Facebook -->	
			<div class="fb-page" data-href="https://www.facebook.com/Ohigottabuythis/" data-tabs="timeline" data-height="70" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
			  <blockquote cite="https://www.facebook.com/Ohigottabuythis/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Ohigottabuythis/">Oh, I Gotta Buy This</a></blockquote>
			</div>

		<!-- Section -->
			<section>
				<header class="major">
					<h2>Random posts</h2>
				</header>
				<div class="mini-posts">
					<article>
						<a href="/ecommerces/detail/<%= @sidebanner_01.id %>" class="image"><img src="<%= @sidebanner_01.image_main %>" alt="" /></a>
						<h3><%= @sidebanner_01.title %></h3>
						<p><%= @sidebanner_01.intro %></p>
			 
						<% total = 0 %>
						<% discount  = 0 %>
						<div class="price">
							<div class="price_h3">
								<h3 class="price_before"><%= number_to_currency @sidebanner_01.price_before, unit: "$", seperator: "", delimiter: ""  %></h3>
							 </div>
			        <div class="price_p">
				       <p>Original Price</p>
				      </div>	
						</div>	
						<div class="price">
						  <div class="price_h3">
								<h3 class="price_after"><%= number_to_currency @sidebanner_01.price_after, unit: "$", seperator: "", delimiter: ""  %></h3>
							</div>
					    <div class="price_p2">
				       <p>Current Price</p>
				      </div>
						</div>
            <% total += @sidebanner_01.price_before - @sidebanner_01.price_after %>
            <% discount += total.to_f / @sidebanner_01.price_before * 100  %>
            <% if @sidebanner_01.price_before? %>
             <h3 class="yousave"><%= number_to_currency total, unit: "$", seperator: "", delimiter: ""  %>(<%= discount.round(0) %>%) Savings</h3>
            <% end %>
						
						<a href="/ecommerces/detail/<%= @sidebanner_01.id %>" class="button">View Detail</a>
					</article>
					
					<article>
						<a href="/ecommerces/detail/<%= @sidebanner_02.id %>" class="image"><img src="<%= @sidebanner_02.image_main %>" alt="" /></a>
						<h3><%= @sidebanner_02.title %></h3>
						<p><%= @sidebanner_02.intro %></p>
						
						<% total = 0 %>
						<% discount  = 0 %>
						<div class="price">
							<div class="price_h3">
								<h3 class="price_before"><%= number_to_currency @sidebanner_02.price_before, unit: "$", seperator: "", delimiter: ""  %></h3>
							 </div>
			        <div class="price_p">
				       <p>Original Price</p>
				      </div>	
						</div>	
						<div class="price">
						  <div class="price_h3">
								<h3 class="price_after"><%= number_to_currency @sidebanner_02.price_after, unit: "$", seperator: "", delimiter: ""  %></h3>
							</div>
					    <div class="price_p2">
				       <p>Current Price</p>
				      </div>
						</div>
            <% total += @sidebanner_02.price_before - @sidebanner_02.price_after %>
            <% discount += total.to_f / @sidebanner_02.price_before * 100  %>
            <% if @sidebanner_02.price_before? %>
             <h3 class="yousave"><%= number_to_currency total, unit: "$", seperator: "", delimiter: ""  %>(<%= discount.round(0) %>%) Savings</h3>
            <% end %>
						
						<a href="/ecommerces/detail/<%= @sidebanner_02.id %>" class="button">View Detail</a>
					</article>
					
					<article>
						<a href="/ecommerces/detail/<%= @sidebanner_03.id %>" class="image"><img src="<%= @sidebanner_03.image_main %>" alt="" /></a>
						<h3><%= @sidebanner_03.title %></h3>
						<p><%= @sidebanner_03.intro %></p>
						
						<% total = 0 %>
						<% discount  = 0 %>
						<div class="price">
							<div class="price_h3">
								<h3 class="price_before"><%= number_to_currency @sidebanner_03.price_before, unit: "$", seperator: "", delimiter: ""  %></h3>
							 </div>
			        <div class="price_p">
				       <p>Original Price</p>
				      </div>	
						</div>	
						<div class="price">
						  <div class="price_h3">
								<h3 class="price_after"><%= number_to_currency @sidebanner_03.price_after, unit: "$", seperator: "", delimiter: ""  %></h3>
							</div>
					    <div class="price_p2">
				       <p>Current Price</p>
				      </div>
						</div>
            <% total += @sidebanner_03.price_before - @sidebanner_03.price_after %>
            <% discount += total.to_f / @sidebanner_03.price_before * 100  %>
            <% if @sidebanner_03.price_before? %>
             <h3 class="yousave"><%= number_to_currency total, unit: "$", seperator: "", delimiter: ""  %>(<%= discount.round(0) %>%) Savings</h3>
            <% end %>
						
						<a href="/ecommerces/detail/<%= @sidebanner_03.id %>" class="button">View Detail</a>
					</article>
					
					<article>
						<a href="/ecommerces/detail/<%= @sidebanner_04.id %>" class="image"><img src="<%= @sidebanner_04.image_main %>" alt="" /></a>
						<h3><%= @sidebanner_04.title %></h3>
						<p><%= @sidebanner_04.intro %></p>
						
						<% total = 0 %>
						<% discount  = 0 %>
					<div class="price">
							<div class="price_h3">
								<h3 class="price_before"><%= number_to_currency @sidebanner_04.price_before, unit: "$", seperator: "", delimiter: ""  %></h3>
							 </div>
			        <div class="price_p">
				       <p>Original Price</p>
				      </div>	
						</div>	
						<div class="price">
						  <div class="price_h3">
								<h3 class="price_after"><%= number_to_currency @sidebanner_04.price_after, unit: "$", seperator: "", delimiter: ""  %></h3>
							</div>
					    <div class="price_p2">
				       <p>Current Price</p>
				      </div>
						</div>
            <% total += @sidebanner_04.price_before - @sidebanner_04.price_after %>
            <% discount += total.to_f / @sidebanner_04.price_before * 100  %>
            <% if @sidebanner_04.price_before? %>
             <h3 class="yousave"><%= number_to_currency total, unit: "$", seperator: "", delimiter: ""  %>(<%= discount.round(0) %>%) Savings</h3>
            <% end %>
					
						<a href="/ecommerces/detail/<%= @sidebanner_04.id %>" class="button">View Detail</a>
					</article>
					
					<article>
						<a href="/ecommerces/detail/<%= @sidebanner_05.id %>" class="image"><img src="<%= @sidebanner_05.image_main %>" alt="" /></a>
						<h3><%= @sidebanner_05.title %></h3>
						<p><%= @sidebanner_05.intro %></p>
						
						<% total = 0 %>
						<% discount  = 0 %>
						<div class="price">
							<div class="price_h3">
								<h3 class="price_before"><%= number_to_currency @sidebanner_05.price_before, unit: "$", seperator: "", delimiter: ""  %></h3>
							 </div>
			        <div class="price_p">
				       <p>Original Price</p>
				      </div>	
						</div>	
						<div class="price">
						  <div class="price_h3">
								<h3 class="price_after"><%= number_to_currency @sidebanner_05.price_after, unit: "$", seperator: "", delimiter: ""  %></h3>
							</div>
					    <div class="price_p2">
				       <p>Current Price</p>
				      </div>
						</div>
            <% total += @sidebanner_05.price_before - @sidebanner_05.price_after %>
            <% discount += total.to_f / @sidebanner_05.price_before * 100  %>
            <% if @sidebanner_05.price_before? %>
             <h3 class="yousave"><%= number_to_currency total, unit: "$", seperator: "", delimiter: ""  %>(<%= discount.round(0) %>%) Savings</h3>
            <% end %>
						
						<a href="/ecommerces/detail/<%= @sidebanner_05.id %>" class="button">View Detail</a>
					</article>
					
					<article>
						<a href="/ecommerces/detail/<%= @sidebanner_06.id %>" class="image"><img src="<%= @sidebanner_06.image_main %>" alt="" /></a>
						<h3><%= @sidebanner_06.title %></h3>
						<p><%= @sidebanner_06.intro %></p>
						
						<% total = 0 %>
						<% discount  = 0 %>
						<div class="price">
							<div class="price_h3">
								<h3 class="price_before"><%= number_to_currency @sidebanner_06.price_before, unit: "$", seperator: "", delimiter: ""  %></h3>
							 </div>
			        <div class="price_p">
				       <p>Original Price</p>
				      </div>	
						</div>	
						<div class="price">
						  <div class="price_h3">
								<h3 class="price_after"><%= number_to_currency @sidebanner_06.price_after, unit: "$", seperator: "", delimiter: ""  %></h3>
							</div>
					    <div class="price_p2">
				       <p>Current Price</p>
				      </div>
						</div>
            <% total += @sidebanner_06.price_before - @sidebanner_06.price_after %>
            <% discount += total.to_f / @sidebanner_06.price_before * 100  %>
            <% if @sidebanner_06.price_before? %>
             <h3 class="yousave"><%= number_to_currency total, unit: "$", seperator: "", delimiter: ""  %>(<%= discount.round(0) %>%) Savings</h3>
            <% end %>
						
						<a href="/ecommerces/detail/<%= @sidebanner_06.id %>" class="button">View Detail</a>
					</article>
					
					<article>
						<a href="/ecommerces/detail/<%= @sidebanner_07.id %>" class="image"><img src="<%= @sidebanner_07.image_main %>" alt="" /></a>
						<h3><%= @sidebanner_07.title %></h3>
						<p><%= @sidebanner_07.intro %></p>
						
						<% total = 0 %>
						<% discount  = 0 %>
						<div class="price">
							<div class="price_h3">
								<h3 class="price_before"><%= number_to_currency @sidebanner_07.price_before, unit: "$", seperator: "", delimiter: ""  %></h3>
							 </div>
			        <div class="price_p">
				       <p>Original Price</p>
				      </div>	
						</div>	
						<div class="price">
						  <div class="price_h3">
								<h3 class="price_after"><%= number_to_currency @sidebanner_07.price_after, unit: "$", seperator: "", delimiter: ""  %></h3>
							</div>
					    <div class="price_p2">
				       <p>Current Price</p>
				      </div>
						</div>
            <% total += @sidebanner_07.price_before - @sidebanner_07.price_after %>
            <% discount += total.to_f / @sidebanner_07.price_before * 100  %>
            <% if @sidebanner_07.price_before? %>
             <h3 class="yousave"><%= number_to_currency total, unit: "$", seperator: "", delimiter: ""  %>(<%= discount.round(0) %>%) Savings</h3>
            <% end %>
						
						<a href="/ecommerces/detail/<%= @sidebanner_07.id %>" class="button">View Detail</a>
					</article>
					
					<article>
						<a href="/ecommerces/detail/<%= @sidebanner_08.id %>" class="image"><img src="<%= @sidebanner_08.image_main %>" alt="" /></a>
						<h3><%= @sidebanner_08.title %></h3>
						<p><%= @sidebanner_08.intro %></p>
						
						<% total = 0 %>
						<% discount  = 0 %>
						<div class="price">
							<div class="price_h3">
								<h3 class="price_before"><%= number_to_currency @sidebanner_08.price_before, unit: "$", seperator: "", delimiter: ""  %></h3>
							 </div>
			        <div class="price_p">
				       <p>Original Price</p>
				      </div>	
						</div>	
						<div class="price">
						  <div class="price_h3">
								<h3 class="price_after"><%= number_to_currency @sidebanner_08.price_after, unit: "$", seperator: "", delimiter: ""  %></h3>
							</div>
					    <div class="price_p2">
				       <p>Current Price</p>
				      </div>
						</div>
            <% total += @sidebanner_08.price_before - @sidebanner_08.price_after %>
            <% discount += total.to_f / @sidebanner_08.price_before * 100  %>
            <% if @sidebanner_08.price_before? %>
             <h3 class="yousave"><%= number_to_currency total, unit: "$", seperator: "", delimiter: ""  %>(<%= discount.round(0) %>%) Savings</h3>
            <% end %>
						
						<a href="/ecommerces/detail/<%= @sidebanner_08.id %>" class="button">View Detail</a>
					</article>
					
					<article>
						<a href="/ecommerces/detail/<%= @sidebanner_09.id %>" class="image"><img src="<%= @sidebanner_09.image_main %>" alt="" /></a>
						<h3><%= @sidebanner_09.title %></h3>
						<p><%= @sidebanner_09.intro %></p>
						
						<% total = 0 %>
						<% discount  = 0 %>
						<div class="price">
							<div class="price_h3">
								<h3 class="price_before"><%= number_to_currency @sidebanner_09.price_before, unit: "$", seperator: "", delimiter: ""  %></h3>
							 </div>
			        <div class="price_p">
				       <p>Original Price</p>
				      </div>	
						</div>	
						<div class="price">
						  <div class="price_h3">
								<h3 class="price_after"><%= number_to_currency @sidebanner_09.price_after, unit: "$", seperator: "", delimiter: ""  %></h3>
							</div>
					    <div class="price_p2">
				       <p>Current Price</p>
				      </div>
						</div>
            <% total += @sidebanner_09.price_before - @sidebanner_09.price_after %>
            <% discount += total.to_f / @sidebanner_09.price_before * 100  %>
            <% if @sidebanner_09.price_before? %>
             <h3 class="yousave"><%= number_to_currency total, unit: "$", seperator: "", delimiter: ""  %>(<%= discount.round(0) %>%) Savings</h3>
            <% end %>
						
						<a href="/ecommerces/detail/<%= @sidebanner_09.id %>" class="button">View Detail</a>
					</article>
					
					<article>
						<a href="/ecommerces/detail/<%= @sidebanner_10.id %>" class="image"><img src="<%= @sidebanner_10.image_main %>" alt="" /></a>
						<h3><%= @sidebanner_10.title %></h3>
						<p><%= @sidebanner_10.intro %></p>
						
						<% total = 0 %>
						<% discount  = 0 %>
						<div class="price">
							<div class="price_h3">
								<h3 class="price_before"><%= number_to_currency @sidebanner_10.price_before, unit: "$", seperator: "", delimiter: ""  %></h3>
							 </div>
			        <div class="price_p">
				       <p>Original Price</p>
				      </div>	
						</div>	
						<div class="price">
						  <div class="price_h3">
								<h3 class="price_after"><%= number_to_currency @sidebanner_10.price_after, unit: "$", seperator: "", delimiter: ""  %></h3>
							</div>
					    <div class="price_p2">
				       <p>Current Price</p>
				      </div>
						</div>
            <% total += @sidebanner_10.price_before - @sidebanner_10.price_after %>
            <% discount += total.to_f / @sidebanner_10.price_before * 100  %>
            <% if @sidebanner_10.price_before? %>
             <h3 class="yousave"><%= number_to_currency total, unit: "$", seperator: "", delimiter: ""  %>(<%= discount.round(0) %>%) Savings</h3>
            <% end %>
						
						<a href="/ecommerces/detail/<%= @sidebanner_10.id %>" class="button">View Detail</a>
					</article>
							
		<!-- Footer -->
		<!--	<footer id="footer">-->
		<!--		<p class="copyright">&copy; Oh,I Gotta Buy This. All rights reserved.</p>-->
		<!--	</footer>-->
			
	</div><!-- class="inner" -->
</div><!-- id="sidebar" -->