<div id="sidebar">
	<div class="inner">

    <section id="search" class="alt">
      <%= form_tag(search_ecommerce_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search] %>        
      <% end %>
    </section>

    <!-- Menu -->
    <nav id="menu">
<!--     	<header class="major">
    		<h2>Menu</h2>
    	</header> -->
      <img src="<%=asset_path 'logo.jpg'%>" alt="ohigottabuythis.net"></img></br></br> 
    	<ul class="icons">
    	  <% if user_signed_in? %>
    	    <li><span class="hello">Hello,</span><br /> <%= current_user.name %></li></br>
          <li class="logout"><%= link_to "Log out, Are you sure?", destroy_user_session_path, method: :delete %></li>
          <br/><br />
    	  <% else %>
     <!-- <li class="login"><%= link_to "Log in", new_user_session_path %></li>
          <li class="signup"><%= link_to "Sign up", new_user_registration_path %></li><br /><br /> -->
    	  <% end %>
      </ul>
    	<ul>
    		<!-- <li>
    			<span class="opener">Account & Lists</span>
    			<ul>
            <li><%= link_to "About_us", contact_us_path %></li>
    				<li><%= link_to "Setting", edit_user_registration_path %></li>
    				<li><%= link_to "Wish List", wishlist_show_path %></li>	
    				<% if user_signed_in? %>
    				 <li class="logout"><%= link_to "Log out, Are you sure?", destroy_user_session_path, method: :delete %></li>
    				<% end %>
    			</ul>
    		</li> -->
        <li>
          <span class="opener">HotDeals & Coupons</span>
          <ul>
            <li><%= link_to "HotDeal Quick Search", quicksearch_path %></li>
            <li><%= link_to "Promotions & Events", promotion_path %></li>
            <li><%= link_to "Coupons", coupons_path %></li>
            <li><%= link_to "Discount Codes", discount_codes_path %></li>
            <!-- <li><%= link_to "HotDeal For Women", hotdeals_women_path %></li>
            <li><%= link_to "HotDeal For Men", hotdeals_men_path %></li> -->
          </ul>
        </li>
      	<li>
    			<span class="opener">Shop by Category</span>
    			<ul>
    				<% Pcategory.all.each do |pcategory| %>
    					<li><%= link_to pcategory.name, pcategory_product_path(pcategory: pcategory.name) %></li>
    				<% end %>
    			</ul>
      	</li>
      	<li>
    			<span class="opener">Shop by Price</span>
    			<ul>
    				<% Category.all.each do |category| %>
    					<li><%= link_to category.name, category_price_path(category: category.name) %></li>
    				<% end %>
    			</ul>
      	</li>
      	
    		<% if can? :manage, @ecommerces %>
    			<li><a href="/ecommerces/upload">Add New Gadget</a></li>
    			<li><a href="/rails/db">Management</a></li>
    			<li><a href="/message/message_board">Message Board</a></li>
    		<% end %>
    	</ul>
    </nav>
			
<!-- Section -->
  	<section>
  		<header class="major">
  			<h2>Random posts</h2>
  		</header>
  		<div class="mini-posts">

        <% @random_gadgets.each do |random_gadgets| %>
          <article>
            <a href="/ecommerces/detail/<%= random_gadgets.id %>" class="image"><img src="<%= random_gadgets.image_main %>" alt="" /></a>
            <h3><%= random_gadgets.title %></h3>
            <p><%= random_gadgets.intro %></p>
            <% total = 0 %>
            <% discount  = 0 %>
            <div class="price">
              <div class="price_h3">
                <h3 class="price_after"><%= number_to_currency random_gadgets.price_after, unit: "$", seperator: "", delimiter: ""  %></h3>
              </div>
            </div>
            <div class="price">
              <div class="price_h3">
                <h3 class="price_before"><%= number_to_currency random_gadgets.price_before, unit: "$", seperator: "", delimiter: ""  %></h3>
               </div>
            </div>&emsp;

            <% total += random_gadgets.price_before - random_gadgets.price_after %>
            <% discount += total.to_f / random_gadgets.price_before * 100  %>
            <% if random_gadgets.price_before? %>
             <h3 class="yousave"><%= number_to_currency total, unit: "$", seperator: "", delimiter: ""  %>(<%= discount.round(0) %>%) Savings</h3>
            <% end %>
            </br>
            <a href="/ecommerces/detail/<%= random_gadgets.id %>" class="button">View Detail</a>
          </article>
        <% end %>

      </div>
    </section>

	</div><!-- class="inner" -->
</div><!-- id="sidebar" -->