 <div class="blog_right_side"> 

    <div class="recent_post_wrap">
     <h2>Recent Posts</h2>
    
     <div class="recent_post">
      <div class="recent_post_img">
        <a href="/blog_posts/post_04"><img src="https://icdn2.digitaltrends.com/image/amazon-prime-day-packages-3-720x720.jpg"></a>
      </div>
      <div class="recent_post_title">
        <a href="/blog_posts/post_04"><p>All About The Amazon prime</a>
        <p class="recent_post_date"><i class="recent_icon"><img src="https://i.pinimg.com/564x/a6/e6/e8/a6e6e86d96fdbb7517993e0b7c43b1c4.jpg"><i> Jul. 10. 2018</p>
      </div>
     </div>

     <div class="recent_post">
      <div class="recent_post_img">
        <a href="/blog_posts/post_04"><img src="https://i.pinimg.com/564x/eb/19/50/eb19506d43bc49d673d7d14dcdf35513.jpg"></a>
      </div>
      <div class="recent_post_title">
        <a href="/blog_posts/post_04"><p>10 Awesome & Portable Coffee Makers</a>
        <p class="recent_post_date"><i class="recent_icon"><img src="https://i.pinimg.com/564x/a6/e6/e8/a6e6e86d96fdbb7517993e0b7c43b1c4.jpg"><i> Jun. 27. 2018</p>
      </div>
     </div>

     <div class="recent_post">
      <div class="recent_post_img">
        <a href="/blog_posts/post_03"><img src="https://i.pinimg.com/564x/4c/14/ae/4c14ae6547540a6dc4d51d5061c4d731.jpg"></a>
      </div>
      <div class="recent_post_title">
        <a href="/blog_posts/post_03"><p>10 Comfortable Travel Pillow you can deep sleep.</a>
        <p class="recent_post_date"><i class="recent_icon"><img src="https://i.pinimg.com/564x/a6/e6/e8/a6e6e86d96fdbb7517993e0b7c43b1c4.jpg"><i> Jun. 11. 2018</p>
      </div>
     </div>

     <div class="recent_post">
      <div class="recent_post_img">
        <a href="/blog_posts/post_02"><img src="https://3.bp.blogspot.com/-0Ov80MwVP0Q/WijjYA_NgdI/AAAAAAAACCM/OJpvy91JjoIa5AZirVuElHocK2lsxPYBwCLcBGAs/s1600/five%2B%25281%2529.png"></a>
      </div>
      <div class="recent_post_title">
        <a href="/blog_posts/post_02"><p>10 Awesome Smart Home Gadgets You Need To See</a>
        <p class="recent_post_date"><i class="recent_icon"><img src="https://i.pinimg.com/564x/a6/e6/e8/a6e6e86d96fdbb7517993e0b7c43b1c4.jpg"><i> Jun. 27. 2018</p>
      </div>
     </div>

     <div class="recent_post">
      <div class="recent_post_img">
        <a href="/blog_posts/post_01"><img src="https://i.pinimg.com/564x/d7/b5/33/d7b5337801205257c9737143afab4197.jpg"></a>
      </div>
      <div class="recent_post_title">
        <a href="/blog_posts/post_01"><p>5 Awesome &amp; Useful BackPack</a>
        <p class="recent_post_date"><i class="recent_icon"><img src="https://i.pinimg.com/564x/a6/e6/e8/a6e6e86d96fdbb7517993e0b7c43b1c4.jpg"><i> Apr. 20, 2018</p>
      </div>
     </div>
     
    </div>

    <div class="blog_side_amazon">
      <a href="/search/quicksearch"><img src="<%=asset_path 'amazon_banner.png'%>" alt="Planning a shopping on amazon?" title="Planning a shopping on amazon?"></a>
    </div><br>

     <div class="blog_side_amazon">
      <a href="#"><img src="<%=asset_path 'test_box.png'%>" alt="Planning a shopping on amazon?" title="Planning a shopping on amazon?"></a>
      <a href="#"><img src="<%=asset_path 'test_box.png'%>" alt="Planning a shopping on amazon?" title="Planning a shopping on amazon?"></a>
      <a href="#"><img src="<%=asset_path 'test_box.png'%>" alt="Planning a shopping on amazon?" title="Planning a shopping on amazon?"></a>
      <a href="#"><img src="<%=asset_path 'test_box.png'%>" alt="Planning a shopping on amazon?" title="Planning a shopping on amazon?"></a>
      <a href="#"><img src="<%=asset_path 'test_box.png'%>" alt="Planning a shopping on amazon?" title="Planning a shopping on amazon?"></a>
      <a href="#"><img src="<%=asset_path 'test_box.png'%>" alt="Planning a shopping on amazon?" title="Planning a shopping on amazon?"></a>
      <a href="#"><img src="<%=asset_path 'test_box.png'%>" alt="Planning a shopping on amazon?" title="Planning a shopping on amazon?"></a>
      <a href="#"><img src="<%=asset_path 'test_box.png'%>" alt="Planning a shopping on amazon?" title="Planning a shopping on amazon?"></a>
      <a href="#"><img src="<%=asset_path 'test_box.png'%>" alt="Planning a shopping on amazon?" title="Planning a shopping on amazon?"></a>
      <a href="#"><img src="<%=asset_path 'test_box.png'%>" alt="Planning a shopping on amazon?" title="Planning a shopping on amazon?"></a>
     </div>
 

    <div class="twitter_bottom"></div>

    <div class="twitter-feed">
     <a class="twitter-timeline" data-height="1000" href="https://twitter.com/OhIgottabuythis?ref_src=twsrc%5Etfw">Tweets by OhIgottabuythis</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <div class="twitter_bottom"></div>
    
    <div class="pinterest_widget">
     <a data-pin-do="embedUser" data-pin-lang="ko" data-pin-board-width="300" data-pin-scale-height="500" data-pin-scale-width="150" href="https://www.pinterest.com.au/ohigottabuythis/"></a>
    </div><br>

     
 </div><!--/.blog_right_side-->