 <div class="blog_right_side"> 

    <div class="recent_post_wrap">
     <h2>Recent Posts</h2>
     <% @recent_post.each do |post| %>
      <div class="recent_post">
        <div class="recent_post_img">
          <a href="<%= post.blog_link %>"><img src="<%= post.blog_main_img %>"></a>
        </div>
        <div class="recent_post_title">
          <a href="<%= post.blog_link %>"><p><%= post.blog_title %></p></a>
          <p class="recent_post_date"><i class="recent_icon"><img src="https://i.pinimg.com/564x/a6/e6/e8/a6e6e86d96fdbb7517993e0b7c43b1c4.jpg"><i> <%= post.blog_date %></p>
        </div>
      </div>
     <% end %>

     <div class="recent_post">
      <div class="recent_post_img">
        <a href="/blog_posts/post_04"><img src="https://icdn2.digitaltrends.com/image/amazon-prime-day-packages-3-720x720.jpg"></a>
      </div>
      <div class="recent_post_title">
        <a href="/blog_posts/post_04"><p>All About The Amazon prime</a>
        <p class="recent_post_date"><i class="recent_icon"><img src="https://i.pinimg.com/564x/a6/e6/e8/a6e6e86d96fdbb7517993e0b7c43b1c4.jpg"><i> Jul. 10. 2018</p>
      </div>
     </div>

     <div class="recent_post">
      <div class="recent_post_img">
        <a href="/blog_posts/post_04"><img src="https://i.pinimg.com/564x/eb/19/50/eb19506d43bc49d673d7d14dcdf35513.jpg"></a>
      </div>
      <div class="recent_post_title">
        <a href="/blog_posts/post_04"><p>10 Awesome & Portable Coffee Makers</a>
        <p class="recent_post_date"><i class="recent_icon"><img src="https://i.pinimg.com/564x/a6/e6/e8/a6e6e86d96fdbb7517993e0b7c43b1c4.jpg"><i> Jun. 27. 2018</p>
      </div>
     </div>

     <div class="recent_post">
      <div class="recent_post_img">
        <a href="/blog_posts/post_03"><img src="https://i.pinimg.com/564x/4c/14/ae/4c14ae6547540a6dc4d51d5061c4d731.jpg"></a>
      </div>
      <div class="recent_post_title">
        <a href="/blog_posts/post_03"><p>10 Comfortable Travel Pillow you can deep sleep.</a>
        <p class="recent_post_date"><i class="recent_icon"><img src="https://i.pinimg.com/564x/a6/e6/e8/a6e6e86d96fdbb7517993e0b7c43b1c4.jpg"><i> Jun. 11. 2018</p>
      </div>
     </div>

     <div class="recent_post">
      <div class="recent_post_img">
        <a href="/blog_posts/post_02"><img src="https://3.bp.blogspot.com/-0Ov80MwVP0Q/WijjYA_NgdI/AAAAAAAACCM/OJpvy91JjoIa5AZirVuElHocK2lsxPYBwCLcBGAs/s1600/five%2B%25281%2529.png"></a>
      </div>
      <div class="recent_post_title">
        <a href="/blog_posts/post_02"><p>10 Awesome Smart Home Gadgets You Need To See</a>
        <p class="recent_post_date"><i class="recent_icon"><img src="https://i.pinimg.com/564x/a6/e6/e8/a6e6e86d96fdbb7517993e0b7c43b1c4.jpg"><i> Jun. 27. 2018</p>
      </div>
     </div>

     <div class="recent_post">
      <div class="recent_post_img">
        <a href="/blog_posts/post_01"><img src="https://i.pinimg.com/564x/d7/b5/33/d7b5337801205257c9737143afab4197.jpg"></a>
      </div>
      <div class="recent_post_title">
        <a href="/blog_posts/post_01"><p>5 Awesome &amp; Useful BackPack</a>
        <p class="recent_post_date"><i class="recent_icon"><img src="https://i.pinimg.com/564x/a6/e6/e8/a6e6e86d96fdbb7517993e0b7c43b1c4.jpg"><i> Apr. 20, 2018</p>
      </div>
     </div>
     
    </div>

    <div class="blog_side_amazon">
      <a href="/search/quicksearch"><img src="<%=asset_path 'amazon_banner.png'%>" alt="Planning a shopping on amazon?" title="Planning a shopping on amazon?"></a>
      <a href="https://amzn.to/2KoQ6YM"><img src="<%=asset_path 'coupon.png'%>" alt="amazon coupons" title="amazon coupons"></a>
      <a href="https://amzn.to/2L4WQKX"><img src="<%=asset_path 'prime_day.png'%>" alt="Amazon Prime Day" title="Amazon Prime Day"></a>
    </div><br>
 
    <div class="random_post_blog">
      <h2 class="gadget_title">Gadgets That Will Blow Your Mind</h2> 
        <% @ecommerces.each do |gadget| %>
         <a href="/ecommerces/detail/<%= gadget.id %>"><div class="blog_side_img"><img src="<%= gadget.image_main%>"></div></a>
        <% end %><br><br><br>
      <!-- <a href="/"><p class="see_more">See More Gadgets</p></a><br>       -->
    </div>

    <div class="twitter_bottom"></div>

    <div class="twitter-feed">
     <a class="twitter-timeline" data-height="1000" href="https://twitter.com/OhIgottabuythis?ref_src=twsrc%5Etfw">Tweets by OhIgottabuythis</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <div class="twitter_bottom"></div>
    
    <div class="pinterest_widget">
     <a data-pin-do="embedUser" data-pin-lang="ko" data-pin-board-width="300" data-pin-scale-height="500" data-pin-scale-width="150" href="https://www.pinterest.com.au/ohigottabuythis/"></a>
    </div><br>
    
    <!-- <div class="random_post_blog">
      <h2 class="shoes_title">Save Your Money Everyday (feat.shoes)</h2>
      <% @random.each do |random| %>  
        <%= link_to (image_tag random.main_img), random, {:class =>"blog_side"} %>
        <p class="blog_show_shoe_title"><%= link_to random.title, random %></p>
      <% end %>
     <a href="/shoes"><p class="see_more">See More Shoes</p></a><br>  
    </div>

    <div class="random_post_blog">
      <h2 class="bags_title">Save Your Money Everyday (feat.bags)</h2>
      <% @random_bags.each do |bag| %>  
        <%= link_to (image_tag bag.bag_main_img), bag, {:class =>"blog_side"} %>
      <p class="blog_show_shoe_title"><%= link_to bag.bag_title, bag %></p>
      <% end %>
      <a href="/bags"><p class="see_more">See More Shoes</p></a><br>      
    </div>
 -->
    
     
 </div><!--/.blog_right_side-->