<div id="wrapper">
    <div id="main">
      <div class="inner_hotdeals">

        <%= render 'shared/header' %>

        <ul class="icons">
         <li><h1>HotDeals For <span class="hotdeals_title">Women</span><h1></li>
         <li><a href="/hotdeals/hotdeals_men">:Men here..</a></li>
        </ul>
      
        <div class="wrap">

          <h2>Hi, Everyone :D</h2>
          <p>We have just made your life easier.</br> 
             We offer a quick way to find the best deals. You'll find what you're looking for at a great price <span class="hotdeals_title">"Up to 84% off"</span></p>
          
            <p class="notice_01">** Price may be changed after post published date.</p>
            <p>** Products may be sold out earlier after post published date.</p>
           

          <div class="tab">
            <div class="tablinks discount" onclick="openCity(event, 'Clothing')">Clothing</div>
            <div class="tablinks discount" onclick="openCity(event, 'Bags')">Bags</div>
            <div class="tablinks discount" onclick="openCity(event, 'Shoes')">Shoes</div>
            <div class="tablinks discount" onclick="openCity(event, 'Accessories')">Accessories</div>
            <div class="tablinks discount" onclick="openCity(event, 'Beauty')">Beauty</div>
            <a href="/search/quicksearch" target="_blank"><div class="tablinks discount"><span class="to_other_menu">Amazon Quick Search</span></div></a>
          </div>
      
          <div id="Clothing" class="tabcontent">
            <h3 class="hotdeals_title">Clothing</h3>
            <%= render 'shared/women_clothing' %>       
          </div>
    
          <div id="Bags" class="tabcontent" style="display:none">
            <h3 class="hotdeals_title">Bags</h3>
            <%= render 'shared/women_bags' %>
          </div>
          
          <div id="Shoes" class="tabcontent" style="display:none">
            <h3 class="hotdeals_title">Shoes</h3>
            <%= render 'shared/women_shoes' %>
          </div>

          <div id="Accessories" class="tabcontent" style="display:none">
            <h3 class="hotdeals_title">Accessories</h3>
            <%= render 'shared/women_accessories' %>
          </div>

          <div id="Beauty" class="tabcontent" style="display:none">
            <h3 class="hotdeals_title">Beauty</h3>
            <%= render 'shared/women_beauty' %>
          </div>

        </div>
        
    </div>
  </div>
  <%= render 'shared/sidebar' %>  
</div>


<script>
  function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
  }
</script>
