<%= simple_form_for @code do |f| %>
<!-- <div class="form_border">
  <h3>Select Market</h3>
  <%= f.select :discount_category, options_for_select([["Market", ""], "amazon", "ebay"])%>
  <h3>Select Department</h3>
  <%= f.select :discount_spare_01, options_for_select([["Department", ""], "automotive", "baby", "beauty", "books", "business", "cellphones", "clothing", "electronics", "fashion", "furniture", "grocery", "computer", "health", "home", "kitchen", "miscellaneous", "office", "pets", "garden", "sports", "tools", "toy"])%>
  <h3>Please check if it is a product of Amazon or not </h3>
  <%= f.select :discount_amazon, options_for_select([["Does it belongs to Amazon?(No)", ""], "Yes"])%>
 </div><br>
 <%= f.input :discount_title %>
 <%= f.input :discount_code %>
 <%= f.input :discount_date %>
 <%= f.input :discount_sale %>
 <%= f.input :discount_image %>
 <%= f.input :discount_source %>
 <%= f.input :discount_link_01 %>
 <%= f.input :discount_link_02 %>
 <%= f.input :discount_offer %>
 <%= f.input :discount_amazon_card %>
 <%= f.input :discount_used %>
 <%= f.input :discount_used_link %>
 <%= f.input :discount_coupon %>
 </br>
 <%= f.button :submit %> -->

 <h3>Select Department</h3>
  <%= f.select :discount_spare_01, options_for_select([["Department", ""], "automotive", "baby", "beauty", "books", "business", "cellphones & Accessories", "clothing & Accessories", "electronics", "fashion", "furniture", "grocery", "computer", "health", "home", "kitchen", "miscellaneous", "office", "pets", "garden", "sports", "tools", "toy & games"])%>
  <%= f.input :discount_title %>
  <%= f.input :discount_code %>
  <%= f.input :discount_date %>
  <%= f.input :discount_sale %>
  <%= f.input :discount_image %>
  <%= f.input :discount_link_01 %>
  <%= f.input :discount_link_02 %>
  </br>
  <%= f.button :submit %>
<% end %>