<!-- for play youtube video-->
<div class="overlay-video">
  <div class="videoWrapperExt">
    <div class="videoWrapper">
      <div class="video_close"></div>
        <iframe id="player" width="853" height="480" src="" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>        
 </div>

<div class="product_show">
  <div class="product--body">

    <div class="product--image">
      <img src="<%= @curation.cr_img %>" class="display-img">
      <p>Source : <%= @curation.cr_source %></p>
    </div>

    <div class="product--details">
      <div class="product--title"><%= @curation.cr_title %></div>
      <h3>Quick Overview</h3>
      <div class="product--desc"><p><%= @curation.cr_intro %></p></div>


      <ul class="shop_price_wrapper">
        <li><p class="shop_original_price">$<%= @curation.cr_aprice %></p></li>
        <li><p class="shop_sale_price">$<%= @curation.cr_bprice %></p></li> |
        <li><p class="shop_sale_percentage"><%= @curation.cr_sales %>% off</p></li>
      </ul>

      <div class="test_border"></div>

      <ul class="curation_video">
        <% if @curation.cr_youtube01.present? %>
         <li class="posted">
           <div class="js-overlay-start start" data-url="<%= @curation.cr_youtube01 %>">
            <button><i class="fa fa-play"></i>Watch Video</button>
           </div>
         </li>
        <% end %>
        <% if @curation.cr_youtube02.present? %>
          <li class="posted">
             <div class="js-overlay-start start" data-url="<%= @curation.cr_youtube02 %>">
              <button><i class="fa fa-play"></i>Watch Video</button>
             </div>
          </li>
        <% end %>
        <% if @curation.cr_spare_01.present? %>
         <li class="posted"><a target="_blank" href="<%= @curation.cr_spare_01 %>">See Review</a></li>
        <% end %>
      </ul>

      
      <ul class="shop_price_wrapper">
       <li><a target="_blank" class="shop_link" href="<%= @curation.cr_url %>"><p class="show_check shop_check">Check it Out</p></a></li>
       <!-- <li class="show_home"><a href="/curations">See more <i class="fa fa-arrow-right"></i></a></li> -->
      </ul>

    </div>

<!--Random post of shoes-->
   <div class="random_shoe">
    <h3>How about this?</h3>
    <%= link_to (image_tag @random_curation.cr_img), curation_path(@random_curation) %>
    <p><%= link_to @random_curation.cr_title, curation_path(@random_curation) %></p>

    <!-- Admin controll -->
    <% if can? :update, @curation %>
     <div class="show_admin">
      <h2>For Admin</h2>
      <ul class="shop_price_wrapper">
        <li><p><%= @curation.cr_option_01 %></p></li>
        <li><p><%= @curation.cr_option_02 %></p></li>
      </ul>
      <div class="admin_button">
        <%= link_to "Edit", edit_curation_path(@curation) %>
        <%= link_to "Delete", curation_path(@curation), method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
     </div>
    <% end %>
  </div><!--/.random_shoe -->

</div><!--/.product_show-->
