<%= simple_form_for @curation do |f| %>
<div class="form_border">
 <h2>Select Options</h2>
 <p class="form_p">Option_01(Category)</p>
 <%= f.select :cr_option_01, options_for_select([["Category", ""], "Geeky", "Gadget", "Home", "Kitchen", "Toy", "Travel"])%><br>

 <p class="form_p">Option_04(Price)</p>
 <%= f.select :cr_option_02, options_for_select([["Price", ""], "less_than_25", "25_to_50", "50_to_100", "100_to_150", "above_150"])%><br>
</div><br>
 
<div class="form_border">
 <span class="form_label">It is available now?</span>
 <%= f.select :cr_spare_07, options_for_select([["No", ""], "Yes"]) %><br/>
</div><br>

<div class="form_border">

 <span class="form_label">Is this available in other country?</span>
 <%= f.select :cr_spare_06, options_for_select([["No", ""], "Yes"]) %><br/>

 <span class="form_label">Is is on sale in the UK?</span>
 <%= f.select :cr_spare_04, options_for_select([["No", ""], "Yes"]) %><br/>

 <span class="form_label">Is is on sale in the Canada?</span>
 <%= f.select :cr_spare_05, options_for_select([["No", ""], "Yes"]) %><br/>

 <span class="form_label">Is this Free shipping on Amazon?</span>
 <%= f.select :cr_spare_02, options_for_select([["No free shipping", ""], "Free shipping"]) %><br/>

 <span class="form_label">Is this Free shipping?</span>
 <%= f.select :cr_spare_03, options_for_select([["No free shipping", ""], "Free shipping"]) %><br/>

</div><br>

<div class="form_border">
 <h2>Details(Title/Link/Description/Seller)</h2>
   <%= f.input :cr_title %>
   <%= f.input :cr_spare_08, label: 'Category for related items on Amazon' %>
   <%= f.input :cr_url %>
   <%= f.input :cr_intro %>
   <%= f.input :cr_source %>
   <%= f.input :cr_youtube01 %>
   <%= f.input :cr_youtube02 %>
   <%= f.input :cr_spare_01, label: 'Sourece of review' %>
</div><br>

 <div class="form_border">
  <h2>Price Information</h2>
   <%= f.input :cr_aprice %>
   <%= f.input :cr_bprice %>
   <%= f.input :cr_sales %>
 </div><br>

<div class="form_border">
 <h2>Images</h2>
 <%= f.input :cr_img %>
</div><br>

 <%= f.button :submit %>
 <%= link_to "Back", curations_path(@curation) %>
<% end %>
