<div id="wrapper">
  <div id="main">
    <div class="inner_hotdeals">
    <%= render 'shared/header' %>
      <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
      <!-- for play youtube video-->
      <div class="overlay-video">
        <div class="videoWrapperExt">
          <div class="videoWrapper">
            <div class="video_close"></div>
              <iframe id="player" width="853" height="480" src="" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>        
       </div>

       <div class="main_header_wrapper">
        <div class="left_banner">
          <a href="/search/quicksearch"><img src="<%=asset_path 'amazon_banner.png'%>" alt="Planning a shopping on amazon?" title="Planning a shopping on amazon?"></a>
        </div>
        <div class="right_banner">
          <a href="/blogs"><img src="<%=asset_path 'blog_main.png' %>" alt="the best shopping tip blog" title="the best shopping tip"></a>
        </div>
       </div>
      
      <section>
        
        <div class="gadgets_header">
          <h2>Awesome Gadgets That Will Blow Your Mind.</h2>
          <p>This is a collection that features all kinds of unique items that really cannot be classified in a single category. All you need to know is in this page, you are going to find a lot of cool & awesome items that you are most definitely going to like and perhaps even get tempted to buy some of them, so hang on tight to your wallet.:D</p>
        </div>
        <div class="gadgets_underline"></div>

        <%= render 'curations/view' %>
        
      </section>
        
    </div><!--/.inner_hotdeals-->
  </div><!--/#main-->
  <%= render 'shared/sidebar_curation' %>  
</div><!--/#wrapper-->