<div id="wrapper">
  <div id="main">
    <div class="inner_hotdeals">
    <%= render 'shared/header' %>
      <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
      
      <%= render 'curations/details' %>

      <h2>The Hottest Deals on eBay</h2>
      <%= render 'discounts/daily' %>
      <div class="cu_show_more">
       <a target="_blank" href="Link" >Show More <i class="fa fa-arrow-right"></i></a>
      </div>
      
      <div class="curation_show_wrapper">
       <h2>The Hottest Deals on Amazon</h2>
       <%= render 'search/hottest' %>
       <div class="cu_show_more">
        <a target="_blank" href="Link">Show More <i class="fa fa-arrow-right"></i></a>
       </div>
      </div>

      <div class="curation_show_wrapper">
       <h2>Awesome Gadgets</h2>
       <%= render 'curations/view' %>
       <div class="cu_show_more">
        <a target="_blank" href="Link">Show More <i class="fa fa-arrow-right"></i></a>
       </div>
      </div>
      
    </div><!--/.inner_hotdeals-->
  </div><!--/#main-->
</div><!--/#wrapper-->


