<div id="wrapper">
  <div id="main">
    <div class="inner_hotdeals">
    <%= render 'shared/header' %>
      <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
      
      <!-- for play youtube video-->
      <div class="overlay-video">
        <div class="videoWrapperExt">
          <div class="videoWrapper">
            <div class="video_close"></div>
              <iframe id="player" width="853" height="480" src="" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>        
       </div>

       <div class="coshow_wrappder">

        <div class="coshow_left">
          <img src="<%= @curation.cr_img %>">
        </div>

        <div class="coshow_right">
          <h3><%= @curation.cr_title %></h3>
          <p class="coshow_price">$<%= @curation.cr_aprice %></p>
          <hr>
            <div class="coshow_code_wrap">
              <ul>
                <li>
                 <div class="js-overlay-start start" data-url="<%= @curation.cr_youtube01 %>">
                  <button class="cushow_btn"><i class="fa fa-play"></i>&nbsp;Watch Video</button>
                 </div>
                </li>
                <% if @curation.cr_youtube02.present? %>
                  <li>
                   <div class="js-overlay-start start" data-url="<%= @curation.cr_youtube02 %>">
                    <button class="cushow_btn"><i class="fa fa-play"></i>&nbsp;Watch Video</button>
                   </div>
                  </li>
                <% end %>
                <% if @curation.cr_spare_01.present? %>
                  <li>
                   <div>
                    <button class="cushow_btn"><i class="fa fa-check-circle"></i><a target="_blank" href="<%= @curation.cr_spare_01 %>">&nbsp;See Reviews</a></button>
                   </div>
                  </li>
                <% end %>
              </ul>
            </div>
          <hr>

          <div class="coshow_content">
            <p><span>What's this?</span></p>
            <p><%= @curation.cr_intro %></p>
            <p class="cushow_des"><span><%= @curation.cr_title %></span> is now on sale for <span>$<%= @curation.cr_aprice %></span> at <span><%= @curation.cr_source %></span>. 
            <% if @curation.cr_spare_02.present? %>
             <div class="coshow_shipping"><%= @curation.cr_spare_02 %></div>
             <p class="coshow_free_shipping"><span>Shipping is free</span> ( Prime or on $25+ orders.) <a target="_blank" href="/blog_posts/post_05">What is the Amazon Prime?</a> </p>
            <% end %>
            <% if @curation.cr_spare_03.present? %>
             <div class="coshow_shipping"><%= @curation.cr_spare_03 %></div>
             <p class="coshow_free_shipping"><span>Shipping is free</span></p>
            <% end %>
          </div>

          <% if can? :update, @curation %>
          <div class="footer-social-icons">
            <ul class="social-icons">
              <a class="social-icon" id="shareFB" href="https://www.facebook.com/sharer/sharer.php?u=<%= url_for([@curation, { 
                 only_path: false }]) %>&t=<%= @curation.cr_title %>"
                 onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"   target="_blank" title="Share on Facebook"><li><i class="fa fa-facebook"></i><span class="sns_span_f">Share on Facebook</span></a></li></a>
                <script type="text/javascript">document.getElementById("shareFB").setAttribute("href", "https://www.facebook.com/sharer/sharer.php?u=" + document.URL);
                </script>

               <a class="social-icon" href="https://twitter.com/share?url=<%= url_for([@curation, { 
                 only_path: false }]) %>&via=ohigottabuythis&text=<%= @curation.cr_title %>"
                 onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                 target="_blank" title="Share on Twitter">
                 <li><i class="fa fa-twitter"></i><span class="sns_span_t">Share on Twitter</span></a></li>
                </a>   
              <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
          <% end %>

          <div class="coshow_control">
            <ul>
              <li><%= @curation.cr_source %></li>
              <% if can? :update, @curation %>
                <div class="admin_control">
                  <li><a href="/curations">Home</a></li>
                  <li><%= link_to "Edit", edit_curation_path(@curation) %></li>
                  <li><%= link_to "Delete", curation_path(@curation), method: :delete, data: { confirm: "Are you sure?" } %></li>
                  <li><%= "#{@curation.unique_impression_count} views" %></li>
                </div>
               <% end %>
            </ul>
          </div>

          <hr>

          <div class="coshow_btn">
            <ul>
              <li><a target="_blank" href="<%= @curation.cr_url %>">Check it Out</a></li>
            </ul>
          </div>
        </div>

      </div>

       <div class="coshow_other">
       <p class="coshow_hda">The Hottest Deals on Amazon</p>
       <%= render 'search/hottest' %>
       <div class="cu_show_more">
        <a target="_blank" href="https://amzn.to/2MVbClc">Show More <i class="fa fa-arrow-right"></i></a>
       </div>
      
       <div class="related_prodcut">
        <script type="text/javascript">
          amzn_assoc_placement = "adunit0";
          amzn_assoc_tracking_id = "3628-20";
          amzn_assoc_ad_mode = "search";
          amzn_assoc_ad_type = "smart";
          amzn_assoc_marketplace = "amazon";
          amzn_assoc_region = "US";
          amzn_assoc_default_search_phrase = "<%= @curation.cr_title %>";
          amzn_assoc_default_category = "All";
          amzn_assoc_linkid = "8e4056cd7c49b6d726c657f30e19d527";
          amzn_assoc_search_bar = "true";
          amzn_assoc_search_bar_position = "top";
          amzn_assoc_title = "Shop Related Products";
        </script>
        <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
       </div><br>

      </div>

      
    </div><!--/.inner_hotdeals-->
  </div><!--/#main-->
</div><!--/#wrapper-->


