<div class="ebay_wrap">
  <div class="ebay_search_finder">
   <%= simple_form_for @discount do |f| %>
     <%= f.input :eb_title, label: 'Seach Items on eBay', placeholder: 'Search on eBay' %><br>
     <h5>Select Shipping Condition</h5>
     <%= f.select :eb_free_sh, options_for_select([["Nothing", ""], "Free International Shpping"])%>
     <br>
     <ul>
      <li><%= f.input :eb_min_price, :input_html => { :type => "number", :class => "ebay_price" }, label: 'Min Price $', placeholder: 'Min $' %></li>&nbsp;&nbsp;~ 
      <li><%= f.input :eb_max_price, :input_html => { :type => "number", :class => "ebay_price" }, label: 'Max Price $', placeholder: 'Max $' %></li>
     </ul>
     <%= f.button :submit, :input_html => { :class => "ebay_button" } %>         
    <% end %>
    <% if can? :create, @discounts %>
     <div class="admin_discount">
      <%= link_to "Show KeyWords", new_discount_path %>
     </div>
    <% end %>
  </div>

  <div class="ebay_search_result">
    <% @discounts.each do |discount| %>   
    <div class="dis_wrapper">
      <div class="dis_table">
       <div class="dis_row dis_header">
        <div class="dis_cell">
          Item
        </div>
        <div class="dis_cell">
          Price Range
        </div>
        <div class="dis_cell">
          Free shipping
        </div>
      </div>
      <div class="dis_row">
        <div class="dis_cell" data-title="Item">
         <%= discount.eb_title %>
        </div>
        <% if discount.eb_min_price.present? %>
          <div class="dis_cell" data-title="Price Range">
            $<%= discount.eb_min_price %>.00 ~ $<%= discount.eb_max_price %>.00
          </div>
        <% else %>
         <div class="dis_cell" data-title="Price Range">
           None
         </div>
        <% end %>
        <% if discount.eb_free_sh.present? %>
         <div class="dis_cell" data-title="Free Shipping">O</div>
        <% else %>
         <div class="dis_cell" data-title="Free Shipping">X</div>
        <% end %>
      </div>
    </div>

    <h4 class="free_result">Check it out your search terms result below :</h4>
    <% if discount.eb_free_sh.present? %>
<!-- Select Free Shipping Option -->
    <% if discount.eb_min_price.present? %>
      <ul class="free_shipping_wrap">
       <a target="_blank" href="Link"><li>"<%= discount.eb_title %>" + Free International Shipping</li></a>
       <a target="_blank"  href="Link">
       <li>"<%= discount.eb_title %>" + Free International Shipping + Deals & Savings</li></a>
      </ul>
    <% else %>
      <ul class="free_shipping_wrap">
       <a target="_blank"  href="Link"><li>"<%= discount.eb_title %>" + Free International Shipping</li></a>
       <a target="_blank"  href="Link"><li>"<%= discount.eb_title %>" + Free International Shipping + Deals & Savings</li></a>
      </ul>
   <% end %>

   <% else %>
<!-- Don`t Select Free Shipping Option -->
    <% if discount.eb_min_price.present? %>
     <ul class="free_shipping_wrap">
      <a target="_blank"  href="Link"><li>"<%= discount.eb_title %>" + No Free International Shipping</li></a>
      <a target="_blank"  href="Link"><li>"<%= discount.eb_title %>" + Deals & Savings</li></a>
     </ul>
    <% else %>
     <ul class="free_shipping_wrap">
      <a target="_blank"  href="Link"><li>"<%= discount.eb_title %>" + No Free International Shipping</li></a>
      <a target="_blank"  href="Link"><li>"<%= discount.eb_title %>" + Deals & Savings</li></a>
     </ul>
    <% end %>
   <% end %>
  </div>
  <% end %>
 </div><!-- /.ebay_search_result -->
</div><!-- /.ebay_wrap -->

