<div class="blog_side_amazon">
  <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fdeals%2F%3F_trkparms%3Dmeid_vp%253Dda5678b495d845d0b2b7eaadcf48830d&campid=5338273158&toolid=20008"><img src="<%=asset_path 'daily.png'%>" alt="Daily Deals on eBay" title="Daily Deals on eBay"></a>

  
  <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fdeals%2Ftrending%2Fall&campid=5338273158&toolid=20008"><img src="<%=asset_path 'trend.png'%>" alt="trending deals on ebay" title="trending deals on ebay"></a>

  <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Frpp%2Fsale-events%3F_trkparms%3Dpageci%253A2af24cf6-9e43-11e8-8a9c-74dbd1803123%257Cparentrq%253A2eb8eb0e1650ab4cd4d41b9ffffdafa0%257Ciid%253A1&campid=5338273158&toolid=20008"><img src="<%=asset_path 'event.png'%>" alt="sales & events on ebay" title="sales & events on ebay"></a>

<!--   <a href="#"><img src="<%=asset_path 'test_box.png'%>" alt="Planning a shopping on amazon?" title="Planning a shopping on amazon?"></a>
  <a href="#"><img src="<%=asset_path 'test_box.png'%>" alt="Planning a shopping on amazon?" title="Planning a shopping on amazon?"></a> -->
</div>

<div class="twitter_bottom"></div>

<div class="twitter-feed">
 <a class="twitter-timeline" data-height="1000" href="https://twitter.com/OhIgottabuythis?ref_src=twsrc%5Etfw">Tweets by OhIgottabuythis</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>


 
