<div id="wrapper">
  <div id="main">
    <div class="eb_discount inner">
      <%= render 'shared/header' %>      
      <div class="togoup"><button onclick="topFunction()" id="myBtn" title="Go to top">Top</button></div>
        
      <div class="blogs_wrapper">  

       <div class="blog_left_main_post">

         <div class="fs_table">
          <a href="/dis_category/electronics"><img src="<%=asset_path 'fs_table.png'%>" alt="free shipping on ebay" title="free shipping on ebay"></a>
         </div>

         <div class="dis_container"><h1>Free Shipping Door-To-Door</h1></div>
          <%= render 'discounts/freeShipping' %>

         <div class="best_deal">
          <%= render 'discounts/bestDeal' %>
         </div>
         
         <div class="dis_container"><h3>The hottest Sales [Aug 15, 2018   -   Aug 15, 2018]</h3></div>
         <%= render 'discounts/daily' %>

         <div class="dis_container"><h3>Weekly Deals [Aug 9, 2018   -   Aug 15, 2018]</h3></div>
         <%= render 'discounts/weekly' %>
      
         <div class="dis_container">

          <ul>
            <li><h1>Best Deals of Our Pick</h1></li>
            <% if can? :create, @discounts %>
            <li class="admin_dis_add"><a href="/accessories/new"><h1>Add New Gadgets</h1></a></li>
            <% end %>
          </ul>
          
          <div class="dis_grid">
            <% @accessories.each do |acc| %>
            <div class="dis_card">
              <div class="dis_card--image"><a target="_blank" href="eb_link"><img src="<%= acc.acc_main_img %>"/></a></div>
              <div class="dis_card--content">
                <h3><a target="_blank" href="eb_link"><%= acc.acc_title %></a></h3>
                <p><%= acc.acc_description %></p>
                <ul class="dis_price">
                 <li>$<%= acc.acc_offer_price %></li>
                 <li>$<%= acc.acc_before_price %></li>
                </ul>
                <ul class="dis_btn">
                 <li><%= acc.acc_sale %>%Off</li>
                 <li><a target="_blank" href="eb_link">Check it out</a></li>
                </ul>
                <% if can? :create, acc %>
                <ul>
                 <li><%= link_to "Edit", edit_accessory_path(acc) %></li>
                 <li> <%= link_to "Delete", accessory_path(acc), method: :delete, data: { confirm: "Are you sure?" } %></li>
                </ul>
                <% end %>
              </div>        
            </div>
            <% end %>
           </div>
          </div>
          </div>

         </div><!--/.blog_left_main_post-->
         <div>
          <a class="scroll-up-btn -js-scroll-top" style="display: inline;">Scroll</a>
         </div> 

         <div class="blog_right_side"> 
          <%= render 'discounts/sidebar' %>
         </div>
      </div><!--/.blog_wrapper-->
    
    </div><!--/.inner-->
  </div><!--/#main-->
</div><!--/#wrapper-->

   
