<div id="wrapper">
 <div id="main">
  <div class="inner_hotdeals">
  <%= render 'shared/header' %>
  <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

    <h1>Key Words What`s Trending</h1>
    <table>
      <tr>
        <th>Keywords</th>
        <th>Min Price</th>
        <th>Max Price</th>
        <th>Date</th>
        <th colspan="2">Manage</th>
      </tr>
      <% @discounts.each do |discount| %>
      <tr>
        <td><%= discount.eb_title %></td>
        <td>$<%= discount.eb_min_price %>.00</td>
        <td>$<%= discount.eb_max_price %>.00</td>
        <td><%= discount.created_at.strftime("%B %d %Y") %></td>
        <td><%= link_to "Edit", edit_discount_path(discount) %></td>
        <td><%= link_to "Delete", discount_path(discount), method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
      <% end %>
    </table>

    <%= link_to "Home", discounts_path %>

   </div><!--/.inner_hotdeals-->
  </div><!--/#main-->
</div><!--/#wrapper-->