<div id="wrapper">
  <div id="main">
    <div class="inner_hotdeals">
    <%= render 'shared/header' %>
      <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

     <div class="flex main">
      <div class="flex-container">
        <a href="/shoes"><img src="<%=asset_path 'shoes.png'%>" class="flex-container-images" alt="shop by shoes"></img></a>
      </div>
      <div class="flex-container">
        <a href="/bags"><img src="<%=asset_path 'bags.png'%>" class="flex-container-images" alt="shop by bags Deals"></img></a>
      </div>
      <div class="flex-container">
        <a href="/clothes"><img src="<%=asset_path 'clothing.png'%>" class="flex-container-images" alt="shop by chothing"></img></a>
      </div>
      <div class="flex-container">
        <a href="/blogs"><img src="<%=asset_path 'blog.png'%>" class="flex-container-images" alt="shop by blog"></img></a>
      </div>
      </div></br></br>
 
      <div class="expanded row" data-equalizer data-equalize-on="medium" id="test-eq">
        <div class="large-18" data-equalizer-watch>
          <div class="grids">

            <% @shoes.each do |shoe| %>
              <div class="grid-item <%= shoe.option_01 %> <%= shoe.option_02 %> <%= shoe.option_03 %> <%= shoe.option_04 %> <%= shoe.option_05 %>">
     
                 <%= link_to (image_tag shoe.main_img), shoe, {:class =>"main_img"} %>
     
                <div class="shop_sale">
                  <div class="shop_sale_wrapper">
                    <div class="shop_sale_howmuch"><%= shoe.sale %>% </div>
                    <div class="shop_sale_text">SALE</div>
                  </div>
                </div>
                <p class="shop_product_title"><%= link_to shoe.title, shoe %></p>
                <div class="via_where">
                 <p class="shop_brand">via <%= shoe.option_03 %></p>
                </div>
                <ul class="shop_price_wrapper">
                  <li><p class="shop_original_price">$<%= shoe.offer_price %></p></li>
                  <li><p class="shop_sale_price">$<%= shoe.before_price %></p></li>
                </ul>
                <a target="_blank" href="<%= shoe.link %>"><p class="shop_check">Check it Out</p></a>
              </div>
            <% end %>
            <!--end grid-item-->
                            
          </div><!-- end grid-->
        </div><!--end col-->
      </div><!--end row-->
        
    </div><!--/.inner_hotdeals-->
  </div><!--/#main-->
  <%= render 'shared/sidebar_shoes' %>  
</div><!--/#wrapper-->