<div id="wrapper">
  <div id="main">
    <div class="inner_hotdeals">
    <%= render 'shared/header' %>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
      
      <ul class="shop_price_wrapper">
       <li><h1>Edit</h1></li> |
       <li><a href="/search/bestDeal">Back</a></li>
       <!-- <li><%= link_to "Back", accessories_path %></li> -->
      </ul><br>
      
     <%= simple_form_for @accessory do |f| %> 
      <span class="form_label">Is this Free shipping?</span>
       <%= f.select :acc_spare_01, ([["No free shipping", ""], "Free shipping"]) %><br/>

      <div class="form_border">
        <h2>Details(Title/Link/Description)</h2>
         <%= f.input :acc_title %>
         <%= f.input :acc_link %>
       </div><br>
      <div class="form_border">
       <h2>Price Information</h2>
        <%= f.input :acc_offer_price %>
        <%= f.input :acc_before_price %>
        <%= f.input :acc_sale %>
       </div><br>
      <div class="form_border">
        <h2>Images</h2>
        <%= f.input :acc_main_img %>
      </div><br>
       <%= f.button :submit%>
       <li><a href="/search/bestDeal">Back</a></li>
      <% end %>
   </div>
  </div>
</div>