<!-- Social Shring -->
<ul class="social">
  <!-- FaceBook -->
  <a class="facebook" id="shareFB" href="https://www.facebook.com/sharer/sharer.php?u=<%= url_for([@accessory, { 
   only_path: false }]) %>&t=<%= @accessory.acc_title %>"
   onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"   target="_blank" title="Share on Facebook"><li><i class="fa fa-facebook"></i><span>Share on Facebook</span></a></li></a>
  <script type="text/javascript">document.getElementById("shareFB").setAttribute("href", "https://www.facebook.com/sharer/sharer.php?u=" + document.URL);
  </script>
  <!-- Twitter -->
  <a class="twitter" href="https://twitter.com/share?url=<%= url_for([@accessory, { 
   only_path: false }]) %>&via=ohigottabuythis&text=<%= @accessory.acc_title %>"
   onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
   target="_blank" title="Share on Twitter">
   <li><i class="fa fa-twitter"></i><span>Share on Twitter</span></a></li>
  </a>
</ul>

<div id="wrapper">
  <div id="main">
    <div class="inner_hotdeals">
    <%= render 'shared/header' %>
      <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

      <div class="product_show">
        <div class="product--body">

          <div class="product--image">
            <img src="<%= @accessory.acc_main_img %>" class="display-img">
            <p>Source : <%= @accessory.acc_option_03 %></p>
            <div class="icon-images">
              <% if @accessory.acc_sub_img_01.present? %>
               <img src="<%= @accessory.acc_sub_img_01 %>"/>
              <% end %>
              <% if @accessory.acc_sub_img_02.present? %>
               <img src="<%= @accessory.acc_sub_img_02 %>"/>
              <% end %>
              <% if @accessory.acc_sub_img_03.present? %>
               <img src="<%= @accessory.acc_sub_img_03 %>"/>
              <% end %>
              <% if @accessory.acc_sub_img_04.present? %>
               <img src="<%= @accessory.acc_sub_img_04 %>"/>
              <% end %>
              <% if @accessory.acc_sub_img_05.present? %>
               <img src="<%= @accessory.acc_sub_img_05 %>"/>
              <% end %>
             <% if @accessory.acc_sub_img_06.present? %>
              <img src="<%= @accessory.acc_sub_img_06 %>"/>
             <% end %>
            </div>
          </div>

          <div class="product--details">
            <div class="product--title"><%= @accessory.acc_title %></div>
            <div class="product--desc"><p><%= @accessory.acc_description %></p></div>
            <ul class="shop_price_wrapper">
              <li><p class="shop_original_price">$<%= @accessory.acc_offer_price %></p></li>
              <li><p class="shop_sale_price">$<%= @accessory.acc_before_price %></p></li>
              <li><p class="shop_sale_percentage"><%= @accessory.acc_sale %>% off</p></li>
            </ul>
            <ul class="shop_price_wrapper">
             <li><a target="_blank" class="shop_link" href="<%= @accessory.acc_link %>"><p class="shop_check">Check it Out via <%= @accessory.acc_option_03 %></p></a></li>
             <li class="show_home"><%= link_to "See More >>", accessories_path %></li>
            </ul>
          </div>

          <!--Random post-->
          <div class="random_shoe">
            <h3>How about this?</h3>
            <%= link_to (image_tag @random_accessory.acc_main_img), bag_path(@random_accessory) %>
            <p><%= link_to @random_accessory.acc_title, accessory_path(@random_accessory) %></p>

            <!-- Admin controll -->
            <div class="show_admin">
              <% if can? :update, @accessory %>
                <h2>For Admin</h2>
                <ul class="shop_price_wrapper">
                  <li><p><%= @accessory.acc_option_01 %></p></li>
                  <li><p><%= @accessory.acc_option_02 %></p></li>
                  <li><p><%= @accessory.acc_option_03 %></p></li>
                  <li><p><%= @accessory.acc_option_04 %></p></li>
                  <li><p><%= @accessory.acc_option_05 %></p></li>
                </ul>
                <div class="admin_button">
                  <%= link_to "Edit", edit_accessory_path(@accessory) %>
                  <%= link_to "Delete", accessory_path(@accessory), method: :delete, data: { confirm: "Are you sure?" } %>
                </div>
              <% end %>
             </div>
          </div>

      </div><!--/.product_show-->
      
<!-- Related Shoes -->
      <div class="expanded row">
        <div class="large-18">
          <h2>Look for similar items in this category</h2>
          <div class="grids">
            <% @random.each do |random| %>
              <div class="grid-item">
                <%= link_to (image_tag random.acc_main_img), random, {:class =>"main_img"} %>
                <!-- <p class="shop_product_title"><%= link_to random.acc_title, random %></p> -->
              </div>
            <% end %>        
          </div><!-- end grid-->
        </div><!--end col-->
      </div><!--end row-->

      <!-- Random gadgets posts -->
      <h2>You may also be interested in</h2>
      <ul class="cards">
        <% @ecommerces.each do |gadgets| %>
          <li class="cards__item">
            <div class="card">
              <div class="card__image">
                <a href="/ecommerces/detail/<%= gadgets.id %>"><img src="<%= gadgets.image_main %>"></a>
              </div>
            </div>
          </li>
        <% end %>
      </ul>

       
      <div class="flex main">
        <div class="flex-container">
          <a href="/search/quicksearch"><img src="https://i.pinimg.com/564x/e8/a6/ce/e8a6ced6c8256ce3664eac7261b0eb21.jpg" class="flex-container-images" alt="Find Deals">
        </div>
        <div class="flex-container">
          <a href="/blogs/blogs_home"><img src="https://i.pinimg.com/564x/55/8c/37/558c378809d166b7cdc87ebd4e39610d.jpg" class="flex-container-images" alt="Awesome Blogs">
        </div>
        <div class="flex-container">
          <a href="/hotdeals/savings_percentage_70"><img src="https://i.pinimg.com/564x/5c/24/0e/5c240e075214c717a119f75f11722529.jpg" class="flex-container-images" alt="Save your money">         
        </div>
        <div class="flex-container">
          <a href="/ecommerces/gadgets"><img src="https://i.pinimg.com/564x/d4/56/e8/d456e85b0a8c8e4ffdf3103e473256dd.jpg" class="flex-container-images" alt="Awesome Gadgets">
        </div>
      </div>

    </div><!--/.inner_hotdeals-->
  </div><!--/#main-->
  <%= render 'shared/footer' %>
</div><!--/#wrapper-->

