<!DOCTYPE html>
<html>
<head>
  <title>Oh, I Gotta Buy This</title>
  
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
	
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<!--<link rel="stylesheet" href="assets/css/main.css" />-->
	<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->

 
 <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113637704-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-113637704-1');
  </script>


</head>
<body>
  
<% if notice %>
  <div id="notice_wrapper">
    <p class="notice"><%= notice %></p>
  </div>
<% else alert %>
  <div id="notice_wrapper">
   <p class="alert"><%= alert %></p>
  </div>
<% end %>
   
<%= yield %>
<%= javascript_include_tag 'application' %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


<!--For Facebook Like&Share Button-->
<div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<!--End Facebook Like&Share Button-->

<!--For Notice & Alert Message-->
<script>
  $(document).ready(function(){
    setTimeout(function(){
      $('#notice_wrapper').fadeOut("slow", function(){
        $(this).remove();
      });
    }, 3000);
  });
</script>
<!--End Notice & Alert Message-->


<!-- For OneLink -->
<div id="amzn-assoc-ad-9964b306-5e55-4810-adb9-cb2e4b817f96"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=9964b306-5e55-4810-adb9-cb2e4b817f96"></script>

<!--For Amazon -->
  <script type="text/javascript">
      amzn_assoc_ad_type = "link_enhancement_widget";
      amzn_assoc_tracking_id = "scarlet3628-20";
      amzn_assoc_linkid = "42a822b2d2d63295b8cd3efd84c72542";
      amzn_assoc_placement = "";
      amzn_assoc_marketplace = "amazon";
      amzn_assoc_region = "US";
  </script>
  <script src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace=US"></script>
<!--End Amazon -->


<!-- For Viglink -->
<script type="text/javascript">
  var vglnk = { key: '612885ab6f2612f546615f05e074f7a0' };

  (function(d, t) {
    var s = d.createElement(t); s.type = 'text/javascript'; s.async = true;
    s.src = '//cdn.viglink.com/api/vglnk.js';
    var r = d.getElementsByTagName(t)[0]; r.parentNode.insertBefore(s, r);
  }(document, 'script'));
</script>



</body>

</html>


