<!DOCTYPE html> 
<html lang="en">
  <head>
    <title>Oh, I Gotta Buy This</title>
    <meta charset="utf-8"/>
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge" /> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" /> -->
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=no">
    <link rel="shortcut icon" type="image/jpg" href="https://goo.gl/qBPfBM">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  	
  	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
  	<!--<link rel="stylesheet" href="assets/css/main.css" />-->
  	<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
  	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->

   <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113637704-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-113637704-1');
    </script>

    <!-- For eBay Affiliate Program -->
    <script>window._epn = {campaign:5338273158};</script>
    <script src="https://epnt.ebay.com/static/epn-smart-tools.js"></script>

  </head>

 <body>
  
    <% if notice %>
      <div id="notice_wrapper">
        <p class="notice"><%= notice %></p>
      </div>
    <% else alert %>
      <div id="notice_wrapper">
       <p class="alert"><%= alert %></p>
      </div>
    <% end %>
     
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <!-- for Isotope -->
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>

    <!-- Google Translate-->
<!--     <div id="google_translate_element"></div>
    <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
    }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> -->

    <!-- Pintrest sidebar widget -->
    <script async defer src="//assets.pinterest.com/js/pinit.js"></script>

    <!--For Notice & Alert Message-->
    <script>
      $(document).ready(function(){
        setTimeout(function(){
          $('#notice_wrapper').fadeOut("slow", function(){
            $(this).remove();
          });
        }, 3000);
      });
    </script>

    <!-- For OneLink of Amazon-->
    <div id="amzn-assoc-ad-9964b306-5e55-4810-adb9-cb2e4b817f96"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=9964b306-5e55-4810-adb9-cb2e4b817f96"></script>

    <!--For Amazon -->
      <script>
        amzn_assoc_ad_type = "link_enhancement_widget";
        amzn_assoc_tracking_id = "scarlet3628-20";
        amzn_assoc_linkid = "42a822b2d2d63295b8cd3efd84c72542";
        amzn_assoc_placement = "";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
      </script>
      <script src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace=US"></script>

    <!-- For Viglink -->
    <script>
      var vglnk = { key: '9f8b8215c45eaf9e20303d2bf9cb410c' };

      (function(d, t) {
        var s = d.createElement(t); s.type = 'text/javascript'; s.async = true;
        s.src = '//cdn.viglink.com/api/vglnk.js';
        var r = d.getElementsByTagName(t)[0]; r.parentNode.insertBefore(s, r);
      }(document, 'script'));
    </script>


    <!-- Go-Up Button All page-->
    <script>
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("myBtn").style.display = "block";
        } else {
            document.getElementById("myBtn").style.display = "none";
        }
    }

    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
    </script>

    <!-- For Angular Search on promotion page-->
    <script>
    function myFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";

            }
        }
    }
    </script>

    <!-- For QuickMenu -->
    <script>
    function myQuickmenu() {
        var x = document.getElementById("myMenu");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
    </script>

    <!-- Discount Departments Filler  -->
    <script>
    $(function() {
      FilterItems();
    });

    function FilterItems(){
      CatType=$('#discount_filter');
      CatType.change(function(){
        selectValue=$(this).val();
        previewSelected(selectValue); 
      });
    }

    function previewSelected(x){
      $('.discount_items li').fadeOut();
      $('li[rel='+x+']').delay(200).fadeIn();
      if(x=="all"){
        $('.discount_items li').fadeIn();
      }
      return false;
    }
    </script>

    <!-- 네비 메뉴 스크립트 -->
    <script>
      $(".open").click(function(){
      $(".navbar-collapsed").css("width", "290px");
      
      });

      $(".close").click(function(){
        $(".navbar-collapsed").css("width", "0");
        
      });
    </script>

    <!-- for playing Youtube on blog page-->
    <script>
        // video overlayer: start
      $(".js-overlay-start").unbind("click").bind("click", function(e) {
        e.preventDefault();
        var src = $(this).attr("data-url");
        $(".overlay-video").show();
        setTimeout(function() {
          $(".overlay-video").addClass("o1");
          $("#player").attr("src", src);
        }, 100);
      });
      // video overlayer: close it if you click outside of the modal
      $(".overlay-video").click(function(event) {
        if (!$(event.target).closest(".videoWrapperExt").length) {
          var PlayingVideoSrc = $("#player").attr("src").replace("&autoplay=1", "");
          $("#player").attr("src", PlayingVideoSrc);
          $(".overlay-video").removeClass("o1");
          setTimeout(function() {
            $(".overlay-video").hide();
          }, 600);
        }
      });
      // video overlayer: close it via the X icon
      $(".video_close").click(function(event) {
          var PlayingVideoSrc = $("#player").attr("src").replace("&autoplay=1", "");
          $("#player").attr("src", PlayingVideoSrc);
          $(".overlay-video").removeClass("o1");
          setTimeout(function() {
            $(".overlay-video").hide();
          }, 600);
      });
    </script>

   <!-- For Shoes_Shop sorting using Isotope-->
    <script>
    $( function() {
      // init Isotope
      var $container = $('.grids').isotope({
        itemSelector: '.grid-item',
        layoutMode: 'fitRows',
        filter: function() {
          var $this = $(this); 
          var buttonResult = buttonFilter ? $this.is( buttonFilter ) : true;
          return buttonResult;
        }
      });
       // store filter for each group
      var filters = {};
    var buttonFilter = '';
      $('#filters').on( 'click',
      '.button',
      function() {
        var $this = $(this);
        // get group key
        var $buttonGroup = $this.parents('.button-group');
        var filterGroup = $buttonGroup.attr('data-filter-group');
        // set filter for group
        filters[
          filterGroup
        ]= $this.attr('data-filter');
        // combine filters
        var filterValue = '';
        for ( var prop in filters ) {
          filterValue += filters[
            prop
          ];
        }buttonFilter = filterValue;
        // set filter for Isotope
        $container.isotope();
      });
        // change is-checked class on buttons
      $('.button-group').each( function( i,
      buttonGroup ) {
        var $buttonGroup = $( buttonGroup );
        $buttonGroup.on( 'click',
        'button',
        function() {
          $buttonGroup.find('.is-checked').removeClass('is-checked');
          $( this ).addClass('is-checked');
        });
      });
    });
    </script>

    
    <!-- For Image Gallery on Shoes_Show Page-->
    <script>
    var sizes = jQuery(".product--size").find("span");
    sizes.click(function() {
      sizes.removeClass("active");
      $(this).addClass("active");
    });
    
    // Change image on thumbnail click.
    var thumbs = $(".icon-images").find("img");
    thumbs.click(function() {
      var src = $(this).attr("src");
      var dp = $(".display-img");
      dp.attr("src", src);
    });
   </script>

  <!-- For Show more & Show less for revies on details page -->
  <script>
    ;(function($) {

    var dynamicMaxHeight = function(options) {
    var heightControl = (function(selector){
      $this = $(selector);
      $this.each(function(i, selector) {
        var maxItemHeight = $this.data('maxheight');
        var itemHeight = $this.find('.dynamic-wrap').outerHeight(); // get item height

        $this.attr("data-itemheight", itemHeight ); // store itemheight as attribute

        if (itemHeight > maxItemHeight){
           $this.addClass('height-active');
           $this.find('.dynamic-wrap').css('max-height', maxItemHeight);
           $this.find(options.trigger).css('display','inline-block'); // display "show more" button 
        }
      });
    }); 

    var showMoreShowLess = (function(selector, targetDiv){
      $(selector).each(function() {
        var $this = $(this); // clicked element
        var $targetDiv = $this.closest(targetDiv); // target div 

        var originalText = $this.attr( 'title' ); // get original button text
        var replaceText;

        if($this.data('replace-text')){
            replaceText = $this.data('replace-text');
            console.log(replaceText);
        }
        else{
            replaceText = "show less";
        }
        $this.click(function(e){

            var itemHeight = $targetDiv.data('itemheight');    // get original height
            var maxItemHeight = $targetDiv.data('maxheight');  // get max height
            
            if ($targetDiv.hasClass('height-active')) {
                // height control disabled
                $this.html(replaceText);
                $targetDiv.find('.dynamic-wrap').css('max-height', itemHeight);
            }
            else{
                // height control enabled
                $this.html(originalText);
                $targetDiv.find('.dynamic-wrap').css('max-height', maxItemHeight);
            }
            $targetDiv.toggleClass('height-active');
            e.preventDefault();
        }); 
      });
    }); 
    return{
     heightControl: heightControl,
     showMoreShowLess: showMoreShowLess
     };
    };
    
    $.fn.dynamicMaxHeight = function(options) {
      var dynamic = dynamicMaxHeight(options);

      return this.each(function() {
       dynamic.heightControl($(this), options);
       dynamic.showMoreShowLess(options.trigger, $(this));
          
      });
    };
    
   })(window.jQuery);

    $( document ).ready(function() {
      $('.dynamic-max-height').dynamicMaxHeight(
        { trigger : '.dynamic-show-more'}
      );
    });
  </script>


  <!-- Isotope For Discount_codes Page -->
  <script>
        // init Isotope
    var $card_container = $('.card_container').isotope({
      // options
      itemSelector: '.business_card',
      layoutMode: 'fitRows',
      transitionDuration: 0
    });

    // store filter for each group
    //var filters = {};
    var buttonSelected = '*';

    // bind filter on select change
    $('.filters-select').on( 'change', function() {
      // get filter value from option value
      var filterValue = this.value;
      $card_container.isotope({ filter: buttonSelected + filterValue });
    });

    // filter items on button click
    $('.filter_nav').on( 'click', 'button', function() {
      var filterValue = $(this).attr('data-filter');
      buttonSelected = filterValue;
      var filterDropdown = $('#selectDropdown option:selected').val();
      //alert('filterValue: ' + filterValue + filterDropdown);
      $card_container.isotope({ filter: filterValue + filterDropdown });
    });

    // change is-checked class on buttons for discount_codes
    $('.button-group').each( function( i, buttonGroup ) {
      var $buttonGroup = $( buttonGroup );
      $buttonGroup.on( 'click', 'button', function() {
        $buttonGroup.find('.is-checked').removeClass('is-checked');
        $( this ).addClass('is-checked');
      });
    });

    // change is-checked_promo class on buttons for discount_codes on quickSearch page.
    $('.button-group_promo').each( function( i, buttonGroup ) {
      var $buttonGroup = $( buttonGroup );
      $buttonGroup.on( 'click', 'button', function() {
        $buttonGroup.find('.is-checked_promo').removeClass('is-checked_promo');
        $( this ).addClass('is-checked_promo');
      });
    });

  </script>

  <!-- Show more Discount Code on QuickSearch Page -->
  <script>
    $(document).ready(function () {
      console.clear();
      var target = '.discount_list li',
            size = $(target).length,
               x = 8,  // Show on Start
           addTo = 4,  // Number to increase by
      loadButton = $('.load-more');
      $(target).hide();
      $(target + ':lt(' + x + ')').show();
      loadButton.on("click", function () {
        // if currently showing plus addTo is less than total, increment var x, otherwise set it to the total
        x = (x + addTo <= size) ? x + addTo : size;
        // Show the suckers
        $(target + ':lt('+x+')').show();
        // if showing is equal to total, hide button
        if (x == size){
            $(this).hide();
        }
        return false;
      });
    });
  </script>

<!-- Sticky and Up & Donw on QuickSearch page -->
<!--   <script>

    var sticky = document.querySelector('.quick_stiky_menu');
    var origOffsetY = sticky.offsetTop;
    function onScroll(e) {
        window.scrollY >= origOffsetY ? sticky.classList.add('fixed') :
            sticky.classList.remove('fixed');
    }
    document.addEventListener('scroll', onScroll);


    $(function () {
      $('a[href*="#"]:not([href="#"])').click(function () {
      if (location.pathname.replace(/^\//, '') === this.pathname.replace(/^\//, '') && location.hostname === this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
          if (target.length) {
              $('html, body').animate({
                  scrollTop: target.offset().top - 50
              }, 500);
              return false;
          }
        }
      });
    });
  </script> -->

 

 <!-- Image Gallery on Detail Page -->
  <script>
    var slideIndex = 1;
    showSlides(slideIndex);
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      // var captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      // captionText.innerHTML = dots[slideIndex-1].alt;
    }
  </script>


 <!-- ebay shipping condition accordian menu -->
 <script>
  $(document).ready(function() {
  $('.eb_nav .menu-trigger').click(function() {
    $('.eb_nav ul').slideToggle(500);
  });//end slide toggle
  
  $(window).resize(function() {   
    if (  $(window).width() > 500 ) {     
      $('.eb_nav ul').removeAttr('style');
     }
  });//end resize
});//end ready
 </script>


 <!-- ebay shipping condition accordian table  -->

 <script>
  $.fn.responsiveTable = function () {
    $(this).find('table').each(function () {
        var trAcc = $(this).find('tr').not('tr:first-child'),
            thHead = [];
        $(this).find('tr:first-child td, tr:first-child th').each(function () {
            headLines = $(this).text();
            thHead.push(headLines);
        });
        trAcc.each(function () {
          for (i = 0, l = thHead.length; i < l; i++) {
              $(this).find('td').eq(i + 1).prepend('<h3>' + thHead[i + 1] + '</h3>');
          }
        });
        trAcc.append('<i class="icon-accordion">+</i>');
        trAcc.click(function () {
        if ($(this).hasClass('accordion-opened')) {
            $(this).animate({
                maxHeight: '60px'
            }, 200).removeClass('accordion-opened').find('.icon-accordion').text('+');
        } else {
            $(this).animate({
                maxHeight: '1000px'
            }, 400).addClass('accordion-opened').find('.icon-accordion').text('-');
        }
      });
    });
  };
// Init
  $(function () {
      $('.js-responsive-table').responsiveTable();
  });
</script>

<!-- Table Search for eb discount -->
<script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>


<!-- scroll on Amazon Quick Search Page -->
<script>


$(".-js-hottable").unbind().click(function(event){
  event.preventDefault();
  $('html, body').animate({
     scrollTop: $("#section-hottable").offset().top
  }, 1000);
  
});

$(".-js-promodeal").unbind().click(function(event){
  event.preventDefault();
  $('html, body').animate({
     scrollTop: $("#-js-id-promodeal").offset().top
  }, 1000);
  
});

$(".-js-promocode").unbind().click(function(event){
  event.preventDefault();
  $('html, body').animate({
     scrollTop: $("#-js-id-promocode").offset().top
  }, 1000);
  
});

$(".-js-surprise").unbind().click(function(event){
  event.preventDefault();
  $("#-js-id-surprise").show();
  $('html, body').animate({
     scrollTop: $("#-js-id-surprise").offset().top
  }, 1000);
  
});

$(".-js-services").unbind().click(function(event){
  event.preventDefault();
  $('html, body').animate({
     scrollTop: $("#-js-id-services").offset().top
  }, 1000);
  
});

$(".-js-resources").unbind().click(function(event){
  event.preventDefault();
  $('html, body').animate({
     scrollTop: $("#-js-id-resources").offset().top
  }, 1000);
  
});

$(".-js-contact").unbind().click(function(event){
  event.preventDefault();
  $('html, body').animate({
     scrollTop: $("#-js-id-contact").offset().top
  }, 1000);
  
});


$(document).ready(function() {
        
  /* When distance from top = 250px fade button in/out */
  $(window).scroll(function(){
    if ($(this).scrollTop() > 250) {
      $('.-js-scroll-top').fadeIn(300);
    } else {
      $('.-js-scroll-top').fadeOut(300);
    }
  });

  /* On click scroll to top of page t = 1000ms */
  $('.-js-scroll-top').click(function(){
    $("html, body").animate({ scrollTop: 0 }, 750);
    return false;
  });
});



// menu
$(document).ready(function() {
    $('.mobile-nav').click(function() {
     $('.mobile-nav__icon').toggleClass('active'); 
        $('.menu').slideToggle();
    });
});


</script>

 </body>
</html>


